<center>
	<div class="form-common">
	<span class="title-common">Do you want to unsubscribe this email?</span>
	<div class="form-actions">
		<button class="btn-common" ng-click="UnSubscribe()">Unsubscribe</button>
	</div>
	<span class="error" ng-show="isError">{{errorConfirm}}</span>
	<span class="success" ng-show="isSuccess">{{errorConfirm}}</span>
	</div>
	<!-- <div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">


    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Confirm Subscribe Email Message</h4>
      </div>
      <div class="modal-body">
         	<span class="error" ng-show="!isSuccess">{{errorConfirm}}</span>
			<span class="success" ng-show="isSuccess">{{errorConfirm}}</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="Close()">Close</button>
      </div>
    </div>

  </div>
</div> -->
</center>
