<!-- custom editprofile form -->
<div class="deliverInfor personalInfor" ng-controller="DeliveryaddreesCtrl" ng-init="init()">
	<div class="title-personalInfor">
	<h3><b>Deliver Information</b></h3>
	</div>
	<form name="deliverinfor">
	<div class="profile address-form" ng-class="{'height-address':deliverinfor.$invalid}">
		<div id="title">
			<h4 class="title-profile title-deliver-address">Deliver to :</h4>
			<div class="home-dropdown">
				<select class="form-control" name="home" ng-model="home" ng-options="
						obj.id as obj.title for obj in listaddress" ng-change="changeID()" ng-show="isLength">
				</select>
			</div>
		</div>
			<div class="form-group title-home">
				<input type="text" class="form-control" name="title" placeholder="Name of home" required ng-model="titlehome" ng-minlength="2"/>
				<span ng-show="deliverinfor.title.$dirty && deliverinfor.title.$error.required" class="error">Name of home is required</span>
				<span ng-show="deliverinfor.title.$dirty && deliverinfor.title.$error.minlength" class="error">Name of home is more than 2 characters</span>
			</div>
		<div class="form-profile row">
			<div class="form-group lastname col-md-4">
				<input type="text" class="form-control" name="firstnamedeliver" placeholder="First name" ng-minlength="2" required ng-model="firstnamedeliver"/>
				<span ng-show="deliverinfor.firstnamedeliver.$dirty && deliverinfor.firstnamedeliver.$error.required" class="error">Firstname is required</span>
				<span ng-show="deliverinfor.firstnamedeliver.$dirty && deliverinfor.firstnamedeliver.$error.minlength" class="error">Firstname is more than 2 characters</span>
			</div>
			<div class="form-group firstname col-md-4">
				<input type="text" class="form-control" name="lastnamedeliver" placeholder="Last name" ng-minlength="2" required ng-model="lastnamedeliver"/>
				<span ng-show="deliverinfor.lastnamedeliver.$dirty && deliverinfor.lastnamedeliver.$error.required" class="error">Lastname is required</span>
				<span ng-show="deliverinfor.lastnamedeliver.$dirty && deliverinfor.lastnamedeliver.$error.minlength" class="error">Lastname is more than 2 characters</span>
			</div>
			<div class="form-group email col-md-4">
				<input type="text" class="form-control" name="phonenumber" placeholder="Your Phone number" ng-model="phonenumber" ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/" required/>
				<span ng-show="deliverinfor.phonenumber.$dirty && deliverinfor.phonenumber.$error.required" class="error">PhoneNumber is required</span>
				<span ng-show="deliverinfor.phonenumber.$dirty && deliverinfor.phonenumber.$error.pattern" class="error">Phonenumber is invalid</span>
			</div>
			</div>
			<div class="row form-address">
				<div class="form-group address col-md-4">
					<input type="text" class="form-control" name="address" placeholder="Address" ng-model="address" ng-minlength="2" required/>
					<span ng-show="deliverinfor.address.$dirty && deliverinfor.address.$error.required" class="error">Address is required</span>
					<span ng-show="deliverinfor.address.$dirty && deliverinfor.address.$error.minlength" class="error">Address is more than 2 characters</span>
				</div>
			<div class="form-group country col-md-4">
				<select class="form-control" name="district" ng-model=
				"district" ng-options="obj.id as obj.name for obj in countries" required>
				</select>
				<span ng-show="deliverinfor.district.$dirty && deliverinfor.district.$error.required" class="error">Address is required</span>
			</div>
			<div class="form-group city col-md-4">
				<select class="form-control" name="city">
					<option>Da Nang</option>
			</select>
			</div>
			</div>
			<div class="form-actions">
				<button class="btn-update deliver" ng-click="SetDelivery()"  ng-disabled="deliverinfor.$invalid" ng-show="!isNull">Update</button>
				<button class="btn-update create" ng-show="!isNull"  data-toggle="modal" data-target="#myModal">New</button>
				<button class="btn-update create"  ng-disabled="deliverinfor.$invalid" ng-click="CreateAddress()" ng-show="isNull">Add</button>
				<span class="error error-deliver" ng-show="isDeliverError">{{errordeliver}}</span>
				<span class="success-mes error-deliver" ng-show="isDeliverSuccess">{{errordeliver}}</span>
			</div>
		</div>
	</form>
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content" style="width:800px">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">X</button>
          <h4 class="modal-title">New Delivery Address</h4>
        </div>
        <div class="modal-body">
          <form name="newdeliverinfor">
			<div class="profile address-form height-newaddress">
			<h4 class="title-profile">Deliver to :</h4>
				<div class="form-group title-home" style="top:25px">
					<input type="text" class="form-control" name="titlehome" placeholder="New address" ng-minlength="2" required ng-model="newhome"/>
					<span ng-show="newdeliverinfor.titlehome.$dirty && newdeliverinfor.titlehome.$error.required" class="error">Name of home is required</span>
					<span ng-show="newdeliverinfor.titlehome.$dirty && newdeliverinfor.titlehome.$error.minlength" class="error">New address is more than 2 characters</span>
				</div>
			<div class="form-profile row">
				<div class="form-group lastname col-md-4">
					<input type="text" class="form-control" name="firstnamedeliver" placeholder="First name" ng-minlength="2" required ng-model="newfirstnamedeliver"/>
					<span ng-show="newdeliverinfor.firstnamedeliver.$dirty && newdeliverinfor.firstnamedeliver.$error.required" class="error">Firstname is required</span>
					<span ng-show="newdeliverinfor.firstnamedeliver.$dirty && newdeliverinfor.firstnamedeliver.$error.minlength" class="error">Firstname is more than 2 characters</span>
				</div>
				<div class="form-group firstname col-md-4">
					<input type="text" class="form-control" name="lastnamedeliver" placeholder="Last name" ng-minlength="2" required ng-model="newlastnamedeliver"/>
					<span ng-show="newdeliverinfor.lastnamedeliver.$dirty && newdeliverinfor.lastnamedeliver.$error.required" class="error">Lastname is required</span>
					<span ng-show="newdeliverinfor.lastnamedeliver.$dirty && newdeliverinfor.lastnamedeliver.$error.minlength" class="error">Lastname is more than 2 characters</span>	
				</div>
				<div class="form-group email col-md-4">
					<input type="text" class="form-control" name="phonenumber" placeholder="Your Phone number" ng-model="newphonenumber" ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/" required/>
					<span ng-show="newdeliverinfor.phonenumber.$dirty && newdeliverinfor.phonenumber.$error.required" class="error">PhoneNumber is required</span>
					<span ng-show="newdeliverinfor.phonenumber.$dirty && newdeliverinfor.phonenumber.$error.pattern" class="error">Phonenumber is invalid</span>
				</div>
				</div>
				<div class="row form-address">
					<div class="form-group address col-md-4">
						<input type="text" class="form-control" name="address" placeholder="Address" ng-model="newaddress" required ng-minlength="2"/>
						<span ng-show="newdeliverinfor.address.$dirty && newdeliverinfor.address.$error.required" class="error">Address is required</span>
						<span ng-show="newdeliverinfor.address.$dirty && newdeliverinfor.address.$error.minlength" class="error">Address is more than 2 characters</span>
					</div>
				<div class="form-group country col-md-4">
					<select class="form-control" name="district" ng-model=
					"newdistrict" ng-options="obj.id as obj.name for obj in countries" required>
					</select>
					<span ng-show="newdeliverinfor.district.$dirty && newdeliverinfor.district.$error.required" class="error">Address is required</span>
				</div>
				<div class="form-group city col-md-4">
					<select class="form-control" name="city">
						<option>Da Nang</option>
				</select>
				</div>
				</div>
				<div class="form-actions">
				<button type="submit" class="btn-update create" ng-show="newdeliverinfor.$invalid" style="left:15px;" uib-popover-html="htmlPopover" popover-trigger="mouseenter" popover-placement="right">Add</button>
				<button type="submit" class="btn-update create" ng-click="CreateExAddress()" ng-show="newdeliverinfor.$valid" style="left:15px;">Add</button>
					<span class="error error-deliver" ng-show="isDeliverError">{{errordeliver}}</span>
					<span class="success-mes error-deliver" ng-show="isDeliverSuccess">{{errordeliver}}</span>
				</div>
			</div>
		</form>
        </div>
      </div>
      
    </div>
  </div>
  
</div>
</div>