<!-- custom editprofile form -->
<div class="editprofile size" ng-init="init()" ng-controller="EditprofileCtrl"
>
<!-- custome infor account  -->
<div>
	<div class="infor-account">
		<div class="ava-img-div">
			<img ng-src="{{user | filterAvarta}}" class="ava-img">
		</div>
		<div class="content-acc">
			<p class="ava-name">Hi <b>{{user | filterName | minimizeText:15}}</b></p>
			<p>You currently have <b>{{user.balance | filterMoney}} VND</b> on your account</p>
			<p><b><i>You can order by:</i></b></p>
			<p class="list-card">- Cash</p>
			<p class="list-card">- Prepaid Card</p>
			<p class="list-card">- Paypal</p>
			<p class="list-card">- BitCoin</p>
		</div>
	</div>
	<div class="btn-addmoney-div">
	<button class="btn-addmoney" ui-sref="app.prepaid"><b>+ Add more money</b></button>
	</div>
</div>
<!-- custom list -->
<div class="list-personalcontent">
	<ul class="list-inforupdate">
		<li ng-repeat="template in templates"><a ng-click="setCurrent($index)" ng-class="{'active':isCurrent($index)}">{{template.title}}</a>
		</li>
	</ul>
	<!-- custom form edit profile -->
	<div ng-repeat="template in templates" ng-include="template.url" ng-show="isCurrent($index)" class="template">
	</div>
	<div style="clear:both"></div>
</div>
</div>