<div class="personalInfor">
	<form>
		<div class="title-refer-friend">
			Share Food, Get Food
		</div>
		<p>With your unique code: 652YU8, your friends will receive $40 off their first box, and you will receive $20 off of your next box as well! It's a win-win!</p>
		<img ng-src="./images/refer-friend.jpg">
		<div class="btn-refer-friend">
			<button class="btn-basic btn-facebook"><i class="fa fa-facebook" aria-hidden="true"></i> Invite friend with Facebook</button>
			<button class="btn-basic btn-goole"><i class="fa fa-google-plus" aria-hidden="true"></i> Invite friend with Google+</button>
			<button class="btn-basic btn-email"><i class="fa fa-envelope" aria-hidden="true"></i> Email Your Friends</button>
		</div>
	</form>
</div>