<div class="personalInfor" ng-controller="FoodpreferenceCtrl" ng-init="init()">
	<div class="title-personalInfor">
	<h3><b>Food Preference</b></h3>
	</div>
	<!-- <form> -->
	<div class="profile foodpreference" style="height:auto" ng-show="showFoodPreference">
	<div class="title">
		Your food preferences:
	</div>
	<!-- people in your family -->
		<div class="people-in-family-div">
			<p ng-show="isEditPeople">How many people in your family: <b>{{people}}</b> people</p>
			<p ng-show="!isEditPeople">How many people in your family <input type="text" class="tb-main tb-people" ng-disabled="isEditPeople" ng-model="people"> people</p>
				<button class="btn-add" id="btn-main" ng-show="isEditPeople" ng-click="showEditPeople()"><i class="fa fa-pencil" aria-hidden="true"></i></button>
				<button class="btn-add" id="btn-main" ng-show="!isEditPeople" ng-click="update()"><i class="fa fa-check" aria-hidden="true"></i></button>
		</div>
	<!-- food you like -->
		<div class="food-like-div">
			<p>Food you like:</p>
			<p ng-show="!isShowLike"><b>None</b></p>
			<ul class="table-show" ng-show="isShowLike">
				<li ng-repeat="foodlike in foodslike" class="content">
					<div class="content-delete"><a ng-click="delete(foodlike.id,0)">&times;</a></div>
					<div class="content-img">
						<img ng-src="{{foodlike.src}}" class="img-food"></br>
						{{foodlike.name}}
					</div>
				</li>
			</ul>
			<div class="add-more-btn">
				<button class="btn-add" id="btn-main" data-toggle="modal" data-target="#newModal"><i class="fa fa-plus"></i></button>
			</div>
			<div class="modal fade" id="newModal" role="dialog">
		    <div class="modal-dialog">
		    
		      <!-- Modal content-->
		      <div class="modal-content">
		        <div class="modal-header">
		          <button type="button" class="close" data-dismiss="modal">&times;</button>
		          <h4 class="modal-title">Add Like Ingredient</h4>
		        </div>
		        <div class="modal-body">
		        	<div>
		        		<input type="text" ng-model="foodsearch" class="tb-basic" ng-change="getFoodIngredient()">
		        	</div>
		        	<div class="result" ng-show="isAddedLike">
		        		<div class="item-result" ng-repeat="ingre in ingredients">
		        			<a ng-click="setFood(ingre.id,0)">
		        				<div class="img-ingre">
									<img ng-src="{{ingre.images[0].mini_url}}" class="img">
								</div>
								<div class="name-ingre">
									<span>{{ingre.name}}</span>
								</div>
		        			</a>
		        		</div>
		        	</div>
		        	<div class="result-for-add">
		        		<div ng-repeat="obj in listlike" class="food">
							<img ng-src="{{obj.image}}" style="border-radius:50%">
						</div>
		        	</div>
		        </div>
		        <div class="modal-footer">
		        <button class="btn-add" ng-click="add(0)" data-dismiss="modal">Submit</button>
		          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        </div>
		      </div>
    	</div>
  </div>
		</div>
		<div class="food-dislike-div">
			<p>Food you don't like:</p>
			<p ng-show="!isShowDisLike"><b>None</b></p>
			<ul class="table-show" ng-show="isShowDisLike">
				<li ng-repeat="food in foodsdislike"  class="content">
					<div class="content-delete"><a ng-click="delete(food.id,1)">&times;</a></div>
					<div class="content-img">
						<img ng-src="{{food.src}}" class="img-food"></br>
						{{food.name}}
					</div>
				</li>
			</ul>
			<div class="add-more-btn">
				<button class="btn-add" id="btn-main" data-toggle="modal" data-target="#newModal1"><i class="fa fa-plus"></i></button>
			</div>
			<div class="modal fade" id="newModal1" role="dialog">
		    <div class="modal-dialog">
		    
		      <!-- Modal content-->
		      <div class="modal-content">
		        <div class="modal-header">
		          <button type="button" class="close" data-dismiss="modal">&times;</button>
		          <h4 class="modal-title">Add DisLike Ingredient</h4>
		        </div>
		        <div class="modal-body">
		        	<div>
		        		<input type="text" ng-model="foodsearch" class="tb-basic" ng-change="getFoodIngredient()">
		        	</div>
		        	<div class="result" ng-show="isAddedLike">
		        		<div class="item-result" ng-repeat="ingre in ingredients">
		        			<a ng-click="setFood(ingre.id,1)">
		        				<div class="img-ingre">
									<img ng-src="{{ingre.images[0].mini_url}}" class="img">
								</div>
								<div class="name-ingre">
									<span>{{ingre.name}}</span>
								</div>
		        			</a>
		        		</div>
		        	</div>
		        	<div class="result-for-add">
		        		<div ng-repeat="obj in listdislike" class="food">
							<img ng-src="{{obj.image}}" style="border-radius:50%">
						</div>
		        	</div>
		        </div>
		        <div class="modal-footer">
		        <button class="btn-add" ng-click="add(1)" data-dismiss="modal">Submit</button>
		          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        </div>
		      </div>
    	</div>
  </div>
		</div>
		<div class="habit-div">
			<p>Anything your habit:</p>
			<input type="text" class="tb-main tb-habit" ng-disabled="isEditHabit" ng-show="isEditHabit" ng-model="habit">
			<input type="text" class="tb-main tb-habit" ng-disabled="isEditHabit" ng-show="!isEditHabit" ng-model="habit">
			<button class="btn-add" id="btn-main" ng-show="isEditHabit" ng-click="showEditHabit()"><i class="fa fa-pencil" aria-hidden="true"></i></button>
			<button class="btn-add" id="btn-main" ng-show="!isEditHabit" ng-click="update()"><i class="fa fa-check" aria-hidden="true"></i></button>
		</div>
	</div>
	<!-- </form> -->
</div>