<div class="personalInfor order_status" ng-controller="HistoryorderCtrl" ng-init="init()">
	<div class="title-personalInfor">
		<h3><b>Your history orders</b></h3>
	</div>
	<div class="content">
		<div class="panel panel-default" ng-repeat="order in historyorders|orderBy:'updated_at'">
            <!-- Default panel contents -->
        	<div class="panel-heading heading">
        		<div class="firstline">Your orders {{order.updated_at| date:'EEEE, MMMM d, y'}}</div>
        		<div class="secondline">
        			<div class="sendingInfor">Already delivery to 
                <b>{{order.bill_address.full_name}}-{{order.bill_address.address1}},{{order.bill_address.city}}</b>
    				</div>
        			<div class="option"></div>
        		</div>
        	</div>
        <!-- list history orders -->
            <div class="order-status-panel">
              <!-- head of history order -->
              <div class="order-status-head">
                <div class="left">
                  <div class="left-of-left">
                    Date Delivery
                  </div>
                  <div class="right-of-left">
                     Items
                  </div>
                </div>
                <div class="right">
                  <div class="left-of-right">
                    Deliver
                  </div>
                  <div class="right-of-right">
                      Status
                  </div>
                </div>
                <div class="both">
                </div>
              </div>
              <!-- content of history order -->
            <div  ng-repeat="item in order.delivery|orderBy:'date_delivery'">
              <div class="order-status-content" ng-repeat="shipment in item.shipments">
                 <div class="left">
                 <div class="left-of-left">
                  <p class="time-delivery">
                     {{shipment.date_delivery| date:'EEEE, MMMM d, y'}}</br>
                     {{shipment.time_frame.name}}
                  </p>
                  </div>
                  <div class="right-of-left">
                    <ul class="list-dish">
                      <li ng-repeat="dish in shipment.manifest" class="dish-li">
                        <div class="img-dish-info">
                          <img ng-src="{{dish.variant.images[0].product_url}}" class="dish-img">
                        </div>
                        <div class="dish-info">
                          <p class="name-info">{{dish.variant.name}}</p>
                          <p class="diff-info">
                            For {{dish.quantity}} people
                            {{dish.price|currency:"":0}} VND
                          </p>
                        </div>
                        <div style="clear:both"></div>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="right">
                  <div class="left-of-right infor-deliver">
                     <div class="img-deliver-info">
                        <img ng-src="./images/no_avatar.gif" class="account-img">
                      </div>
                      <div class="name-deliver-info">
                        Ung Hoang Phuc
                        Phone:
                        0976.234.565
                      </div>
                  </div>
                  <div class="right-of-right">
                      <p class="status">Already Delivered</p>
                  </div>
                </div>
                <div class="both">
                </div>
              </div>
              </div>
            </div>
      </div>
	</div>
</div>
