<div class="personalInfor order_status" ng-controller="OrderstatusCtrl" ng-init="init()">
	<div class="title-personalInfor">
		<h3><b>Your next orders</b></h3>
	</div>
	<div class="content">
		<div class="panel panel-default" ng-repeat="order in orders|orderBy:order.updated_at">
            <!-- Default panel contents -->
        	<div class="panel-heading heading">
        		<div class="firstline">Your orders on {{order.updated_at| date:'EEEE, MMMM d, y'}}</div>
        		<div class="secondline">
        			<div class="sendingInfor">Will delivery to 
        				<b>{{order.bill_address.full_name}}-{{order.bill_address.address1}},{{order.bill_address.city}}</b>
    				</div>
            <!-- data-toggle="modal" data-target="#changeAddressModal" -->
        			<div class="option"><a ng-click="setValue()" style="color:white">Change</a></div>
        		</div>
        	</div>
        	<!-- list next orders -->
            <div class="order-status-panel">
              <!-- head of order status -->
              <div class="order-status-head">
                <div class="left">
                  <div class="left-of-left">
                    Date Delivery
                  </div>
                  <div class="right-of-left">
                     Items
                  </div>
                </div>
                <div class="right">
                  <div class="left-of-right">
                    Deliver
                  </div>
                  <div class="right-of-right">
                      Status
                  </div>
                </div>
                <div class="both">
                </div>
              </div>
              <!-- content of order status -->
              <div  ng-repeat="item in order.delivery|orderBy:'date_delivery'">
              <div class="order-status-content"  ng-repeat="shipment in item.shipments|orderBy:'shipment.time_frame.id'">
                 <div class="left">
                 <div class="left-of-left">
                  <p class="time-delivery">
                     {{shipment.date_delivery| date:'EEEE, MMMM d, y'}}</br>
                     {{shipment.time_frame.name}}
                  </p>
                  </div>
                  <div class="right-of-left">
                    <ul class="list-dish">
                      <li ng-repeat="dish in shipment.manifest" class="dish-li">
                        <div class="img-dish-info">
                          <img ng-src="{{dish.variant.images[0].product_url}}" class="dish-img">
                        </div>
                        <div class="dish-info">
                          <p class="name-info">{{dish.variant.name}}</p>
                          <p class="diff-info">
                            For {{dish.quantity}} people
                            {{dish.price|currency:"":0}} VND
                          </p>
                        </div>
                        <div style="clear:both"></div>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="right">
                  <div class="left-of-right infor-deliver">
                     <div class="img-deliver-info">
                        <img ng-src="./images/no_avatar.gif" class="account-img">
                      </div>
                      <div class="name-deliver-info">
                        Ung Hoang Phuc
                        Phone:
                        0976.234.565
                      </div>
                  </div>
                  <div class="right-of-right">
                      <p class="status">Up coming</p>
                  </div>
                </div>
                <div class="both">
                </div>
              </div>
              </div>
            </div>
      </div>
	</div>
	<!-- custom change delivery address -->
	<div class="modal fade" id="changeAddressModal" role="dialog">
    <div class="modal-dialog" style="width:650px">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Change Delivery Information</h4>
        </div>
        <div class="modal-body change-deliver-form">
        <form name="ChangeDeliverForm">
        	<!--  -->
        	<div class="name-delivery">
        		<p>Delivery to(First and Last name):</p>
        		<div class="first-name">
        			<input type="text" ng-model="address.firstname" class="tb-order-status">
        		</div>
        		<div class="last-name">
        			<input type="text" ng-model="address.lastname" class="tb-order-status">
        		</div>
        	</div>
        	<!--  -->
        	<div class="address-delivery">
        		<p>Address:</p>
        		<div class="address">
        			<input type="text" ng-model="address.address" class="tb-order-status">
        		</div>
        		<div class="district">
        			<select class="select-order-status" ng-options="obj.id as obj.name for obj in districts" ng-model="address.district"></select>
        		</div>
        		<div class="city">
        			<select class="select-order-status">
        				<option>Da Nang</option>
        			</select>
        		</div>
        	</div>
        	<!--  -->
        	<div class="time-delivery">
        		<p>At:</p>
        		<div>
        			<select class="select-order-status"></select>
        			<a class="option">Other Option</a>
        		</div>
        	</div>
        </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button class="btn-change">Change</button>
        </div>
      </div>
      
    </div>
  </div>
</div>
