<div class="personalInfor" ng-controller="PersonalinformationCtrl" ng-init="init()">
	<div class="title-personalInfor">
	<h3><b>Personal Information</b></h3>
	</div>
	<form name="personalinfor">
	<div class="profile">
		<h4 class="title-profile">Avatar</h4>
		<div class="row form-profile">
			<div class="form-group col-md-4">
				<input type="file" accept="image/png,image/gif,image/jpeg" name="file" id="file" class="file" onchange="angular.element(this).scope().uploadFile(this)"/>
				<label for="file">
					<img ng-src="{{user | filterAvarta}}" class="avatar">
					<div class="curtain" ng-show="isLoading">
						<img src="./images/icons/loading.gif" class="loading">
					</div>
				</label>
			</div>
		</div>
	<h4 class="title-profile">Profile</h4>
		<div class="row form-profile">
			<div class="form-group lastname col-md-4">
				<input type="text" class="form-control" name="firstname" ng-model="firstname" placeholder="First name" ng-minlength="2" required/>
				<span ng-show="personalinfor.firstname.$dirty && personalinfor.firstname.$error.required" class="error">Firstname is required</span>
			 	<span ng-show="personalinfor.firstname.$dirty && personalinfor.firstname.$error.minlength" class="error">Firstname is more than 2 characters</span>
			</div>
			<div class="form-group firstname col-md-4">
				<input type="text" class="form-control" name="lastname" ng-model="lastname" placeholder="Last name" ng-minlength="2" required/>
				<span ng-show="personalinfor.lastname.$dirty && personalinfor.lastname.$error.required" class="error">Lastname is required</span>
			 	<span ng-show="personalinfor.lastname.$dirty && personalinfor.lastname.$error.minlength" class="error">Lastname is more than 2 characters</span>
			</div>
			<div class="form-group col-md-4">
				<input type="email" class="form-control email" name="email" ng-model="email" placeholder="Your email" disabled/>
			</div>
		</div>
		<div class="form-birthprofile">
			<h4 class="title-dayofbirth">Day of Birth</h4>
			<div class="row birth">
				<div class="form-group month col-md-4">
				<select class="form-control" name="month" ng-model="month" ng-options="
				obj.value as obj.text for obj in months" ng-change="change()">
				</select>
			</div>
			<div class="form-group day col-md-4">
				<select class="form-control" name="day" ng-model="date" ng-options="currdate for currdate in dates | filterDate:month:year" >
				</select>
			</div>
			<div class="form-group year col-md-4">
				<select class="form-control" name="year" ng-model="year" ng-options="curryear for curryear in years" ng-change="change()">
				</select>
			</div>
			</div>
			
		</div>

		<div class="form-actions">
				<button class="btn-update" ng-click="Update()" ng-disabled="personalinfor.lastname.$error.required || personalinfor.firstname.$error.required||personalinfor.email.$error.required ||personalinfor.lastname.$error.minlength||personalinfor.firstname.$error.minlength||personalinfor.email.$error.email">Update</button>
				<span class="error error-update" ng-show="isError">{{errorupdate}}</span>
				<span class="success-mes error-update" ng-show="isSuccess">{{errorupdate}}</span>
		</div>
	</div>
	<div class="change-password">
	<h4 class="title-profile">Change your password</h4>
	<div class="form-changepasword row">
			<div class="form-group cur-pass col-md-4">
				<input type="password" class="form-control" name="currentpwd" ng-model="currentpwd" placeholder="Current Password" />
			</div>
			<div class="form-group new-pass col-md-4">
				<input type="password" class="form-control" name="newpwd" ng-model="newpwd" id="newpwd" placeholder="New Password" ng-minlength="6" />
				<span ng-show="personalinfor.newtpwd.$dirty && personalinfor.newpwd.$error.minlength" class="error">Password is more than 6</span>
			</div>
			<div class="form-group confirm-pass col-md-4">
				<input type="password" class="form-control" name="repwd" ng-model="repwd" placeholder="Confirm Password" pw-check="newpwd"/>
				 <span class="error" ng-show="personalinfor.repwd.$dirty 
				 && personalinfor.repwd.$error.pwmatch">
    			Password don't match</span>
			</div>
	</div>	
			<div class="form-actions">
				<button class="btn-changepass" ng-click="ChangePass()">Change</button>
				<span class="success-mes error-update" ng-show="isSuccessChangepass">{{errorchangepass}}</span>
				<span class="error error-update" ng-show="isErrorChangepass">{{errorchangepass}}</span>
			</div>
		</div>
	</form>
</div>
