<div class="body-wish" ng-controller="WishlistCtrl" ng-init="init()">
	<div class="size wishlist">
		<center>
			<div id="title-of-wishlist">
				<p class="title-wishlist">My Favorite List</p>
			</div>
		</center>
		<div class="main-wishlist" ng-class="{'space':isNull|| isTrue}" id="wishlist">
		<table>
			<tr class="title">
				<td class="title-list title-product">Product</td>
				<td class="title-list title-unitprice">Unit price</td>
				<td class="title-list title-size">Size</td>
				<td class="title-list title-price">Price</td>
				<td></td>
				<td></td>
			</tr>
			<tr class="wishproduct" ng-repeat="product in wishdishes">
				<td class="title-product"> 
					<a class="title-a" ui-sref="app.onthemenu.dish({id : product.id,date:getTime(product)})">
						<img ng-src="{{product.images[0].product_url}}" class="img-product">
						<p class="name-product">{{product.name | limitTo:18}}</p>
					</a>
				</td>
				<td class="unitprice">{{getPrice(product.dish_price)|currency:"":0}}{{product.dish_currency}}</td>
				<td class="size">
					<select class="size-people" ng-options="obj.value as obj.size for obj in sizes" ng-model="list.sizepeople[$index]" ng-change="change($index)"></select>
				</td>
				<td class="price">
					{{list.price[$index]|currency:"":0}} {{product.dish_currency}}
				</td>
				<td class="delete-product">
					<button class="add-bag" data-toggle="modal" data-target="#myModal" ng-click="chooseDate(product,list.price[$index])">Add to bag</button>
							<!-- modal when add to bag -->
				<div class="modal fade" id="myModal" role="dialog" ng-class="{'opacity':isHide}">
			    	<div class="modal-dialog">
			    
				      <!-- Modal content-->
				      <div class="modal-content">
				        <div class="modal-header">
				          <button type="button" class="close" data-dismiss="modal">&times;</button>
				          <h4 class="modal-title">Choose availabe date for {{product.name}} </h4>
				        </div>
				        <div class="modal-body">
				          <p>You can choose a following date</p>
				          <div>
				          <a ng-repeat="dateinput in availabledate">
				          <button type="button" class="btn btn-primary" ng-click="addToBag(dateinput.product,dateinput.price,dateinput.date)" ng-hide="hideButton(dateinput.product,dateinput.date)" data-dismiss="modal">{{dateinput.date | date:'dd/MM/yyyy'}}</button>
				          </a>
				          </div>
				        </div>
				        <div class="modal-footer">
				          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				        </div>
				      </div>
	      
				    </div>
				  </div>
				</td>
				<td>
				<button class="btn-like">
				<center>
					<i class="fa fa-heart like" id="btn-like" ng-class="{'liked':list.liked[$index]}" ng-click="unLike(product.id,$index)"></i>	
				</center>
				</button>
				</td>
			</tr>
		</table>
		</div>
	</div>
</div>