.about{
	@extend .size ;
	.first{
	  	/*background-image: url("../images/team.jpg");
	  	background-repeat 	: no-repeat;
	    background-size 	: cover;
	 	height 				: 350px;*/
	    width 				: 100%;
	    .title{
    	    /*padding-top 	: 95px;*/
			text-align 		: center;
		    font-weight 	: 600;
		    font-style 		: italic;
		    @include other_font($ubuntu_font,56px,$base_color);
	    }
	}
	.second{
		position 		: relative;
	    margin-top 		: 10px;
		.title {
		    @include other_font($ubuntu_font,45px,$base_color);
		    text-align 	: center;
		    font-weight : 500;
    		font-style 	: italic;
		}
		.arrow {
	        position 	: absolute;
		    top 		: 45%;
		    width 		: 1132px;
		    height 		: 0px;
			.left{
			    height 			: 100px;
			    width 			: 40px;
			    cursor 			: pointer;
		        text-align  	: center;
    			font-size		: 70px;
    			border-radius 	: 3px;
			    background-color: rgba(255,255,255,.75);
			    border 			: 1px solid $dark_gray_color;
			    color 			: $dark_blue_color ;
			    &:hover{
			    	@include white_button;
			    };
			}
			.right {
				@extend .left;
			    position 	: absolute;
			    top 		: 0px;
			    right 		: 0px;
			}
		}
		.content{
		  	margin-top  	: 10px ;
		  	height  		: 365px;
		  	width 			: 15000px;
	  	    
		  	.member{
		  		float 			: left;
		  		margin-right 	: 35px;
		  		width 			: 250px;
	  		    margin-bottom 	: 10px;
				.infor{
					width 	: 265px;
					float 	: left;
					.images{
						height 			: 240px;
						border 			: 1px solid $dark_gray_color;
						cursor 			: pointer;
					    border-radius 	: 3px;
						img{
							width: 100%;
		    				height: 100%;
						}
					}
					.personal{
						height 	 	: 100px;
						border 		: 1px solid $dark_gray_color;
					    margin-top  : 10px;
					    cursor 		: pointer;
					    @include other_font($ubuntu_font,22px,#5b5e60);
					    border-radius: 3px;
					    .name{
				    	    margin-top 	: 15px;
						    text-align 	: center;
						    font-weight : 600;
						    
					    }
					    .position{
					    	font-size 	: 16px;
					    	text-align 	: center;
						    font-weight : 600;
						    margin-top  : 10px;
					    }
					    &:hover{
					    	background 	: $base_color ;
					    	color 		: $white_color;
					    };
					}
					.active_personal{
						background 	: $base_color ;
				    	color 		: $white_color;
					}
				}
				.introduction{
					border 		: 1px solid $dark_gray_color;
				    margin-left : 270px;
	    			height 		: 350px;
				    padding 	: 20px 25px;
				    white-space : pre-line;
				    text-align 	: justify;
				    transition  : all .3s ease-in;
				}
				.deactive{
					font-size  	: 0px;
					margin-left : 0px;
					border 		: 0px;
				}
		  	}
			.active{
				width 		: 800px;
				transition 	: all .3s ease-in;
			}
			.deactive{
				transition  : all .3s ease-in;
			}
			
		}
	}
}
