@mixin base_font {
	font-family: "Open Sans", sans-serif;
	font-size: 13px;
	color: #6B6B6B;
}
@mixin other_font($font,$size,$color){
	font-family: $font;
	font-size: $size;
	color: $color;
}
.form-common{
	position:relative;
	padding:10px 10px 10px 10px;
	top:20px;
	background:#FFFFFF;
	box-shadow:0px 2px 7px 0px rgba(0,0,0,0.20);
	border-radius:3px;
	width: 500px;
	height: 120px;
	margin-bottom:220px;
	.title-common{
		@include other_font(Ubuntu,18px,gray);
		font-style:Italic;
	}
	.btn-common{
		margin-left: 28px;
		margin-top: 20px;
		background-image:linear-gradient(-180deg, #ABABDF 1%, #8D8DC4 8%, #7070A5 100%);
		border:1px solid #66669A;
		border-radius:3px;
		width:139px;
		height:40px;
		font-family:"Open Sans", sans-serif;
		font-size:16px;
		color:#FFFFFF;
		line-height:22px;
		text-align:center;
	}
	.error{
	@include other_font(Ubuntu,14px,red);
	}
	.success{
	@include other_font(Ubuntu,14px,green);
	}
}