.comment_form{
	box-shadow 		: 0px 0px 3px 0px rgba(0, 0, 0, 0.64);
    border 			: 1px solid rgba(139, 119, 188, 0.06);
    border-radius	: 3px;
	@include base_font;
	.rate{
        margin 		: 10px 5px;
        span{
        	outline-color 		:$white_color;
        	i{
        		outline-color 	: $white_color;
        	}
        }
	}
	.comment_box{
		@extend .rate;
		textarea{
			width 			: 100%;
			resize 			: none;
			border-radius 	: 4px;
			margin-bottom 	: 10px;
		}
		.btn_comment{
		    height 	: 30px;
		    @include white_button;
		}
		.error{
			color : #FF5E00;
		}
	}
	.title{
		@extend .rate;
	}
}
.success{
	text-align 		: center;
	margin-top 		: 10px;
    font-size 		: 18px;
    color 			: $base_color;
}
.listComment{
	.alert-warning{
		background-color 	: $white_color;
		border-color 		: $white_color;
	}
	img{
		width 		: 32px;
		height 		: 32px;
	}
	.alert{
    	padding 		: 0px;
		margin-bottom 	: 20px;
		.media-right{
		    min-width 	: 22px;
		    button{
		    	border 			: 0px;
			    padding 		: 0px;
			    background 		: $white_color;
			    outline-color 	: $white_color;
			    i{
			    	cursor 		: pointer;
			    	color 		: rgba(138, 109, 59, 0.23);
			    	&:hover{
			    		color 	: rgb(138, 109, 59);
			    	};
		   		}
		    }
		    .option{
				cursor	: pointer;
				&:hover{
					text-decoration : nderline;
				};
			}
		}
	}
	.rate{
		display: inline;
		float:right;
		span{
			outline-color 	: $white_color;
			margin-top 		: 10px;
			color 			: $yellow_color;
		}
	}
	.name{
		display 		: inline;
		font-style 		: italic;
		font-weight 	: bold;
	    color 			: $base_color;
	}
	.comment{
		margin 			: 10px 0px;
		white-space 	: pre-line;
		word-break 		: break-word;
		color 			: $lightdark_color;
	}
	.time{
		font-style 		: italic;
		font-size 		: 11px;
		color 			: rgba(138, 109, 59, 0.72);
	}
}
.more{
	.viewMore{
		color 			: $base_color;
		cursor 			: pointer;
		&:hover{
			text-decoration : underline;
		};
	}
	.showNumber{
		float : right;
	}
}
