.confirm-order-page{
	color: #747474;
		.title-of-header{
			@include other_font(Ubuntu,25px,#8b77bc);
		    font-style: Italic;
		    font-weight: 600;
		}
	.header-confirm-order-page{
		padding-bottom:10px;
		.content-of-header{
		    font-family: $opensans_font ;
		    font-size: 14px;
		    width:46%;
		}
	}
	.all-infor-of-confirm-infor{
		    border-radius: 5px;
		    border: 1px solid #f2f2f2;
		    background-color: #fafafa;
		.title-infor{
			font-family:$opensans_font;
			font-size:18px;
			color:#8b77bc;
			font-weight:700;
			text-align:left;
			padding-bottom:10px;
			.content-of-title-infor{
			}
		}
		.col-md-4{
			width:25%;
			padding-left:40px;
		}
		#link{
			position:relative;
			bottom:0px;
		}
		.all-infor{
			padding: 10px 10px 10px 10px;
			text-align:left;
			font-family:$opensans_font;
			margin-left:10px;
			.content-div{
				line-height:100%;	
				padding-bottom:5px;
				.title-head{
					font-weight:700;
				}
				.content{
					width:200px;
				}
			}
			a{
				color:#9a88c4;
				cursor:pointer;
			}
			#account-infor{
				border-right:1px solid #f2f2f2;
				.content-of-account-infor{
					line-height:100%;
				}
			}
			#delivery-infor{
				border-right:1px solid #f2f2f2;
				.content-of-deliver-infor{
					line-height:100%;
				}
			}
			#food-preference-infor{
				border-right:1px solid #f2f2f2;
				.content-of-food-preferences{
					line-height:100%;
				}
			}
			#payment-infor{
				.content-of-payment-method{
					line-height:100%;
				}

			}
		}	
	}
	.your-order-form{
		 font-family: $opensans_font;
		.header-of-order-form{
			padding: 10px 10px 10px 10px;
		}
		.product-of-order-form{
			.delivery-date{
				font-size: 18px;
			    display: block;
			    margin-top: 1em;
			    width: 100%;
			    padding: .5em 2em;
			    border-radius: 5px;
			    background-color: #c5bbde;
			    color: #584489;
			    height: 50px;
			}
			.product-order{
				.title{
					text-transform: uppercase;
					height: 60px;
					font-size: 18px;
					.title-product{
						
					}
					.title-unit-price{
						
					}
					.title-people{
						
					}
					.title-price{
						
					}
				}
				.content{
					.dish-infor{
						padding-bottom: 20px;
						.dish-img{
							width: 100px;
							height: 100px;
							border-radius: 5px;
						}
						.dish-name{
							display: inline-block;
							font-size:16px;
							padding-left: 40px;
							width: 400px;
						}
					}
					.dish-unit-price{
						width: 200px;
					}
					.dish-size{
						width: 200px;
					}
					.dish-price{
						font-weight:700;
						width: 200px;
					}
				}
			}
		}
		.price-infor{
			.price{
				width: 30%;
				font-size: 18px;
				.shipping-free-div{
					height:40px;
					.shipping-free-left{
						text-align:left;
						width: 50%;
						float:left;
					}
					.shipping-free-right{
						width: 50%;
						float:right;
					}	
				}
				.sub-total-div{
					height:40px;
					padding-top:10px;
					border-top: 1px solid #E0E0E0;
					.sub-total-left{
						text-align:left;
						width: 50%;
						float:left;
					}
					.sub-total-right{
						width: 50%;
						float:right;
					}	
				}
				.grand-total-div{
					height:40px;
					padding-top:10px;
					border-top: 1px solid #E0E0E0;
					font-weight: 700;
					font-size: 20px;
					.grand-total-left{
						text-align:left;
						width: 50%;
						float:left;
					}
					.grand-total-right{
						width: 50%;
						float:right;
					}	
				}

			}
			.btn-place{
				font-family: $ubuntu_font;
				font-style: italic;
			    .btn-place-order{
			    	height: 70px;
			    	border-radius: 5px;
					background-color: #8b77bc;
				    border: 1px solid #66669A;
				    font-size: 25px;
				    color: white;
				    width: 11em;
				    margin-top: 1em;
				    @include blue_button;
			    }
			    .btn-cancel{
			    	border-radius: 5px;
					border: 1px solid #8b77bc;
					background-color:#FFFFFF;
					color:#6e55ab;
					height: 70px;
					width: 240px;
					font-size:25px;
					@include white_button;
				}
			}
		}
	}
}