/*define css editprofile*/
@mixin base_font {
	font-family: "Open Sans", sans-serif;
	font-size: 13px;
	color: #6B6B6B;
}
@mixin other_font($font,$size,$color){
	font-family: $font;
	font-size: $size;
	color: $color;
}
/*css of edit profile*/
.editprofile{
	padding: 10px 10px 10px 10px;
	margin-top:35px;
	/*css of infor account*/
	.infor-account{
		float:left;
		width:80%;
		.ava-img-div{
			width:20%;
			float:left;
			.ava-img{
				width:150px;
				height:150px;
				border-radius:50%;
			}
		}
		.content-acc{
			float:left;
			font-size:16px;
			width:80%;
			.ava-name{
				@include other_font(Ubuntu,28px,$base_color);
				font-style:Italic;
			}
			.list-card{
				line-height:1;
			}
		}
	}
	.template{
		float:right;
		font-family:$opensans_font;
	}
	p{
		line-height:1.5;
		@include other_font(Open Sans,15px,#6B6B6B);
	}
	.btn-addmoney-div{
		float:right;
		width:20%;
		.btn-addmoney{
			border:1px solid #66669A;
			border-radius:3px;
			width:190px;
			height:40px;
			line-height:22px;
			text-align:center;
			cursor:pointer;
			@include other_font($opensans_font,16px,$white_color);
			@include blue_button;
		}
	}
	/*css of menu edit profile*/
	.list-personalcontent{
		clear:both;
		padding-top:10px;
		.list-inforupdate{
			float:left;
			background-color: #f2f2f2;
			width:270px;
			list-style-type:none;
			border-radius:5px;
			margin:0;
			padding:0;
		}
		li a{
			font-family:$opensans_font;
			display:block;
			color: #747474;
			padding: 8px 0 8px 16px;
		    text-decoration: none;
		    cursor:pointer;
		}
		li a:hover{
			 background-color: #9f8fc8;
			 color:white;
			 border-radius:5px;
		} 
		li a.active{
			 background-color: #9f8fc8;
			 color:white;
			 border-radius:5px;
		} 
	}
	/*css of personal infor page*/
	.personalInfor{
		 	padding-left: 10px;
		    border: 1px solid #f2f2f2;
		    width: 800px;
		    border-radius:5px;
		    height:auto;
	    .title-personalInfor{
			border-bottom:1px solid #f2f2f2;
		}
		.title-profile{
			@include other_font(Ubuntu,16px,black);
			font-style:Italic;
		}
		.btn-update{
			background-color: #FF9126;
		    border-color: #f27700;
		    height:40px;
		    width:100px;
		    border-radius:5px;
		    @include other_font(Ubuntu,20px,white);
		    font-style:Italic;
		    cursor:pointer;
		}
		.btn-changepass{
			background-color: #FF9126;
		    border-color: #f27700;
		    height: 40px;
		    width: 100px;
		    border-radius: 5px;
		    font-family: Ubuntu;
		    font-size: 20px;
		    color: white;
		    font-style: Italic;
		    cursor: pointer;
		}
		input{
			height:35px;
			width: 190px;
		}
		select{
			width:190px;
			height:35px;
		}
		.error{
			color:red;
		}
		.success-mes{
			color:green;
		}
		.error-update{

		}
		.error-deliver{

		}
		.title-refer-friend{
			font-family: $ubuntu_font;
		    font-size: 28px;
		    color: #7070A5;
		    font-style: Italic;
		}
		.btn-refer-friend{
			padding-top:10px;
			padding-bottom:10px;
			font-size: .9em;
			.btn-basic{
				width: 31.81818%;
		   		margin-right: 1.27273%;
		   		border-radius: 5px;
			    background-color: #8b77bc;
			    border: 1px solid #6e55ab;
			    color: white;
			    text-align: center;
			    vertical-align: middle;
			    margin-top: .5em;
			    height: 40px;
			}
			.btn-facebook{
				background-color: #37538d;
				float: left;
				box-shadow: inset 0 1px 1px 0 #4264aa;
			}
			.btn-goole{
				background-color: #cd3f2d;
    			box-shadow: inset 0 1px 1px 0 #d85b4b;
				clear:both;
			}
			.btn-email{
				float:right;
			}
		}
		.profile{
			box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.2);
			width:750px;
			border-radius:5px;
			padding: 10px 10px 10px 10px;
			margin: 15px 20px 10px 20px;
				.form-profile{
					width:100%;
					padding: 5px 5px 5px 5px;

					.lastname{
						width: 200px;
					}
					.firstname{
						width: 200px;
					}
					.email{
						width: 200px;
					}
					.avatar{
					    cursor 			: pointer;
					    width 			: 80px;
					    height 			: 80px;
					    border-radius 	: 3px;
					    border 			: 1px solid rgba(0, 0, 0, 0.09);
					}
					.curtain {
					    position 	: absolute;
					    width 		: 80px;
					    height 		: 80px;
					    z-index 	: 2;
					    background 	: rgba(255, 255, 255, 0.6);
					    top 		: 0px;
						.loading{
							width 		: 30px;
	    					height 		: 30px;
						    position 	: relative;
						    top 		: 25px;
						    left 		: 25px;
						}
					}
					.file{
						width 		: 0.1px;
						height 		: 0.1px;
						opacity 	: 0;
						overflow 	: hidden;
						position 	: absolute;
						z-index 	: -1;
					}
				}

			.form-birthprofile{
				.title-dayofbirth{
				    @include other_font(Ubuntu,16px,black);
				    font-style:Italic;
				}
				.birth{
				    padding: 5px;
					.month{
						width: 200px;
					}
					.day{
						width: 200px;
					}
					.year{
						width: 200px;
					}
				}
			}
		}
		.change-password{
			box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.2);
			width:750px;
			border-radius:5px;
			padding: 10px 10px 10px 10px;
	    	margin: 15px 20px 10px 20px;
			.form-changepasword{
				.cur-pass, .new-pass,.confirm-pass {
					height:35px;
					width:200px;
				}
				.new-pass{

				}
				.confirm-pass{

				}
			}
		}
	}
	/***********************************************/
	/*css of delivery address*/
	.deliverInfor{
		.height-address{
			/*height:380px;*/
		}
		.height-newaddress{
			/*height:365px;*/
		}
		.address-form{
			#title{
				height: 45px;
			}
			.title-deliver-address{
				float: left;
			}
			.home-dropdown{
				display: inline-block;
				margin-left: 10px;
			}
			.title-home{
				width:170px;
				padding: 5px 5px 5px 5px;
			}
			.deliver{

			}
			.create{

			}
			.form-address{
				padding: 5px 5px 5px 5px;
				.address{
					width:200px;
				}
				.country{
					width:200px;
				}
				.city{

				}
			}	
		}
	}
}