

.enter-infor-page{
	color:#747474;
	font-family: $opensans_font;
	/*********************************************************************************/
	/*css of btn-basic*/
		.btn-basic{
			font-family:$ubuntu_font;
			border-color: #6e55ab;
			box-shadow: inset 0 1px 1px 0 #9a88c4;
			border-radius: 5px;
		    background-color: #8b77bc;
		    border: 1px solid #6e55ab;
		    color: white;
		    text-align: center;
		    vertical-align: middle;
		}
		/*select of infor shipping*************************************************/
		.select-enter-infor{
			position: relative;
			width: 270px;
			display: block;
 			padding-left: .5em;
			margin: .5em 0;
			color: #747474;
			border: 1px solid #d8d8d8;
			background-color: #f2f2f2;
			vertical-align: middle;
			height: 40px;
			border-radius: 5px;						    		   
			}
		.tb-basic-enter-infor{
			width: 270px;
    		background-color: white;
    		margin: .5em 0;
			padding: .7em .6em;
			font-size: .95em;
			color: #747474;
			height: 40px;
			border-radius: 5px;
			border: 1px solid #e5e5e5;
			text-align: left;	
			}
		.error-newaddress-enter-infor{
			margin-left:10px;
			color:red;
		}
		.success-newaddress{
			color:green;
			margin-right:10px;
		}
		.error-newaddress{
			color:red;
			margin-right:10px;
		}
		.btn-address{
			@inclue blue_button;
			height: 35px;
    		width: 70px;
		}
		.btn-submit{
			margin-top: 10px;
			@include blue_button;
			height: 50px;
			width: 200px;
			font-size: 20px;
		}
	/*css of head enter infor page**************************************************/
	.enter-infor-head{
		.enter-infor-head-title{
			@include other_font(Ubuntu,25px,#8b77bc);
			font-style: Italic;	
		    font-weight: 600;
		}
		.enter-infor-head-content{
			font-family: $opensans_font;
			font-size:14px;
			width: 560px;
		}
	/*end css of head enter infor page*/
	}
	/*css of enter infor form**********************************************************/
	.enter-infor-form {
			font-family: $opensans_font;
			font-size: 15px;
		/*css of btn-enter-infor******************************************************/
		.btn-enter-infor{
				width: 74%;
				padding-top: 10px;
				.btn-checkout{
					font-style:italic;
					height: 60px;
					width: 240px;
					font-size:25px;
					@include blue_button;
				}
		/*end css of btn-enter-infor*/
			}
		/*css of enter-infor-detail******************************************************/
		.enter-infor-detail{
		    border-radius: 5px;
		    border: 1px solid #f2f2f2;
		    background-color: #fafafa;
		    width: 74%;
		/*css of shipping infor********************************************************/
		.title-enter-infor{
			border-radius: 5px;
			font-family: $ubuntu_font;
		    position: relative;
		    width: 100%;
		    padding: .5em 1em;
		    background-color: #8b77bc;
		    color: white;
		    font-size: 1.2em;
		    font-weight: 700;
		    border: 1px solid #8b77bc;
		    font-style: italic;
		    margin-bottom: 10px;
			    .link{
			    padding-left:10px;
			    cursor:pointer;
			    }
			}
		.all-infor{
			padding-left:  8.47458%;
			margin-top: 15px;
			padding-bottom: 15px;
			}
		/*css of enter-infor-shipping**************************************************/
		.enter-infor-shipping{
			margin-bottom:10px;
			.select-address{
				padding-bottom:10px;
				.address-select{
					width: 265px;
					display: inline;
					margin:0;
					height:40px;
				}
				.btn-add-delivery{
				    width: 40px;
				    height: 24px;
					text-align: center;
				}
			}
			.all-infor-shipping{
				/*title of infor shipping*/
				.title-infor-shipping{

				}
				/*textbox of infor shipping*/
				.tb-ship-enter-infor{

				}
			}
		/*end css of enter-infor-shipping*/
		}
	/* css of time delivery shipping*****************************************************/
		.time-infor-shipping{
			.title-infor-time-shipping{

			}
			.all-infor-time-shipping{
				.option-time-shipping{
					margin-bottom: 10px;
					input[type=radio].with-font {
						border: 0;
					    clip: rect(0 0 0 0);
					    height: 1px;
					    margin: -1px;
					    overflow: hidden;
					    padding: 0;
					    position: absolute;
					    width: 1px;
					}  
					input[type=radio].with-font + label:before {
					    font-family: FontAwesome;
					    display: inline-block;
					    content: "\f1db";
					    letter-spacing: 10px;
					    font-size: 1.2em;
					    color: #535353;
					    width: 1.4em;
					}input[type=radio].with-font:checked + label:before {
					    content: "\f00c";
					    font-size: 1.2em;
					    color: darkgreen;
					    letter-spacing: 5px;
					}
					input[type=radio].with-font:focus + label:before {
					     color: green;
					}
				}
				.choose-time-option{
					.all-dish-time-option{
						.dish-in-time-option{
							height: 150px;
							width: 80%;
							.dish-allinfor-time-option{
								float: left;
								height: 150px;
								width: 50%;
								.dish-img-in-time-option{
								float: left;
								width: 100px;
								height: 100px;
								}
								.dish-infor-time-option{
									padding: 10px 10px 10px 10px;
									float: right;
									width: 50%;
									.dish-name-time-option{

									}
								}
							}
							
							.select-time-option{
								float: right;
								width:50%;
								.split-left{
									width: 20%;
									float: left;	
								}
								.split-right{
									cursor: pointer;
									padding: 5px 5px 5px 15px;
									border: 1px solid #d8d8d8;
									border-radius: 5px;
									width: 80%;
									float: right;
									background-color: white;
									.input-number{
										font-size: 13px;
										height: 35px;
										width: 200px;
										background-color:#f2f2f2;
									}
								}
								.select-time-deliver{
									height: 30px;
									width: 200px;
								}
							}
						}
					}
				}
			}	
		}
	/*css of food preferences***************************************************/
		.enter-infor-food-preference{
			.title-infor-food-preference{

			}
			.amount-serving{
				width: 150px;
			}
			.amount-serving-infor-food-preference{

			}
			.anthing-else-infor-food-preference{
				.food-like{
					width: 440px;
					.food{
						display:inline;
						width:50px;
						margin-right:10px;
						.food-like-a{
							cursor:pointer;
							font:#747474;
						}
						.img-delete{
								width: 20px;
								height: 20px;
						}
					}
					.btn-delete{
						border-radius:5px;
					}
				}
				.results{
					background-color:white;
					width:200px;
					position:absolute;
					display:block;
					z-index:1;
					border: 1px solid rgba(121, 85, 72, 0.24);
					border-radius:5px;
					margin-top:-5px; 	
					.item{
						padding:10px 10px 10px 10px;
						width:200px;
						height:40px;
						.img-ingre{
							width:40%;
							float:left;
							.img{
								width:35px;
								height:35px;
							}
						}
						.name-ingre{
							width:71%;
							clear:right;
						}
					}
				}
				.textarea-food-preference{
					height: 100px;
    				width: 440px;
    				box-shadow: rgba(139, 119, 188, 0.6) 0 0 0 1px inset;
				}
			}
	/*end css of food preferences*/
		}

	/*css of payment method*/
		.enter-infor-payment-method{
			.title-infor-payment-method{

			}
			.payment-infor{
				    padding-top: 10px;
				    padding-bottom: 10px;
				    margin-left: 20px;
				    margin-right: 20px;
				/*css of content-payment-method*/
				.content-payment-method{
					border-radius: 5px;
				    border: 1px solid #FF9126;
				    background-color: #ffb063;
				    padding: .5em .5em 1em .5em;
				    font-size: .85em;
				    line-height: 1.4;
				    color: white;
				    .title-content-payment-method{
				    	@include other_font(Ubuntu,16px,white);
				    	font-style: italic;
				    }
			    .tick-bullet{
			    	position: relative;
				    height: 3em;
				    width: 3em;
				    background-color: white;
				    -moz-border-radius: 50%;
				    -webkit-border-radius: 50%;
				    border-radius: 50%;
				    float: left;
				    margin-right: .5em;
				    text-align: center;
				    vertical-align: middle;
				    display: block;
				    color: #FF9126;
			    }
			    ul{
			    	margin-left: -30px;
			    	margin-right: 0px;
			    }
			    .save-payment-method{
			    	display:inline-block;
			    	width: 254px;
			    }
			    .tick-bullet::before{
			    	font-weight: bold;
			    	content: "\2713";
			    	position: absolute;
			    	font-size: 200%;
			    	top:3px;
			    	left:12px;
			    }
			    .extra-content{
			    	width: 270px;
			    	font-size: 14px;		
			    }
			/*end css of content-payment-infor*/
			}
			.select-payment-method{
				padding-top: 10px;
				.typeof-pay{
				  position: relative;
				  display: block;
				  padding: 0 0 0 50px;
				  font-size: 14px;
				  line-height: 48px;
				  background: white;
				  cursor: pointer;
				  float: left;
				  width: 100px;
				  height: 150px;
				  margin-right: 10px;
				  margin-top: .5em;
				  padding: 50px 0 0;
				  font-size: 12px;
				  line-height: 1;
				  text-align: center;
				  border: 1px solid #d8d8d8;
				  border-radius: 5px;
				    .svg-cash{
				    	bottom: 5px;
					    width: 70px;
					    height: 70px;
					   .svg-cash-hand{
					   	fill: #FFCA65;
					   }
					   .svg-cash-money{
    					fill: #34b154;
					   }
					   .svg-cash-money-inner{
					   	fill: #fff;
    					opacity: .4;
					   }
					   .svg-cash-thumb{
					   	stroke: #FBAD3E;
    					fill: none;
					   }
					   .svg-cash-shirt-inner{
						fill: #def;
					   }
					   .svg-cash-shirt-outer{
    					fill: #07b;
					   }
				    }
				    .svg-visa{
				    	    bottom: 50px;
						    width: 40px;
						    height: 40px;
				    	.svg-visa-border{
				    		fill: #005098;
				    	}
				    	.svg-visa-letter{
    						fill: #005098;
				    	}
				    	.svg-visa-corner{
							fill: #F6A500;
				    	}
				    }
				    .svg-master{
				    	    bottom: 25px;
						    width: 40px;
						    height: 40px;
				    	.svg-master-border{
    						fill: #E30613;
				    	}
				    	.svg-master-circle2{
    						fill: #FAB31E;
				    	}
				    	.svg-master-circle1{
    						fill: #E40520;
				    	}
				    	.svg-master-letter{
    						fill: #fff;
				    	}
				    }
				}
				.typeof-pay:after{
				  content: '';
				  position: absolute;
				  top: 15px;
				  left: 40px;
				  display: block;
				  width: 20px;
				  height: 20px;
				  border-radius: 50%;
				  -moz-box-shadow: inset 0 0 0 1px #bbb, inset 0 0 0 6px #fff;
				  -webkit-box-shadow: inset 0 0 0 1px #bbb, inset 0 0 0 6px #fff;
				  box-shadow: inset 0 0 0 1px #bbb, inset 0 0 0 6px #fff;
				  background: #fff;
				 }
				 .typeof-pay:hover:after{
				 	background: #bbb;
				 }
				 ::selection{
				 	background: #766BB2;
				    color: #f7f7f7;
				    text-shadow: 0 0 1px #DEDEDE;
				 }
				 .typeof-pay.active{
				 	background-color: #e2deee;
				    border: 1px solid #8b77bc;
				    height: 165px;
				    margin-top: 0 !important;
				 }
				 .typeof-pay.active:after{
				 	background: #8b77bc;
					top: 15px;
					left: 40px;
				 }
				 .typeof-pay:hover{
				 	box-shadow: 0 0 6px 1px rgba(216, 216, 216, 0.6);
				 }
				 img{
				 	width 		: 70px;
			 	    margin-top 	: 17px;
				 }
			 	.money_bag{
			 	    margin-top 	: 12px !important;
    				width 		: 37px;
				 }
				.prepaid{
				    margin-top 	: 4px;
				    @include other_font($opensans_font,15px,$lightdark_color);
				}
				.bitcoin{
				 	width   	: 40px;
				}
			/*end css of select payment method*/
			}
				.notification-money{
				    position: relative;
				    top:10px;
				    width: 100%;
				    border: 1px solid #FF9126;
				    background-color: #ffb872;
				    padding: .4em 2em;
				    margin-top: .5em;
				    margin-bottom: .5em;
				    font-size: .9em;
				    color: white;
				    -moz-border-radius: 5px;
				    -webkit-border-radius: 5px;
				    border-radius: 5px;
				    overflow: hidden;
				    display: block;
				}
			/*end css of payment-infor*/
			}
		/*end css of payment-infor-method*/
		}
	}
	}
	.enter-infor-product{
		width: 23.72881%;
	    float: right;
	    margin-right: 0;
	    border-radius: 5px;
	    border: 1px solid #8b77bc;
	    box-shadow: rgba(116, 116, 116, 0.3) 0 0 3px;
	    background-color: white;
	    padding: 1.69492%;
	    font-family: $opensans_font;
	    color:#493871;
	    .enter-infor-product-border{
	    	/*css of list dishes for order*/
	    	.enter-infor-dishes{
	    		padding: 5px 5px 10px 5px;
	    		border-bottom: 1px solid #493871;
	    		font-weight: 700;
	    		.dish-order{
	    			color:#747474;
	    			height: 90px;
	    			margin-top:5px;
	    			.dish-img{
		    			width: 29%;
		    			float: left;
		    		}
		    		.dish-infor{
		    		    width: 130px;
					    top: -3px;
					    height: 90px;
					    position: relative;
					    float: right;
					    font-weight: normal;
					    font-size: 12px;
					    .dish-name{
					    font-size: 13px;
					    font-weight: 700;	
					    }
		    		}
	    		}
	    	}
	    	/*title of free shipping*/
	    	.enter-infor-free-shipping{
		    	padding: 5px 5px 5px 5px;
	    		border-bottom: 1px solid #493871;
	    		font-weight: 700;
	    		.free-content{
	    			font-size: 12px;
	    			color:#747474;
	    		}
	    	}
	    	/*css of subtotal*/
	    	.enter-infor-subtotal{
		    	padding: 5px 5px 5px 5px;
	    		border-bottom: 1px solid #493871;
	    		font-weight: 700;
	    		.subtotal-content{
	    			font-size: 13px;
	    			color:#747474;
	    		}
	    	}
	    	/*css of total*/
	    	.enter-infor-total{
		    	padding: 5px 5px 5px 5px;
	    		font-weight: 700;
	    		.total-content{
	    			font-size: 16px;
	    			color:#747474;	
	    		}
	    	}
	    }
	}
}