@mixin normalUbuntu_font($size,$color){
  font-family: Ubuntu;
  font-size: $size;
  color: $color;
}
@mixin ItalicUbuntu_font($size,$color){
  font-family: Ubuntu;
  font-size: $size;
  color: $color;
  font-style:Italic;
}
