.footer{
	clear:both;
	position: relative;
   	top: 5px;
	margin-top: 30px;
    padding-top: 20px;
    height: 250px;
    width: 100%;
    background-color: #8b77bc;
    .head-foot{
    	padding-top: 20px;
    	height: 70px;
		.title-footer{
			@include other_font(Open Sans,20px,white);
		}
    }
	.form-footer{
		width: 52%;
		#email{
			float: left;
			#input-footer{
				height:40px;
				width:550px;
			}
		}
		#button{
			.btn-footer{
				background-color: #FF9126;
			    border-color: #f27700;
			    height:40px;
			    width:100px;
			    border-radius:5px;
		   		@include other_font(Ubuntu,20px,white);
		    	font-style:Italic;
			}
			.btn-footer:hover{
				color:white;
			}
		}
	}
	.nav-footer{
		color: white;
		clear: both;
		.nav-item{
			font-family: "Open Sans",sans-serif;
			color:white;
			font-weight: bold;
		}
	}
	.er-subscribe{
		position:relative;
	}
	.error-mess{
		color:red;
	}
	.facebookShare{
	    position: relative;
    	top: 8px;
    	.facebookButton{
    		width: 62px;
    		font-size: 15px;
    		font-family: "Open Sans",sans-serif;
    		.pluginButton{
    			background: rgba(76, 105, 186, 0);
    		}
		} 
	}

}