.size_dishdetail{
	.dish{
		position: relative;
		.slide{
			position: relative;
   			width: 630px;
			height: 423px;
   			.image{
	   			width: 100%;
   				height: 100%;
				border-radius: 3px;
			}
			.listImage{
				position: absolute;
				top: 11px;
				ul{
					padding-left: 0px;
					li{
						list-style-type: none;
						padding: 0px 0px 10px 10px;
						.smallImage{
							width: 50px;
							height: 50px;
							border-radius:3px;
							cursor: pointer;
							opacity: 0.8;
    						border: 1px solid rgba(121, 85, 72, 0.46);
							&:hover{
								opacity: 1.5;
								box-shadow: 0px 0px 1px 1px rgba(121, 85, 72, 0.62);
							};
						}
						.active{
							opacity: 1.5;
							box-shadow: 0px 0px 1px 1px $white_color;
						}
					}
				}
			}
			.bar{
				position: absolute;
			    bottom: 0px;
			    width: 100%;
			    height: 50px;
			    background: rgba(0, 0, 0, 0.3);
			    text-align: center;
			    .name{
				    margin: 2% 0px;
				    font-weight: 600;
				    font-style: italic;
				    text-transform: uppercase;
				    @include other_font($opensans_font,18px,white);
			    }
			}
		}
		.image{
   			width: 630px;
			height: 423px;
			border-radius: 3px;
		}
		.dish_detail{
			width: 470px;
		    position: absolute;
		    top: -3px;
		    right: -6px;
		    @include base_font;
		    .separation{
		    	background 	: #E0E0E0;
			    width 		: 2px;
			    height 		: 100%;
			    position 	: absolute;
			    left 		: 0px;
			    background  : -moz-linear-gradient(top, #ffffff 0%, #b3bead 50%, #fcfcfc 100%);
			    background 	: -webkit-linear-gradient(top, #ffffff 0%,#b3bead 50%,#fcfcfc 100%);
			    background 	: linear-gradient(to bottom, #ffffff 0%,#b3bead 50%,#FFFFFF 100%);
		    }
			.introduction{
				height: auto;
				min-height: 105px;
			    @include box_shadow;
		   	 	.title{
			    	@include other_font(Ubuntu,34px,#6B6B6B);
					line-height:30.23px;
					text-align:left;
					font-weight: lighter;
		    	}
		    	.date{
					
					line-height:19px;
					text-align:left;
					margin-top: 11px;
					@include base_font;
    				font-style: italic;
    				padding-left: 2px;
    				color:#F79706;
			    }
			    .content{
			    	text-align: justify;
					line-height:22px;
					position: static;
					width: 425px;
					.fade{
						opacity: 1;
					}
					.fade.ng-enter {
					  transition:0.5s linear all;
					  opacity:0;
					}

					/* The finishing CSS styles for the enter animation */
					.fade.ng-enter.ng-enter-active {
					  opacity:1;
					}
					.fade.ng-leave {
					  transition:0s linear all;
					  opacity:1;
					}
					.fade.ng-leave.ng-leave-active {
					  opacity:0;
					}

					a{
						color: $base_color;
						cursor: pointer;
					}
			    }
			}
			.add{
		    	border:1px solid white;
		   	 	@include box_shadow;
		   	 	@include base_font;

		   	 	.money{
			    	@include other_font($opensans_semi_font,24px,#6B6B6B);
			    	font-family: $opensans_semi_font;
					line-height: 33px;
				    margin-top: 12px;
    				margin-left: 2px;
					.person{
						font-family:$opensans_font;
						font-size:13px;
						color:#6B6B6B;
						line-height:17px;
						text-align:left;
						margin-left: -1px;
					}
			    }
			    .select {
			    	@include white_button;
				    border: 1px solid #D8D8D8;
				    width: 199px;
				    height: 35px;
					margin-top: 11px;
    				border-radius: 4px;
    				cursor: pointer;	
				    .selectedItem{
				    	display: inline-block;
		    	        width: 159px;
    					margin: 7px 2px 6px 18px;
				    }
				    ul{
				    	li{
				    		margin-left: 0px;
				    		a{
					   	 		cursor: pointer;
					   	 	}
				    	}
				    }
			    }
			    .menu{
		    	    width: 100%;
			    }
			    .bag_group{
			    	padding: 21px 0px 9px 0px;
			    	.bt_bag{
					    @include blue_button;
					    border: 1px solid #66669A;
					    border-radius: 3px;
					    height: 40px;
						line-height:22px;
						text-align:center;
					    width: 78%;
						position: relative;
						
						img {
							position: absolute;
						    width: 21px;
						    height: 26px;
						    top: 3px;
    						left: 16px;
						}
						span{
							margin-left: 1px;
						    font-size: 16px;
						    font-family: $opensans_font;
						    color: white;
						}
			    	}
			    	#disable{
			    	 	cursor 			: not-allowed;
			    	 	background 		: rgba(112, 112, 165, 0.75);
			    	}
			    	.bt_like{
			    		@include white_button;
					    border: 1px solid #D8D8D8;
					    border-radius: 3px;
				        width: 20%;
					    height: 40px;
					    margin-left: 4px;
					    position: relative;
					    .like{
			    	        position: absolute;
						    top: 10px;
						    left: 10px;
						    font-size: 23px;
						    color: $unlike_color;
						    transition  : color .5s ease-in;
					    }
					    .liked{
			    		    color: $liked_color;
			    		    transition  : color .5s ease-in;
				    	}
					    span{
					    	font-size: 16px;
						    position: relative;
						    top: 1px;
						    left: 1px;
						    color: #AAAAAA;
						    font-weight: lighter;
					    }
			    	}

    			}

			}
			.cooking{
				height 			: 41px;
	   	 	    box-shadow  	: 0px 3px 3px -2px #E0E0E0;
			    width 			: 100%;
			    margin-left 	: 2px;
		   	 	label{
	   	 		    height: 100%;
    				width: 50%;
		   	 	}
			}
			.material{	
				.title_material{
			    	@extend .title;
					font-size:20px;
					line-height:24px;
					padding: 35px 0px 14px 25px;
					font-family: Ubuntu;
			    }
			    #other_material{
			    	padding-top: 15px;
			    }
			    .nutrition {
				    margin : 35px 0px 0px 24px;
				   	@include other_font($ubuntu_font,13px,$lightdark_color);	
				   	.panel-heading{
				   		font-size : 20px;
				   	}
				}
			    .material_icon{
			    	display: inline;
			    	img{
			    		width: 60px;
			    		height: 60px;
			    		margin: 0px -11px 21px 24px;
			    		border-radius: 30px;
		    		    border: 1px solid rgba(0, 0, 0, 0.23);
			    	}
			    }
			    .content{
			    	padding-left: 26px;
			    	.media {
				        margin-top: 0px;
    					margin-bottom: 12px;
					    img{
				    		width 	: 30px;
				    		height 	: 30px;
				    	}
				    	span{
				    		@include other_font($opensans_font,14px,#AAAAAA);
							line-height:23px;
				    	}
				    	.other{
				    		color: $lightdark_color;
				    		word-break: break-all;
				    	}
					}
			    }
			}
		}
	}
	.active{
			background-color: white;
	}
	.enter{
		white-space: pre-line;
	}
	.box{
		@include base_font;
		a{
			color:$base_color;
			&:hover{
				cursor:pointer;
			}
		}
		width: 663px;
    	margin-top: 75px;
    	margin-left: -1px;
    	display: inline-block;
		.title_boxes{
			@include other_font(Ubuntu,20px,#6B6B6B);
			line-height:24px;
			padding-top: 20px;
		}
		.floating-box{
			&:hover{
				cursor 		: pointer;
				box-shadow 	: 0px 0px 6px 0px rgba(0, 0, 0, 0.67);
			}
			float:left;
		    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.67);
		    border-radius: 3px;
		    width: 187px;
		    height: 229px;
		    margin: 20px 34px 10px 0px;
		    position: relative;
		    @include other_font(Ubuntu-Light,14px,$base_color);
            padding: 9px 8px 4px 9px;
		    .img_box{
				border-radius:3px;
				width:171px;
				height:132px;
				border: 1px solid rgba(204, 204, 204, 0.19);
			}
			.separation{
			    width 				: 33% !important;
			    float 				: left;
			    background-repeat 	: no-repeat;
			    background-size 	: cover;
			    height 				: 100%;
			}
			.img_type {
			    width  	: 40px;
			    height 	: 40px;
			    position: absolute;
			    top 	: 14px;
			    left 	: 72px;
			}
			.title_box{
				height: 54px;
			    margin-top: 11px;
			    font-family: Ubuntu;
			    margin-left: 2px;
			}
		    .bt_like {
		    	position: absolute;
			    right: 5px;
			    bottom: 5px;
		    	.like{
			    	width: 17px;
			    	height: 15px;
				    position: relative;
			        left: -2px;
			        color: $unlike_color;
		    	}
		    	.liked{
	    		    color: $liked_color;
		    	}
		    	span{
		    		font-size:12px;
		    		position: relative;
		    		top: -1px;
    				right: 4px;
    				font-family:$opensans_font;
					color:#AAAAAA;
					line-height:17px;
		    	}
		    }
		    .money{
		    	position: absolute;
			    bottom: 6px;
    			left: 11px;
			    font-family: $opensans_font;
		    }

		}
		#other_boxes{
			clear:left;
			padding-top: 33px;
		}
		ul{
			margin-left: 0px;
			
			li{
				margin-left: 0px;
			}
		}
		
		.fade{
			opacity: 1;
		}
		.content{
			word-break: break-word;
			text-align: justify;
			white-space: pre-line;
			img{
				max-width: 100%;
			}
			.fade{
				opacity: 1;
			}
			.fade.ng-enter {
			  transition:0.5s linear all;
			  opacity:0;
			}

			/* The finishing CSS styles for the enter animation */
			.fade.ng-enter.ng-enter-active {
			  opacity:1;
			}
			.fade.ng-leave {
			  transition:0s linear all;
			  opacity:1;
			}
			.fade.ng-leave.ng-leave-active {
			  opacity:0;
			}

			a{
				color: $base_color;
				cursor: pointer;
			}
	    }
	}
}

