/*define css of food preference page*/
.foodpreference{
	font-family: $opensans_font;
	.people-in-family-div{
		.tb-people{
			width:30px;
			height:20px;
		}
	}
	.title{
	    font-family: Ubuntu;
	    font-size: 16px;
	    color: black;
	    font-style: Italic;
	    padding-bottom:10px;
	}
	.food-like-div, .food-dislike-div{
		.table-show{
			margin-left:-40px;
		    .img-food{
		    	width: 50px;
		    	height: 50px;
		    	border-radius:50%;
		    	border: 1px solid rgba(0, 0, 0, 0.23);
		    }
		    .title{
		    	text-align: center;
				padding: 10px 10px 10px 10px;
				background-color: #8b77bc;
				.title-name{
					padding: 10px 10px 10px 10px;
				}
				.title-img{
					padding: 10px 10px 10px 10px;
				}
		    }
		    .content{
				width:12%;
		    	color: #66669A;
		    	padding-left:10px;
		    	list-style-type:none;
		    	padding-left: 10px;
		    	padding-right:5px;
		    	display:inline-block;
		    	margin-left:10px;
			    .content-delete{
			    	display:none;
			    	text-align:right;
			    	height:15px;
				    .img-delete{
			    			width:20px;
			    			height:20px;
			    		}
			    }
		    	.content-name{
		    		
		    	}
		    	.content-img{
		    		
		    	}
		    }
		    .content a:hover{
		    	color:black;
		    	background-color:white;
		    }
		    .content:hover{

		    }
		    .content:hover .content-delete{
			    display:block;
			}
		}
		.add-more-btn{
			height:40px;
			width:40px;
		}
	}
	.habit-div{
		.tb-habit{
			width:400px;
			height:100px;
		}
	}

}	
	.tb-main{
    		background-color: white;
    		margin: .5em 0;
			padding: .7em .6em;
			font-size: .95em;
			color: #747474;
			border-radius: 5px;
			border: 1px solid #e5e5e5;
			text-align: left;
	}
	#btn-main{
		width:30px;
	}
	.btn-add{
		color:white;
		@include blue_button;
		border: 1px solid #66669A;
		height: 35px;
		width: 70px;
		border-radius: 3px;	
	}
	.tb-basic{
			width: 270px;
    		background-color: white;
    		margin: .5em 0;
			padding: .7em .6em;
			font-size: .95em;
			color: #747474;
			height: 40px;
			border-radius: 5px;
			border: 1px solid #e5e5e5;
			text-align: left;	
	}
	.result{
		background-color:white;
		width:200px;
		position:absolute;
		display:block;
		z-index:1;
		border: 1px solid rgba(121, 85, 72, 0.24);
		border-radius:5px;
		margin-top:-5px; 
		.item-result{
				padding:10px 10px 10px 10px;
				width:200px;
				height:40px;
			.img-ingre{
				width:40%;
				float:left;
				.img{
					width:35px;
					height:35px;
				}
			}
			.name-ingre{
				width:69%;
				clear:right;
			}
		}
	}
	.result-for-add{
		.food{
			display:inline;
			width:50px;
		}
	}
