.forgotpassword{
	/*border:1px solid black;*/
	width: 600px;
	height: 250px;
	margin-left: 400px;
	margin-top: 20px;
	border-radius: 10px;
	box-shadow:0px 2px 7px 0px rgba(0,0,0,0.20);
	.title-forgot{
	@include other_font(Ubuntu,16px,#6c6c6c);
	margin-left: 10px;
	position: relative;
	top: 20px;
    font-style:Italic;
	}
	.sendemail-forgot{
		@include other_font(Ubuntu,14px,#6c6c6c);
		margin-top: 30px;
		margin-left: 10px;
	}
	#email-forgot{
		width: 550px;
	}
	.btn-reset{
	background-image:linear-gradient(-180deg, #ABABDF 1%, #8D8DC4 8%, $base_color 100%);
	border:1px solid #66669A;
	border-radius:3px;
	width:139px;
	height:40px;
	font-family:OpenSans;
	font-size:16px;
	color:#FFFFFF;
	line-height:22px;
	text-align:center;
	}
	.error{
	color:red;
	}
	.success-message{
	color:green;
	}
}
