.header {
	height 		: 50px;
	box-shadow 	: 0px 1px 0px #E6E6E6;
    width 		: 1130px;
    margin-right: auto;
    margin-left : auto;
		a{
			text-decoration 	:none;
			cursor 				:pointer;
		}
	.title_header{
		margin 		: 9px 0px 0px 0px;
		display 	: inline-block;
		position 	: relative;
		padding 	: 0px 46px 0px 0px;
		img{
			position 	: relative;
			top 		: -2px;
		}
		.title{
			position 	: relative;
			left 		: 3px;
			top 		: 4px;
			span{
				font-family 	: $ubuntu_font;
				font-size 		: 24px;
				color 			: $lightdark_color ;
				line-height 	: 28px;
				font-style 		: italic;
				font-weight 	: 500;
				&:hover{
					transition 		: 0.3s linear color;
					color 			: $base_color;
					text-decoration : none;
			}	}
		}
	}
	ul{
		padding-left 	: 0px;
		display 		: inline;
		margin-left 	: 0px;
		#register{
			margin-right:42px;
		}
		li{
			margin-left 	: 0px;
			display 		: inline;
			margin-right 	: 18px;
			a{
				@include other_font($opensans_font,14px,#6B6B6B);
				&:hover{
					cursor 				: pointer;
					color 				: $base_color;
					text-decoration 	: underline;
					background 			: none;
					transition 			: 0.5s linear color;
				}
			}
			.instruction{
				color 		: $base_color;
			}
			.search{
				@include base_font;
			    padding 	: 0px;
    			margin 		: 8px 15px 0px;
				.form-group{
					margin 	: 0px;
					.form-control{
						background-color 	:white;
						&:focus{
							border-color 	: #7070A5;
					    	outline 		: 0;
					    	box-shadow 		: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 138, 233, 0.22);
						};
					}
				}
			}
			.scroll{
				overflow-y:scroll;
			}
			#results{
				position 		: absolute;
    			z-index 		: 1;
				margin-top 		: 0px;
				border-radius 	: 3px;
				border 			: 1px solid rgba(121, 85, 72, 0.24);
				background 		: white;
				max-height		: 276px;
				ul{
					li{
					    display 	: block;
					    margin 		: 5px 0px 0px 0px;
					    &:hover{
					    	cursor:pointer;
					    	background: rgba(107, 107, 107, 0.05);
					    };
					    img{
					    	width 			: 40px;
					    	height 			: 40px;
				    	    border-radius	: 50%;
				    	    margin 			: 5px 0px 5px 5px;
					    }
					    p{
					    	font-size 	 	: 15px;
					    	word-break 		: break-all;
					    	font-weight   	: 500;
					    }
					    span{
				    	    color 			: rgba(0, 0, 0, 0.54);
    						font-size 		: 13px;
					    }
					}
				}
			}
		}
		.account_li{
			margin-right: 29px;
			.account_a{
				background:white;
				position: relative;
				padding: 15px 0px;
				top: 15px;
				cursor:pointer;
				img{
					width: 30px;
				    height: 30px;
				    position: relative;
				    float: left;
				    border: 1px solid rgba(0, 0, 0, 0.09);
				    border-radius: 3px;
				    top: -5px;
				}
				.name{
					min-width: 100px;
					position: relative;
					float: right;
					top: -7px;
    				left: 5px;
					line-height:17px;
    				@include other_font($opensans_font,12px,#6B6B6B);
				}
				.money{
				@include other_font($opensans_font,12px,#6B6B6B);
				line-height:17px;
				position: relative;
			    left: 5px;
			    top: -7px;

				}
			}
		}
	}
	a {
		&:hover{
			text-decoration: none;
		}
	}
		.dropbtn {
		    background-color: #4CAF50;
		    color: white;
		    padding: 16px;
		    font-size: 16px;
		    border: none;
		    cursor: pointer;
		}

		.dropdown {
		    position: relative;
		    display: inline-block;
		    z-index:1;
		}

		.dropdown-content {
		    display: none;
		    top: 50px;
		    position: absolute;
		    background-color: #f9f9f9;
		    min-width: 160px;
		    box-shadow:0px 2px 7px 0px rgba(0,0,0,0.20);
			border-radius:5px;
		}

		.dropdown-content a {
		    color: black;
		    padding: 12px 16px;
		    text-decoration: none;
		    display: block;
		}

		.dropdown-content a:hover 
		{
			background-color: #f1f1f1
		}

		.dropdown:hover .dropdown-content {
		    display: block;
		}

		.dropdown:hover .dropbtn {
		    background-color: #3e8e41;
		}
		.bag-li{
			position:relative;
    		top: 14px;
			height: 25px;
			margin-right : 0px;
			.bag-img{
				width:14px;
				height:15px;
			}
			.bag-number{
				background:#7070A5;
				border-radius:29px;
				width:13px;
				height:12px;
				position: relative;
			    top: -20px;
			    left: 5px;
			}
			.bag-font{
				top: -5px;
			    left: 3px;
			    position: relative;
				@include other_font(Open Sans,8px,#FFFFFF);
				line-height:11px;
			}
			.bag-name{
				@include other_font(Open Sans,14px,#6B6B6B);
				line-height:19px;
				position:relative;
				top: -30px;
	    		left: 18px;
			}
			.bag-btn{
				position:relative;
				top:-5px;
				text-transform:uppercase;
			    width: 250px;
			    height:35px;
			    background-color: #8b77bc;
			    border-color: #6e55ab;
			    box-shadow: inset 0 1px 1px 0 #9a88c4;
			    border-radius:7px;
			    font-size: .9em;
			    color: white;
			    font-size: .7em;
			}
		}
		.bag-dropdown{
			position: relative;
		    display: inline-block;
		    z-index:1;
		    height:30px;
		    width : 45px;
		}
		.bag-dropdown a:hover{
			height:30px;
		}
		.dropdown-bagcontent {
		    display: none;
		    position: absolute;
		    right: -25px;
    		top: 38px;
    		height:50px;
		    background-color: #f9f9f9;
		    min-width: 300px;
		    box-shadow:0px 2px 7px 0px rgba(0,0,0,0.20);
			border-radius:5px;
		}

		.dropdown-bagcontent a {
		    color: black;
		    padding: 12px 16px;
		    text-decoration: none;
		    display: block;
		}

		.dropdown-bagcontent a:hover 
		{
			color:#6B6B6B;
			background-color: #f1f1f1
		}

		.bag-dropdown:hover .dropdown-bagcontent {
			box-shadow:0px 2px 7px 0px rgba(0,0,0,0.20);
			border-radius:5px;
		    display: block;
		}
		
}