.instruction{
	@extend .size;
	.showingpart{
		width 		: 75%;
		display 	: inline-block;
		.title{
			margin-top : 20px;
			@include other_font($ubuntu_font,24px,$lightdark_color);
		}
		.content{
			margin-top : 20px;
			.big_picture{
				width 			: 100%;
			    border-radius 	: 5px;
				border 			: 1px solid #AAAAAA;
			}
			.image{
				text-align : center;
			    margin-top : 20px;
				.picture{
					height : 300px;
				}
				.smallpicture{
				    border-radius 	: 5px;
				    box-shadow 		: 0px 0px 3px 2px #E0E0E0;
				}
			}
			.description{
				@include other_font($opensans_font,14px,$lightdark_color);
				margin-top 	: 20px;
				.add{
					@include blue_button;
			        @include other_font($opensans_font,16px,$white_color);
				    border-radius	: 3px;
			        border 			: 1px solid #66669A;
			        height 	 		: 30px;
		            line-height 	: 0px;
				}
				.smallpicture{
				    border-radius 	: 5px;
				    box-shadow 		: 0px 0px 3px 2px #E0E0E0;
				}
				.edit{
					width 	: 53.5%;
				}
				p{
					font-size 	: 14px;
					display  	: inline;
				    line-height : 35px;
				}
			}
		}
	}
	.list{
		width: 25%;
	    height: 300px;
	    border: 1px solid yellow;
	    float: right;
	}
}