/*define login css*/

/**/
.main-login{
	margin-top: 50px;
	margin-left: 325px;
	.col-md-3{
	border-style: none;
	width: 749px;
	height: 443px;
	}
	/**/
.icon_login{
	background:$base_color;
	border-radius:8px;
	width:27px;
	height:27px;
}
/**/
.icon_content{
	margin-left: 10px;
	width: 124px;
	height: 35px;
	font-family:Ubuntu;
	font-size:28.05px;
	color:#6B6B6B;
	line-height:32px;
	font-style: italic;
	top: 7px;
	position: relative;;
}
.header-logsign{
	margin-left: 635px;
	margin-top: -30px;
	width: 111px;
	height: 19px;
	font-family:"Open Sans", sans-serif;
	font-size:14px;
	color:#6B6B6B;
	line-height:19px;
	text-align:right;
	top: 11px;
	position: relative;;
}
.header-logsign a{
	color:#6B6B6B;
}
/**/
#login-form{
	margin-top: -370px;
	margin-left: 15px;
	background:#FFFFFF;
	box-shadow:0px 2px 7px 0px rgba(0,0,0,0.20);
	border-radius:3px;
	width: 749px;
	height: 443px;
}
/**/
.font-login{
	margin-left: 28px;
	margin-top: 38px;
	font-family:Ubuntu;
	font-size:20px;
	color:#6B6B6B;
	line-height:24px;
}
.btn-login{
	margin-left: 28px;
	margin-top: 20px;
	background-image:linear-gradient(-180deg, #ABABDF 1%, #8D8DC4 8%, $base_color 100%);
	border:1px solid #66669A;
	border-radius:3px;
	width:139px;
	height:40px;
	font-family:"Open Sans", sans-serif;
	font-size:16px;
	color:#FFFFFF;
	line-height:22px;
	text-align:center;
}
/**/
.btn-form{
	/*margin-top: 167px;
	background:#FFFFFF;
	box-shadow:0px 2px 7px 0px rgba(0,0,0,0.20);
	padding: 10px 10px 26px 10px;*/
}
/**/
.fontlogin{
	margin-left: 28px;
	margin-top: 20px;
	font-family:"Open Sans", sans-serif;
	color:#6B6B6B;
	line-height:19px;
}
/**/
.btn-logwith{
	width: 150px;
	margin-top: 40px;
	margin-bottom: 40px;
}
/**/
.link-re{
	margin-left: 28px;
	margin-top: 20px;
}
/**/
.btn-form-re{
	background:#FFFFFF;
	box-shadow:0px 2px 7px 0px rgba(0,0,0,0.20);
	padding: 10px 10px 63px 10px;
}
#email,#password{
	margin-left: 28px;
	margin-top: 20px;
	width:319px;
	height:35px;
}
#checkbox{
	margin-left: 28px;
	margin-top: 20px;
}
.horizontal{
	margin-left: 450px;
	margin-top: -300px;
	border:1px solid #E0E0E0;
	width:4px;
	height:334px;
}
.no-account-login{
	margin-left: 470px;
	margin-top: -350px;
}
a{
	text-decoration:none;
}
.title-signup{
	margin-right: 10px;
	font-family:"Open Sans", sans-serif;
	cursor:pointer;
	color:#6B6B6B;
}
.title-login{
	margin-left: 10px;
	font-family:"Open Sans", sans-serif;
	cursor:pointer;
	color:#6B6B6B;
}
.error{
	margin-left: 28px;
	margin-top: 20px;
	font-family:"Open Sans", sans-serif;
	color:red;
	line-height:19px;
}
.rememberCheck{
	font-family:"Open Sans", sans-serif;
	font-size:14px;
	color:#6B6B6B;
	line-height:19px;
	position:relative;
	left:30px;
	top:10px;
}
#register-form{
	margin-top: -370px;
	margin-left: 15px;
	background:#FFFFFF;
	box-shadow:0px 2px 7px 0px rgba(0,0,0,0.20);
	border-radius:3px;
	width: 749px;
	height: 500px;
}
.horizontal-signup{
	margin-left: 450px;
	margin-top: -400px;
	border:1px solid #E0E0E0;
	width:4px;
	height:350px;
}
.no-account{
	margin-left: 470px;
	margin-top: -350px;
}
}
