.specific_day{
    -moz-box-shadow: 0px 2px 0px #F2EBEB;
    -webkit-box-shadow: 0px 2px 0px #F2EBEB;
    box-shadow: 0px 2px 0px #F2EBEB;
    height: 39px;
	.week{
		padding: 11px 0px 0px 2px;
		position: relative;
		@include base_font;
		width: 191px;
		float:left;
		a{
			cursor: pointer;
		}
		.select_week{
			margin: 1px 0px 0px 1px;
			&:hover{
				cursor:pointer;
			}
			img{
				position: relative;
			    top: -3px;
    			left: -3px;
			}
			.title_week{
			    margin-right: 17px;
			}
			.caret{
				margin-top: -2px;
			}
		}
		.dropdown-menu{
			min-width: 120px;
		}
	}

	.date{
		float:left;
		ul{
			margin-left: 0px;
			li{
			    padding: 1px 41px 2px 0px;
			    margin-left: 0px;
				a {
					@include other_font(OpenSans,14px,$base_color);
					font-family: "Open Sans",sans-serif;
					line-height:19px;
					text-align:left;
					padding: 10px 0px 9px 0px;
					border-radius: 5px;
					&:hover{
						@extend .active;
						cursor: pointer;
					}
				}
				.active {
					background: white;
					padding-bottom: 7px;
					border-bottom: 4px solid $base_color;
					transition: all .2s ease-in;
				}
			}
		}

	}
		
}
.header_onthemenu {
	padding-top: 15px;
	.workingDay {
	    width	: 100%;
	    height 	: 40px;
	    hr{
			width		: 40%;
    		margin-top	: 17px;
		}
		.left{
			float: left;
		}
		.right{
			float: right;
		}
		.duration{
			@include other_font(Ubuntu,14px,#A7A7A7);
		    padding : 6px 0px 0px 4%;
    		float 	: left;
		}	
	}
	
	.title_choose_box{
		@include other_font(Ubuntu,28px,#6B6B6B);
		clear 		:both;
		line-height :30.23px;
		text-align  :center;
	}

	.box_frame{

		margin-top: 27px;
		#box{
			float:right;
		}
		.box{
			background: #FFFFFF;
		    box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.20);
		    border-radius: 3px;
			width: 528px;
    		height: 360px;
		    padding: 9px 0px 0px 18px;
		    display: inline-block;
			.picture_box{
				height 			: 261px;
    			width 			: 492px;
				border-radius 	: 6px;
				cursor 			: pointer;
				.image{
					padding 			: 0px;
					width 				: 163px;
					height 				: 259px;
					float 				: left;
					position 			: relative;
					background-repeat 	: no-repeat;
    				background-size 	: cover;
					.img_type {
						width: 44px;
					    height: 44px;
					    position: absolute;
					    top: 20px;
					    left: 57px;
					}
				}
				.image_specific{
					height: 100%;
					width: 100%;
				}
				
			}
			.description{
				position: relative;
				.title{
					@include other_font(Ubuntu,22px,$base_color);
					line-height:26px;
					padding-top: 12px;
				}
				.price{
					@include base_font;	
					font-size: 12px;
					border-style: none;
				    padding-bottom: 10px;
    				padding-left: 2px;
    				span{
					    font-weight: 800;
    					font-size: 18px;
    				}
				}
				
				.view{
				    position: absolute;
				    bottom: 11px;
				    right: 23px;
				    .bt_bag{
					    @include blue_button;
					    border: 1px solid #66669A;
					    border-radius: 3px;
					    height: 40px;
					    @include other_font($opensans_font,16px,#FFFFFF);
						width: 157px;
						text-align:center;
					    margin-right: 12px;
			    	}
			    	.bt_like{
			    		@include white_button;
					    border: 1px solid #D8D8D8;
					    border-radius: 3px;
					    width: auto;
					    height: 40px;
					    .like{
					    	width: 16px;
			    			height: 15px;
			    			position: relative;
						    right: 1px;
					        top: 1px;
    						color: $unlike_color;
    						transition  : color .3s ease-in ;
					    }
					    .liked{
			    		    color: rgba(255, 0, 0, 0.79);
			    		    transition  : color .3s ease-in;
				    	}
					    span{
					    	font-size: 12px;
					    	color: #AAAAAA;
						    position: relative;
						    right: 3px;
					    }
			    	}
				}
			}
		}
	}
	.or{
		@include other_font(Ubuntu,14px,#A7A7A7);
		line-height:16px;
		text-align:center;
		padding-top: 38px;
		display: inline-flex;
		width: 100%;
		.title{
			width: 100px;
		}
		hr{
			clear:left;
			width: 52px;
			color:#E0E0E0;
			margin-top: 8px;
		}
	}
	.type_dish{
	    margin-top: 13px;
	    .pager{
			.active{
				background: white;
			    padding-bottom: 7px;
			    color:#4A4A4A;
			    border:0px;
			    border-bottom: 4px solid $base_color;
			    font-weight: bold;
			}
		}
		ul{
			li{
				margin-left: 0px;
				@include other_font(OpenSans,14px,$base_color);
				font-family: "OpenSans",sans-serif;
				text-align:center;
				a {
					color 			: $base_color;
					background 		: white;
					border 			: 0px;
					cursor 			: pointer;
					border-radius 	: 5px;
					padding 		: 5px 11px;
					&:hover{
						padding-bottom: 7px;
						border-bottom: 4px solid $base_color;
						transition: all .2s ease-in;
					};
				}
			}
		}
	}
}
.footer_onthemenu{
    width: 1208px;
    display: inline-block;
	.bonus{
		margin: 9px 0px 27px 0px;
	}
	.floating-box{
		
		&:hover{
			cursor: pointer;
			box-shadow: 0px 1px 3px 3px rgba(0, 0, 0, 0.2);
		}
		float:left;
	    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.44);
	    border-radius: 3px;
        width: 223px;
	    height: 259px;
	    margin: 9px 79px 27px 0px;
	    position: relative;
	    @include other_font(Ubuntu,14px,$base_color);
	    padding 	: 4px 8px;

	    .bt_like {
	    	position: absolute;
		    right: 16px;
		    bottom: 10px;
	    	.like{
	    	    width: 16px;
			    height: 15px;
			    position: relative;
			    left: -6px;
			    bottom: -2px;
			    color: $unlike_color;
	    	}
	    	.liked{
    		    color: $liked_color;
	    	}
	    	.add-opacity{
				cursor 			: not-allowed;
				opacity:0.5;
				}
			.add{
				display 	: inline;
	    		width 		: 21px;
			    height 		: 21px;
			    position 	: relative;
			    right 		: -4px;
		    	.img_add{
				    &:hover{
				    	border-radius 		: 50%;
	    				box-shadow 			: 0px 0px 2px $base_color;
				    };
		    	}
			}
	    	#disable{
	    		cursor:not-allowed;
	    	}
	    	span{
	    		cursor: auto;
	    		font-family: "OpenSans",sans-serif;
	    		font-size:12px;
	    		position: relative;
	    		right: 4px;
    			bottom: -1px;
	    	}
	    }
	    .show_bag{
			position  		: fixed;
			top 	  		: 45%;
			right 	  		: 0;
			background 		: #1e5799; /* Old browsers */
			background 		: -moz-linear-gradient(left,  #1e5799 0%, #2989d8 22%, #7db9e8 100%); /* FF3.6-15 */
			background 		: -webkit-linear-gradient(left,  #1e5799 0%,#2989d8 22%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
			background 		: linear-gradient(to right,  #1e5799 0%,#2989d8 22%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			z-index   		: 1001;
			border-radius 	: 5px;
			transition 		: all .3 ease-in;
			.notification{
				font-size 	: 20px !important ;
				color 		: white !important;
				cursor 		: pointer !important;
				margin 		: 5px;
			}
		}
	    .money{
	    	font-family: "OpenSans",sans-serif;
	    	position: absolute;
	    	bottom: 10px;
	    	left: 13px;
	    	span{
	    		cursor: auto;
	    	}
	    }

	}
	.img_box{
	    border-radius: 5px;
	    width: 204px;
	    height: 158px;
	    border: 1px solid #F9EDED;
	    margin: 5px 0px 0px 2px;
	}
	.img_type{
		width: 44px;
	    height: 44px;
	    position: absolute;
	    top: 23px;
	    left: 91px;
	}
	.title_box{
	    height: 58px;
	    padding-top: 5px;
	    padding-left: 1px;
	    line-height: 22px;
	    text-align: left;
	}
	
}
