.order_status{
	.content{
		background-image: url("http://api.thumbr.it/whitenoise-361x370.png?background=ffffffff&noise=626262&density=6&opacity=38");
		height 			: 100%;
		.panel-default {
			@include base_font;
	        margin 				: 10px 25px 12px 25px;
		    box-shadow 			: 0px 0px 7px 0px rgba(0, 0, 0, 0.37);

		    .heading{
		    	background-color 	: $dark_blue_color;
		    	color 				: $white_color;
			    .firstline {
				    font-size 		: 15px;
				    font-weight 	: bold;
				    line-height 	: 21px;
				    text-transform 	: uppercase;
				}
			    .secondline{
			    	.sendingInfor{
			    		font-size 	: 14px;
			    		display 	: inline;
			    	}
			    	.option{
		    		    display 	 		: inline;
					    float 				: right;
					    text-decoration 	: underline;
					    cursor 				: pointer;

			    	}
			    }
		    }
		    .order-status-panel{
		    	.left{
		    		width: 60%;
		    		float: left;
		    		.left-of-left{
		    			width: 40%;
		    			float: left;
		    		}
		    		.right-of-left{
		    			width: 60%;
		    			float: right;
		    		}
		    	}
		    	.right{
		    		width: 40%;
		    		float: right;
		    		.left-of-right{
		    			width: 50%;
		    			float: left;
		    		}
		    		.right-of-right{
		    			width: 50%;
		    			float: right;
		    		}
		    	}
		    	.both{
		    		clear: both;
		    	}
		    	.list-dish{
		    		margin-left: -40px;
		    		.dish-li{
		    			list-style-type:none;
		    		}
		    	}
		    	.order-status-head{
		    		padding: 10px 10px 10px 10px;
		    		font-size: 15px;
		    		text-transform: uppercase;
		    		border-bottom: 1px solid #ddd;
		    	}
		    	.order-status-content{
		    		padding: 10px 10px 10px 10px;
		    		border-bottom: 1px solid #ddd;
		    		.time-delivery{
		    			width: 70%;
		    			font-size: 14px;
		    		}
		    		.img-dish-info{
		    			width: 30%;
		    			float: left;
		    			.dish-img{
		    				width: 50px;
		    				height: 50px;
		    			}
		    		}
		    		.dish-info{
		    			font-size: 14px;
		    			width: 70%;
		    			float: right;
		    			.name-info{
		    				font-weight: 700;
		    				width: 80%;
		    			}
		    			.diff-info{
		    				width: 70%;
		    			}
		    		}
		    		.infor-deliver{
		    			.img-deliver-info{
		    				width: 100%;
			    			.account-img{
			    				width: 50px;
			    				height: 50px;
			    			}
		    			}
		    			.name-deliver-info{
		    				width: 80%;
		    				font-size: 14px;
		    			}
		    		}
		    		.status{
		    			color: orange;
		    			font-weight: 700;
		    			font-size:15px;
		    		}
		    	}
		    }
		}
	}
}
	.btn-change{
		background-color: #FF9126;
	    border-color: #f27700;
	    height: 35px;
	    width: 70px;
	    border-radius: 5px;
	    font-family: Ubuntu;
	    font-size: 14px;
	    color: white;
	    font-style: Italic;
	}
.change-deliver-form{
	.tb-order-status{
		width:200px;
		background-color: white;
	    margin: .5em 0;
	    padding: .7em .6em;
	    font-size: .95em;
	    color: #747474;
	    height: 40px;
	    border-radius: 5px;
	    border: 1px solid #e5e5e5;
	    text-align: left;
	}
	.select-order-status{
	    width: 200px;
	    display: block;
	    padding-left: .5em;
	    font-size: .95em;
	    margin: .5em 0;
	    color: #747474;
	    border: 1px solid #d8d8d8;
	    background-color: #f2f2f2;
	    vertical-align: middle;
	    height: 40px;
	    border-radius: 5px;
	}
	.name-delivery{
		.first-name{
			display: inline-block;
		}
		.last-name{
			display: inline-block;
		}
	}
	.address-delivery{
		.address{
			display: inline-block;
		}
		.district{
			display: inline-block;
		}
		.city{
			display: inline-block;
		}
	}
	.time-delivery{
		.option{
			color: #8b77bc;
			cursor:pointer;
		}
	}
}