.size_prepaid{
  @extend .size;
  width         : 960px;
 	hr{
		margin-top 		: 14px;
		margin-bottom 	: 0px;
		border 			: 0;
		height 			: 1px;
		background-size : 100%;
		background-image: -webkit-gradient(linear, 100% 50%, 0% 50%, color-stop(0%, rgba(216, 216, 216, 0)), color-stop(50%, $gray_color), color-stop(100%, rgba(216, 216, 216, 0)));
		background-image: -moz-linear-gradient(right, rgba(216, 216, 216, 0), $gray_color, rgba(216, 216, 216, 0));
		background-image: -webkit-linear-gradient(right, rgba(216, 216, 216, 0), $gray_color, rgba(216, 216, 216, 0));
		background-image: linear-gradient(to left, rgba(216, 216, 216, 0), $gray_color, rgba(216, 216, 216, 0));
	}
	.header-prepaid{
	    height 			: 137px;
	    border 			: 1px solid $dark_yellow_color;
	    margin-top 		: 49px;
	    border-radius 	: 5px;
	    background-color: #ffb063;
	    padding 		: 32px 20px 20px 30px;
	    .title{
	    	@include other_font($ubuntu_font,16px, $white_color);
	    	padding-bottom 	: 12px;
	    	font-weight 	: bold;
	    	font-style 		: italic;
	    }
	    .pay-benefit{
	    	overflow 	: hidden;
	    	.pay-benefit-item{
	    		width: 33%;
	    		float: left;
	    		.tick-bullet{
	    			position 				: relative;
				    height 					: 3em;
				    width 					: 3em;
				    background-color 		: $white_color;
				    -moz-border-radius 		: 50%;
				    -webkit-border-radius 	: 50%;
				    border-radius 			: 50%;
				    float 					: left;
				    margin-right 			: .5em;
				    text-align 				: center;
				    vertical-align 			: middle;
				    display 				: block;
				    color 					: $dark_yellow_color;
				    &:before{
				    	font-size: 30px;
					    content: '\2713';
					    position: absolute;
					    left: 11px;
					    top: 0px;
				    };
	    		}
	    		.pay-benefit-item-detail{
	    			@include other_font($opensans_font,13.6px,$white_color);
	    			font-weight: normal;
	    			span{
	    				font-weight: bold;
	    			}
	    		}
	    	}
	    }  
	}
	.plans-prepaid{
		@include base_font;
		.title{
			@include other_font($ubuntu_font,24px,$base_color);
			text-align 		: center;
		    text-transform 	: capitalize;
		    font-weight 	: 700;
		    font-style 		: italic;
		    margin-top 		: 24px;
		}
		.plans{
		    overflow 		: hidden;
		    display 		: block;
		    margin			: 33px auto 0px auto;
		    height 			: 280px;    
		    max-width 		: 800px;
		    padding 		: .5em;

		    .plan{
		    	width 		 : 23.72881%;
	    		float 		 : left;
	    		padding 	 : 15px 20px;
			    margin	 	 : 15px 10px 0px 0px;
			    text-align 	 : center;
			    background 	 : $white_color;
			    border 		 : 1px solid $gray_color;
			    border-color : rgba(0, 0, 0, 0.1);
			    border-radius: 5px;
			    cursor 		 : pointer;
			    height 		 : 240px;
			    .title{
		    	    margin-bottom 	: 24px;
				    font-size 		: 24px;
				    font-weight 	: 700;
				    color 			: $dark_blue_color ;
				    margin-top 		: 0px;
			    }
			    .price{
			    	margin-bottom 	: 20px;
				    line-height 	: 1;
				    font-size 		: 26px;
				    font-weight 	: bold;
				    color 			: #fd935a;
				    span{
				    	display 	: block;
					    margin-top 	: 5px;
					    font-size 	: 13px;
					    font-weight : normal;
					    color 		: #aaa;
				    }
			    }
			    .plan-features{
		    	    width 			: 120px;
				    padding 		: 15px 0 0 5px;
				    border-top 		: 1px solid #f2f2f2;
				    margin-left 	: auto;
				    margin-right 	: auto;
				    text-align 		: left;
				    height 			: 70px;
				    list-style-type : none;
			    	.plan-feature{
		    		    line-height : 23px;
					    font-size 	: 20px;
					    font-weight : 600;
					    color 		: #747474;
					    span{
				    	    font-size 	: 13px;
						    font-weight : normal;
						    color 		: #aaa;
					    }
			    	}
			    }
			    &:hover{
			    	box-shadow 	: 0 0 6px 1px rgba(216, 216, 216, 0.6);
		    	};
		    }
		    .highlight{
	    	    margin-top 		: 0 !important;
	    		padding-left 	: 15px;
			    padding-right 	: 15px;
			    border 			: 1px solid $dark_blue_color ;
			    height 			: 270px;
			    background-color: #a899cd;
			    transition 		: all 0.15s ease-out 0s;

			    .title{
		    	    color 		: $white_color;
			    }
			    .price{
			    	color 		: $white_color;
				    span{
				    	color 		: $white_color;
				    }
			    }
			    .plan-features{
			    	color 		: $white_color;
			    	.plan-feature{  
			    		color 		: $white_color;
					    span{
				    	    color 		: $white_color;
					    }
			    	}
			    }

		    }
		}
	}
	.select-payment-method{
		padding-top 	: 10px;
	    margin-bottom 	: 33px;
		.title_payment{
			@include other_font($ubuntu_font,24px,$base_color);
	    	margin-top 		: 44px;
			text-transform 	: capitalize;
		    text-align 		: center;
		    font-weight 	: bold;
		    font-style 		: italic;
	    }
	    ul{
	    	padding-left 	: 8.47458%;
		    overflow 		: hidden;
		    margin 			: 24px 0px 0px 66px;
		    height 			: 180px;
		    .bitcoin{
    			width: 40px !important;
		    }
			.typeof-pay{
			  position: relative;
			  display: block;
			  background: $white_color;
			  cursor: pointer;
			  float: left;
			  width: 100px;
			  height: 150px;
			  margin-right: 10px;
			  margin-top: .5em;
			  padding: 50px 0 0;
			  font-size: 12px;
			  line-height: 1;
			  text-align: center;
			  border: 1px solid $gray_color;
			  -moz-border-radius: 5px;
			  -webkit-border-radius: 5px;
			  border-radius: 5px;
			    .svg-cash{
			    	bottom: 5px;
				    width: 70px;
				    height: 70px;
				   .svg-cash-hand{
				   	fill: #FFCA65;
				   }
				   .svg-cash-money{
					fill: #34b154;
				   }
				   .svg-cash-money-inner{
				   	fill: #fff;
					opacity: .4;
				   }
				   .svg-cash-thumb{
				   	stroke: #FBAD3E;
					fill: none;
				   }
				   .svg-cash-shirt-inner{
					fill: #def;
				   }
				   .svg-cash-shirt-outer{
					fill: #07b;
				   }
			    }
			    .svg-visa{
			    	    bottom: 50px;
					    width: 40px;
					    height: 40px;
			    	.svg-visa-border{
			    		fill: #005098;
			    	}
			    	.svg-visa-letter{
						fill: #005098;
			    	}
			    	.svg-visa-corner{
						fill: #F6A500;
			    	}
			    }
			    .svg-master{
			    	    bottom: 25px;
					    width: 40px;
					    height: 40px;
			    	.svg-master-border{
						fill: #E30613;
			    	}
			    	.svg-master-circle2{
						fill: #FAB31E;
			    	}
			    	.svg-master-circle1{
						fill: #E40520;
			    	}
			    	.svg-master-letter{
						fill: #fff;
			    	}
			    }
			}
			.typeof-pay:after{
			  content: '';
			  position: absolute;
			  top: 15px;
			  left: 40px;
			  display: block;
			  width: 20px;
			  height: 20px;
			  border-radius: 50%;
			  -moz-box-shadow: inset 0 0 0 1px #bbb, inset 0 0 0 6px #fff;
			  -webkit-box-shadow: inset 0 0 0 1px #bbb, inset 0 0 0 6px #fff;
			  box-shadow: inset 0 0 0 1px #bbb, inset 0 0 0 6px #fff;
			  background: #fff;
			}
			 .typeof-pay:hover:after{
			 	background: #bbb;
			}
			 ::selection{
			 	background: #766BB2;
			    color: #f7f7f7;
			    text-shadow: 0 0 1px #DEDEDE;
			}
			 .typeof-pay.active{
			 	background-color: #e2deee;
			    border: 1px solid $dark_blue_color ;
			    height: 165px;
			    margin-top: 0 !important;
			}
			.typeof-pay.active:after{
			 	background: $dark_blue_color ;
				top: 15px;
				left: 40px;
			}
			 .typeof-pay:hover{
			 	box-shadow: 0 0 6px 1px rgba(216, 216, 216, 0.6);
			}
			img{
				width 		: 70px;
				margin-top 	: 17px;
			}
		}
	/*end css of select payment method*/
	}
	.payment-form{
		height 		: 76px;
	    margin-top 	: 8px;
		.btn-submit{
			@include other_font($ubuntu_font,24px,$white_color);
			background-color 		: $dark_blue_color ;
		    border-color 			: #6e55ab;
		    box-shadow 				: inset 0 1px 1px 0 #9a88c4;
		    float 					: right;
		    border-radius 			: 5px;
		    background-color 		: $dark_blue_color ;
		    border 					: 1px solid #6e55ab;
		    text-align 				: center;
		    vertical-align 			: middle;
		    width 					: 240px;
		    height 					: 70px;
		    font-style 				: italic;
		    @include blue_button;
		}
	}
	.atm{
		max-width 		: 800px;
	    min-height 		: 200px;
	    margin-left 	: auto;
	    margin-right 	: auto;
	    h5{
	    	@include other_font($opensans_font,16px,#747474);
		    margin-bottom 	: 1em;
		    margin-top 		: 2em;
		    font-weight 	: bold;
	    }
	    .atm-item{
	    	width 				: 83.05085%;
		    float 				: left;
		    margin-right 		: 1.69492%;
		    padding-left 		: 8.47458%;
		    list-style-type 	: none;
		    .item{
    	        width 			: 18%;
			    float 			: left;
			    padding 		: .5em;
			    border-radius 	: 5px;
			    cursor 			: pointer;
			    border 			: 2px solid $gray_color;
			    margin 			: 7px 5px;
		    	img{
	    		    width 		: 100%;
				    height 		: auto;
				    -moz-border-radius: 5px;
				    -webkit-border-radius: 5px;
				    border-radius: 5px;
				    
		    	}
		    	&:hover{
		    		box-shadow 	: 0 0 6px 1px rgba(216, 216, 216, 0.6);
		    	};
		    }
		    .on{
	    	    border 		: 2px solid $dark_yellow_color;
		    }
	    }
	}
	
}
