.reset_password{
	margin-left:400px;
	box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.2);
	height:370px;
	width:500px;
	border-radius:5px;
	.title-reset{
	position:relative;
	top:10px;
	left:20px;
	@include other-font(Ubuntu,28px,$base_color);
	font-style:Italic;
	}
	.form-resetpassword{
	position:relative;
	top:10px;
	}
	.font{
	margin-left:20px;
	margin-top:20px;
	font-family:"OpenSans",sans-serif;
	color:#6B6B6B;
	line-height:19px;
	}
	#password{
	margin-top:10px;
	margin-left:20px;
	width:400px;
	}
	.btn-change{
	background-image:linear-gradient(-180deg, #ABABDF 1%, #8D8DC4 8%, $base_color 100%);
	border:1px solid #66669A;
	border-radius:3px;
	width:139px;
	height:40px;
	font-family:"OpenSans",sans-serif;
	font-size:16px;
	color:#FFFFFF;
	line-height:22px;
	text-align:center;
	margin-left:20px;
	margin-top:20px;
	}
	.error{
	margin-left:20px;
	color:red;
	margin-top:5px;
	}
}