.revieworder{
	.first{
		@include base_font;
		text-align : center;
		margin-top : 16px;
		.title{
			@include other_font($ubuntu_font,25px,$dark_blue_color);
			font-style  : italic;
			font-weight : 600;
		}
		.bonus{
			font-size  	: 14px;
		    margin-top 	: 6px;
		}
	}
	.second{
	    margin-top 	: 10px;
        width 		: 600px;
	    margin-left : auto;
	    margin-right: auto;
	    .heading{
	    	background-color : $dark_blue_color;
	    	.title{
	    		color 			: $white_color;
	    		font-size 		: 15px;
			    font-weight 	: bold;
			    line-height 	: 21px;
			    text-transform 	: uppercase;
	    	}
	    }
	    .table{
	    	td{
	    		@include base_font;
	    		font-size 		: 14px; 
    		    min-width 		: 136px;
    		    .product{
    		    	font-weight : bold;
    		    }
	    	}
	    }
	    .return{
	    	text-align 	: right;
	    	.download{
	    		margin-right 	: 10px;
	    		color 			: $dark_gray_color;
	    		&:hover{
	    			cursor 			: pointer;
	    			text-decoration : underline;
	    			color 			: $base_color;
	    			transition 		: 0.3s linear all;
	    		};
	    		i{
	    			margin-right 	: 7px;
	    		}
	    	}
	    	.shopping{
	    		@include blue_button;
	    		color 		: white;
	    	}
	    }
	}
}