.spinner{
    position 	: fixed;
    top 		: 0px;
    bottom 		: 0px;
    left 		: 0px;
    right 		: 0px;
    z-index 	: 1001;
    background 	: $white_color;
    .loadingIcon {
    	text-align  : center;
        height      : 100px;
        position    : absolute;
        top         : 0;
        bottom      : 0;
        left        : 0;
        right       : 0;
        margin      : auto;
    	.loadingImg {
		    
		}
		.title_loading{
			@include other_font($opensans_font,19px,$lightdark_color);
		}
	}
}
