@mixin normalUbuntu_font($size,$color){
  font-family: Ubuntu;
  font-size: $size;
  color: $color;
}
@mixin ItalicUbuntu_font($size,$color){
  font-family: Ubuntu;
  font-size: $size;
  color: $color;
  font-style:Italic;
}
/*define user home page css*/
.user-home{
	  width: 100%;
    overflow: hidden;
    position: relative;
      .row{
      margin-left: 0px;
      margin-right: 0px;
      }
      a{
        text-decoration:none;
        cursor:pointer;
      }
      .link a{
        text-decoration:none;
        color: gray;
        cursor: pointer;
      }
      .link a:hover{
        color: #8b77bc;
      }
      .link a .active{
        color: #8b77bc;
      }
/**/
    .part1{
       padding: 10px 0px 0px 0px;
       width: 100%;
      height: 475px;
      margin-bottom: 10px;
    }
    /**/
      .title-mainslidewshow{
        border-style: none;
        height: 100px;
      }
       ul{
        margin-left: 100px;
        list-style-type:none;
      }
      li{
        margin-left: 150px;
        display:inline;
        float:left;
      }
      li a.active{
        color:black;
      }
      #title-slide{
        position: relative;
        top: 50px;
        left: -100px;
      }
      .in-mainheader{
        margin-top: 200px;
      }
/**/
      .mainheader{
        width: 100%;
        height: 475px;
      }
      .item-content{
        margin-top: 10px;
      }
      .active{
        background-color: gray;
        font: white;
      }
    .part2{
      border-style: none;
      margin-top: 50px;
      background-image: url('../images/witewall_3.png');
      width: 100%;
      height: 550px;
      padding: 10px 10px 10px 10px;
      margin-bottom: 10px;
    }
    .list-menu{
    position:relative;
    left:50px;
    top:-10px;
      
    }
    .list-menu ul{
      list-style-type:none;
    }
    .menudish a{
      background-color:white;
      text-decoration:none;
      color:gray;
      cursor:pointer;
    }
    .menudish a:hover{
      background-color:white;
      text-decoration:none;
      color:black;
      border-bottom:4px solid #FF9126;
    }
    .menudish a.active{
      background-color:white;
      text-decoration:none;
      color:black;
      border-bottom:4px solid #FF9126;
    }
    .menudish{
      margin-right: -50px;
      @include ItalicUbuntu_font(16px,#6c6c6c);
      line-height:16px;
      text-decoration: none;
    }
    .item-image{
      width:50%;
      height:400px;
    }
    .button-row{
        padding: 10px 10px 10px 10px;
    }
  .btn-violet{
    background-image:linear-gradient(-180deg, #C1B0E9 0%, #9A87C9 5%, #7C67B0 100%);
    border:1px solid #6E55AB;
    border-radius:3px;
    width:208px;
    height:70px;
    color:#FFFFFF;
    margin-left: 50px;
    @include blue_button;
  }
  .btn-white{
    background-image:linear-gradient(-180deg, #FFFFFF 0%, #FDFDFD 7%, #F3F3F3 100%);
    border:1px solid #D8D8D8;
    border-radius:3px;
    width:208px;
    height:70px;
    color:#6C6C6C;
    @include white_button;
  }
/*define font css*/
    .font-title1{
      color: white;
      font-family:$ubuntu_font;
      line-height:26px;
      font-style: italic;
       font-size: 45px;
       margin-bottom: 30px;
    }
    .font-title2{
      font-family: $opensans_font;
      color: white;
      line-height:26px;
      font-style: normal;
      font-size: 25px;
      margin-bottom: 30px;
    }
    .font-title2legwork{
      color: #6c6c6c;
      line-height:16px;
      font-family:Ubuntu;
      font-style: italic;
      font-size: 16px;
      margin-bottom: 30px;
    }
    .font-btnup{
      font-family:Ubuntu;
      line-height:26px;
      font-style: italic;
      font-size:25px;
    }
    .font-btndown{
      font-family: $opensans_font;
      font-size:14px;
      line-height:19px;
    }
    .font-slideicon{
      font-family: $opensans_font;
      position: relative;
      top:10px;
      left:-50px;
      width: 170px;
      height: 20px;
      font-size: 15px;
    }
.active-link{
  color: #8b77bc !important;
}
.font-titlelegwork{
    font-family: $opensans_font;
    color: #6c6c6c;
    font-size: 16px;
}
.font-titlehead{
    font-family: $opensans_font;
    font-weight:bold;
    color: #393939;
    font-size:20px;
}
.font-titlebody{
    font-family: $opensans_font;
    color: #747474;
}
/*define css part 3*/
.part3{
  background-image: url('../images/Danang.png');
  width: 100%;
  height: 40.625em;
  padding: 10px 10px 10px 10px;
}
.font-part3{
  font-family: $opensans_font;
  color:white;
  margin-top: 10px;
}
.content{
  margin-top: 10px;
  position: relative;
  top: 100px;
  left: 100px;
}
.link-more{
  font-family:$opensans_font;
  color: #8b77bc;
}
.link-more:hover{
  color: #8b77bc;
}
/**/
 .carousel-inner > .item > img,
 .carousel-inner > .item > a > img {
      width: 50%;
      margin: auto;
  }
  .carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}
  .carousel-caption{
    position: relative;
    width: 570px;
    top:320px;
    height: 80px;
    margin-left: -228px;
    background-color: rgba(255,145,38,0.5);
  }
  .image-showdish{
    opacity:0.5;
    margin-right:-100%;
  }
  .dish-pre{
    position:relative;
    left:-193%;
    opacity:0.5
  }
  .dish-next{
    position:relative;
    left:-68%;
    opacity:0.5
  }
  .dish-title1{
   font-family: $opensans_font;
   float:left;
   margin-left:20px;
   margin-top:-5px;
   font-weight: bold;
   font-size: 18px;
   text-transform: uppercase;
  }
  .dish-title2{
  font-family:$opensans_font;
  float:left;
  margin-top:25px;
  margin-left: -145px;
  }
  /**/
  .article{
    border-radius: 50%;
  }
  .article-col{
    margin-right: 50px;
  }
  /**/
  .image_customer{
    margin-top: 10px;
    width: 100%;
  }
  /**/
  .avatarlist{
    margin-top: -50px;
    margin-left:200px;
    height: 180px;
  }
  .avatarlist ul li{
  display:inline;
  float:left;
  }
  .avatarlist li{
  margin:0px;
  }
  .avatar{
    opacity: 0.5;
    background-position: center center;
    background-repeat:no-repeat;
    height:115px;
    width:115px;
    border-radius: 50%;
    border: 3px solid white;
    background-color: white;
    transform: scale(0.75);
    cursor: pointer;
    transition  : all .3s ease-in ;
  }
  .on{
    opacity:1;
    transform:scale(1);
  }
  .avatar:hover{
    opacity:1;
    transform:scale(1);
    transition  : all .3s ease-in ;
  }
  .moveup{
  top:0;
  }
  .quote-content{
    color:white;
    width:672px;
    height:200px;
    position: relative;
    top: 60px;
    line-height: 1.3;
  }
  .quote-address{
    font-family: $opensans_font;
    text-transform:uppercase;
    color:white;
    font-size:20px;
    position: relative;
    top:20px;
  }
  .avatarli{

  }
  .quote-name{
  color: #747474;
  text-transform:uppercase;
  font-family: $opensans_font;
  position:relative;
  width:80px;
  }
  .con{
    margin-top: 0px;
    position: relative;
  }
  .main-footer{
    margin-top: 50px;
    background-color: #8b77bc;
    width: 100%;
    color: white;
  }
.animate-enter, 
.animate-leave
{ 
    -webkit-transition: 600ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 600ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 600ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 600ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 600ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
} 
 
.animate-enter {
    top: 100%;
}
.animate-enter.animate-enter-active {
    top: 0;
}
 
.animate-leave {
    top: 0;
}
.animate-leave.animate-leave-active{
    top: -100%;
}
/**/
.fade-animation.ng-hide-add,
.fade-animation.ng-hide-remove {
  -webkit-transition:0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition:0.5s linear all;

  display:block !important;
  opacity:1;
}
.fade-animation.ng-hide {
  opacity:0;
}
}

.notification{
  position  : fixed;
    top     : 0px;
    bottom    : 0px;
    left    : 0px;
    right     : 0px;
    z-index   : 10001;
    .addMoney {
      text-align      : center;
      height        : 330px;
      width         : 280px;
      position      : absolute;
      top         : 0;
      bottom        : 0;
      left        : 0;
      right         : 0;
      margin        : auto;
      -webkit-box-shadow  : 0px 0px 5px 0px $lightdark_color;
    -moz-box-shadow   : 0px 0px 5px 0px $lightdark_color;
    box-shadow      : 0px 0px 5px 0px $lightdark_color;
    background      : $white_color;
    .title{
      @include other_font($ubuntu_font,30px,$base_color);
    }
    .content_notification{
      .image {
          width: 200px;
      }
      .sentence{
        @include other_font($opensans_font,21px,$base_color);
      }
    }
    .confirm {
        margin-top: 8px;
        .okay{
          width     : 30%;
          outline   : white;
          @include white_button;
        }
    }
  }
}
