
	@mixin font_OpenSans{
		font-family: "Open Sans", sans-serif;
		font-size: 13px;
		color: #AAAAAA;
	}
	@mixin border-form{
		background:#FFFFFF;
		box-shadow:0px 2px 7px 0px rgba(0,0,0,0.20);
		border-radius:3px;
		width:100%;
	}
	@mixin font-bagbase{
		font-family: 'Open Sans Semibold', sans-serif;;
		font-size:13px;
		color:#6B6B6B;
		line-height:18px;
	}
	@mixin font-bag($size,$color,$lineheight)
	{
		font-family: 'Open Sans Semibold', sans-serif;;
		font-size:$size;
		color:$color;
		line-height:$lineheight;
	}
		@mixin add-bag{
			@include blue_button;
			border:1px solid #66669A;
			border-radius:3px;
			font-family:$opensans_font;
			font-size:16px;
			color:#FFFFFF;
			line-height:22px;
			text-align:center;		
				}
.body-wish{
	padding:0px 0px 10px 0px;
	height:auto;
	.opacity{
		opacity:0;
		z-index:-1;
	}
	.wishlist{
		padding:0px 0px 10px 0px;
		#title-of-wishlist{
			padding-top: 40px;
    		height: 100px;
		}
		.title-wishlist{
			@include other_font(Ubuntu,28px,#6B6B6B);
			line-height:30.23px;
			text-align:center;
		}
		#wishlist{
			width:100%;
		}
		.main-wishlist{
			padding:10px 20px 0px 20px;
			@include border-form;
			width:849px;
			margin-bottom:10px;
		.space{
			margin-bottom: 130px;
		}
		    .titlehead-bag{
			    @include font-bagbase;
			    position:relative;
			    top:4px;
		    }
		    .title{
    			height: 30px;
			}
			ul{
				li{
					display:inline;
				}
				a:hover{
					color: #8b77bc;
					text-decoration:none;
				}
				a:focus{
					color: #8b77bc;
					text-decoration:none;
				}
				a.active{
					color: #8b77bc;
					text-decoration:none;
				}
			}
			.title-list{
				@include font_OpenSans;
				line-height:17px;
				text-transform:uppercase;
			}
			.title-product{
				width:759px;
			}
			.title-unitprice{
				width: 142px;
			}
			.title-size{
				width: 411px;
			}
			.title-price{
				width: 356px;
			}
			.wishproduct{
			    height: 100px;
				.head-product{
					width:844px;
				}
				.title-a{
					text-decoration:none;
				}
				.img-product{
					height:87px;
					width:100px;
					border-radius:3px;
				}
				.name-product{
					@include other_font(Ubuntu,20px,#6B6B6B);
					line-height:24px;
					display: inline;
					margin-left:10px;
				}
				.unitprice{
					width: 200px;
					@include font_OpenSans;
					font-size:14px;
					color:#6B6B6B;
					line-height:21px;
				}
				.size{
					width: 200px;
					@include font_OpenSans;
					font-size:13px;
					color:#6B6B6B;
					line-height:21px;
				}
				.price{
					width: 356px;
					@include font_OpenSans;
					font-size:14px;
					color:#6B6B6B;
					line-height:21px;
				}
				.img-delete{
					width:14px;
					height:14px;
				}
				.size-people{
					background-color: #f7f7f7;
					height:30px;
					width:170px;
					border: 1px solid #ccc;
	    			border-radius: 4px;
	   				box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
					@include font_OpenSans;
					font-size:14px;
					color:#6B6B6B;
				}
				.delete-product{
					position:relative;
					left:-20px;
				}
				.btn-like{
					outline-color: white;
				    background-image: linear-gradient(-180deg, #FFFFFF 0%, #FDFDFD 7%, #F3F3F3 100%);
				    border: 1px solid #D8D8D8;
				    border-radius: 3px;
				    width: 100%;
				    height: 40px;
				    margin-left: 4px;
				    position: relative;
				}
				#btn-like{
					width:28px;
					height:28px;
					position:relative;
					top:4px;
					left:1px;
				}
				.add-bag{
					@include add-bag;
					position:relative;
					right:20px;
					width:139px;
					height:40px;
				}
				.img-liked{
					color: rgba(255, 0, 0, 0.79);
				}
				 .like{
			    	        position: absolute;
						    top: 10px;
						    left: 10px;
						    font-size: 23px;
						    color: $unlike_color
					}
					.liked
					{
			    		    color: rgba(255, 0, 0, 0.79);
				    }

			}
			.wishproduct.ng-enter,
				.wishproduct.ng-leave {
				  -webkit-transition:0.5s linear all;
				  transition:0.5s linear all;
				}

				.wishproduct.ng-enter,
				.wishproduct.ng-leave.ng-leave-active {
				  opacity:0;
				  height: 0px;
				}
				.wishproduct.ng-leave,
				.wishproduct.ng-enter.ng-enter-active {
				  opacity:1;
				   height: 30px;
				}
		}
		.high{
			margin-bottom:40px;
		}
		.ordernow-form{
			@include border-form;
		    padding: 12px 10px 10px 13px;
		    width: 275px;
		    float: right;
		    	.font-head{
			    	@include other_font(Ubuntu,20px,#6B6B6B);
					line-height:24px;
		    	}
		    	.check{
			    	background:#F9F9F9;
					border:1px solid #979797;
					border-radius:3px;
					width:16px;
					height:16px;
		    	}
		    	.font-check{
			    	@include base_font;
			    	position: relative;
				    top: -3px;
				    left: 10px;		
			    	}
			    .promote-code-div{
			    	padding-top:10px;
			    	border-top:1px solid #E0E0E0;
			    	width:230px;
			    	.promote-code-input{
			    		padding-bottom:10px;	
			    		.tb-promote-code{
			    		background-color:#f7f7f7;
				        height: 30px;
	    				width: 230px;
				        border: 1px solid #ccc;
					    border-radius: 4px;
					    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
				    	}
			    	}
			    }
		    	.shipping-content{
			    	border-top:1px solid #E0E0E0;
					width:241px;
					height:60px;
					position: relative;
		    		top: 13px;
		    		padding: 13px 10px 10px 2px;
			    		.font-body{
			    			float:left;
				    		@include font-bagbase;
				    	}
				    	.font-rightbody{
					    	@include base_font;
					    	float:right;
				    	}
		    	}
		    	.order-content{
		    		border-top:1px solid #E0E0E0;
					width:241px;
					height:195px;
		    		padding-top: 14px;
    				padding-left: 2px;
					.font-body{
				    		@include font-bagbase;
				    	}
			    	.totalmoney{
				    	@include font-bag(22px,#6B6B6B,30px);
			    	}
			    	.btn-order-div{
			    		height:80px;
				    	.btn-order{
						    width: 236px;
						    height: 60px;
					    	@include add-bag;
					    	position:relative;
					    	top:2px;
				    	}
			    	}
			    	.link-ordernow{
			    		font-family:$opensans_font;
						font-size:13px;
						color:#7070A5;
						line-height:21px;
				    	text-decoration:none;
				    	cursor:pointer;
				    	position: relative;
					    left: -2px;
			    	}
		    	}
		    	
			}
		
	}
	.article{
		background:#F9F9F9;
		box-shadow:0px -2px 4px 0px rgba(0,0,0,0.15);
		width:100%;
		height:370px;
		clear:both;
		position: relative;
    	top: 10px;
	    	.user-comment{
		    	width:121px;
				height:121px;
				border-radius:100%;
	    	}
	    	.head-article{
	    		position:relative;
	    		top: 28px;
    			left: -28px;
    			height:65px;
		    	.head-title{
					@include other_font(Ubuntu,18px,#6B6B6B);
					line-height:25px;
					text-align:center;
					position: relative;
				    top: -22px;
				    left: 6px;
		    	}
		    	.head-icon{
		    		font-family:FontAwesome;
					font-size:46px;
					color:#E1E1E1;
					line-height:41px;
	    		}
	    	}
	    	.body-content{
		    	font-family:$opensans_font;
				font-size:14px;
				font-style:Italic;
				color:#AAAAAA;
				line-height:22px;
				text-align:center;
				width:250px;
	    	}
	    	.first-item{
		    	float:left;
		    	width:350px;
		    	height:0px;
		    	position:relative;
		    	top: 23px;
    			left: 17px;
	    	}
	    	.second-item{
		    	float:right;
		    	position: relative;
			    top: 24px;
			    left: -31px;
	    	}
	    	.third-item{
		    	clear:both;
		    	position: relative;
			    top: -272px;
	    	}
		}
	}

