$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400italic,300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,300italic,400,700&subset=latin,latin-ext);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
.browsehappy {
  margin: 0 0;
  background: #ccc;
  color: #000;
  padding: 0 0;
}
/**********************COLOR*************************/

$base_color               : #7070A5;
$lightdark_color          : #6B6B6B;
$unlike_color             : #A9A9A9;
$liked_color              : rgba(255, 0, 0, 0.79);
$white_color              : #FFFFFF;
$dark_white_color         : rgba(255, 255, 255, 0.8);
$yellow_color             : rgba(255, 230, 59, 0.86);
$dark_yellow_color        : #FF9126;
$gray_color               : #d8d8d8;
$dark_gray_color          : #AAAAAA;
$dark_blue_color          : #8b77bc;

/*********************************************************/


/*********************FONT*****************************/

$opensans_font            : "Open Sans",sans-serif;
$opensans_semi_font       : OpenSans-Semibold, sans-serif;
$ubuntu_font              : Ubuntu,sans-serif;

/*********************************************************/



/*********************MIXIN*****************************/

@mixin base_font {
  font-family : $opensans_font;
  font-size   : 13px;
  color       : $lightdark_color;
}
@mixin other_font($font,$size,$color){
  font-family : $font;
  font-size   : $size;
  color       : $color;
}
@mixin white_button{
  outline-color       : white;
  background-image    : linear-gradient(-180deg, #FFFFFF 0%, #FDFDFD 7%, #F3F3F3 100%);
  &:hover{
    background-image  : linear-gradient(-180deg, #F3F3F3 44%, #FDFDFD 75%, #FFFFFF 73%);
  };
}

@mixin blue_button{
  outline-color       : white;
  background-image    : linear-gradient(-180deg, #ABABDF 1%, #8D8DC4 8%, $base_color 100%);
  &:hover{
     background-image : linear-gradient(-180deg, #7070A5 32%, #8D8DC4 61%, #ABABDF 82%);
  };
}

@mixin box_shadow{
  box-shadow: 0px 4px 3px -2px #E0E0E0;
  padding-left: 24px;
}
/********************************************************/
/****************************SIZE OF PAGE*****************************/
.size{
  width         : 1132px;
  margin-left   : auto;
  margin-right  : auto;
}
.size_dishdetail{
  @extend .size;
  margin-top    : 45px;
}

/*********************************************************************/

/****************************IMPORT*****************************/
@import "onthemenu";
@import "header";
@import "fooddetail";
@import "comment";
@import "orderstatus";
@import "revieworder";
@import "about";
@import "instruction";
@import "prepaid";
@import "spinner";

@import "enterinfor";
@import "footer";
@import "bootstrap";
@import "editprofile";
@import "forgotpassword";
@import "login";
@import "userhomepage";
@import "resetpassword";
@import "wishlist";
@import "common";
@import "confirmorder";
@import "foodpreference";
body {
  padding     : 0;
  overflow-x  : hidden;
}

.form-control{
  background-color:#f7f7f7;
}


