<div id="step24">
  <div class="money">
    {{money | filterMoney}} VND
    <span class="person">/ {{person}}</span>
  </div>
  <div class="select dropdown">
    <div class="dropdown-toggle" data-toggle="dropdown">
      <div class="selectedItem">
        {{select}}
      </div> <span class="caret"></span>
    </div>
    <ul class="dropdown-menu menu" role="menu">
      <li><a ng-click="setMoney(1)">1 person</a></li>
      <li><a ng-click="setMoney(2)">2 persons</a></li>
      <li><a ng-click="setMoney(3)">3 persons</a></li>
      <li><a ng-click="setMoney(4)">4 persons</a></li>
      <li><a ng-click="setMoney(5)">5 persons</a></li>
      <li><a ng-click="setMoney(6)">6 persons</a></li>
      <li><a ng-click="setMoney(7)">7 persons</a></li>
      <li><a ng-click="setMoney(8)">8 persons</a></li>
    </ul>
  </div>
</div>