<div class="size_dishdetail" ng-init="getData()"
smooth-scroll
duration="500"
easing="easeInOutQuint"
offset="120">
  <div class="dish">
    <div class="slide">
      <img ng-src="{{showingImage}}" alt="Dish" class="image">
      <div class="listImage">
        <ul>
          <li ng-repeat= "image in images">
            <img ng-src="{{image.src}}" class="smallImage" ng-click="changeImage(image.id)"
              ng-class="{active : image.id == index}">
          </li>
        </ul>
      </div> 
      <div class="bar">
        <div class="name">
          {{name}}
        </div>
      </div>
    </div>
    <div class="dish_detail">
      <div class="separation"></div>
      <div class="introduction" id="step23">
        <div class="title">{{box.name | deleteBlank}}</div>
        <div class="date">Available on {{start | date: "EEEE',' MMM dd"}} {{separation}} {{end | date: "EEEE',' MMM dd"}}</div>
        <div class="content">
          <div ng-show="!bool" class="enter">
          {{box.descriptions | deleteBlank | minimizeText:300}}
          </div>
          <div ng-if="bool" class="fade enter">
          {{box.descriptions | deleteBlank}}
          </div>
          <div ng-show="description.length > 300" >
            <a ng-click="bool=true" ng-show="!bool">More <span class="caret"></span></a>
            <a ng-click="bool=false" ng-show="bool">Hide <span class="caret"></span></a>
          </div>
          <br>
        </div>
      </div>
      <div class="add" >
        <amountof-Serving type="type" money="money"></amountof-Serving>
        <like-Action type="type" product="box" date="date"></like-Action>
      </div>
      <div class="cooking btn-group">
        <label class="btn active" ng-model="radioModel" uib-btn-radio="'Ingredient'" ng-click="Collapse(1)">
          Ingredients
        </label>
        <label class="btn" ng-model="radioModel" uib-btn-radio="'Calory'" ng-click="Collapse(2)">
          Nutrition
        </label>

      </div>
      <div class="material" >
        <div class="ingredient" uib-collapse="isIngredient">
          <div class="title_material">Content</div>
          <div class="content">
            <div class="media" ng-repeat="product in products">
              <div class="media-left">
                  <img class="media-object" ng-src="{{product.dish_type.images[0].normal_url}}" alt="{{product.dish_type.name}}">
              </div>
              <div class="media-body">
                <span>{{product.dish_type.name}}</span>: <span class="other">{{product.name}}</span>
              </div>
            </div>
          </div>   
          <div class="title_material" id="other_material">What we send</div>
          <div class="material_icon" ng-repeat= "ingredient in ingredients">
            <img ng-src="{{ingredient.image}}" alt="{{ingredient.name}}" data-toggle="tooltip" data-placement="bottom" title="{{ingredient.name}}">
          </div>    
        </div>
        <div class="nutrition" uib-collapse="isNutrition">
          <div class="panel panel-default" ng-repeat="product in products">
            <!-- Default panel contents -->
            <div class="panel-heading">{{product.name}}</div>
            <!-- Table -->
            <table class="table">
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Quantity</th>
              </tr>
              <tr ng-repeat="nutrition in product.nutritions">
                <td>{{$index + 1}}</td>
                <td>{{nutrition.name}}</td>
                <td>{{nutrition.quantity}} {{nutrition.unit}}</td>
              </tr>
            </table>
          </div>

          <!-- <canvas id="base" class="chart-base" chart-type="type"
            chart-data="data" chart-labels="labels" chart-legend="true">
          </canvas> 
          <a ng-click="toggle()">Other View</a> -->
        </div>
      </div>
      
    </div>
  </div>
  <other-Food filter="filter"></other-Food>
  <div class="box">
    <uib-tabset>
      <uib-tab heading="Comment" >
        <br>
        <comment type="type" data="comments" ng-if="isAppend"></comment>
      </uib-tab>
    </uib-tabset>
  </div>
</div>     
<spinner ng-show="isLoading"></spinner>
