<form class="comment_form" name="comment_form" id="comment">
	<h2 class="title">Comment</h2>
   	<div class="rate">
        <span>Rating :</span>
        <uib-rating ng-model="rate" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating"></uib-rating>
        <span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar && !isReadonly">{{percent}}%</span>
 	</div>
 	<div class="comment_box">
  		<textarea rows="3"  class="form-control" placeholder="Your comment ..." ng-model="textarea"></textarea>
      	<button class="btn btn-default btn_comment" ng-click="comment()" ng-model="button" ng-if="isDisplay">Comment</button>
      	<button class="btn btn-default btn_comment" ng-click="updateComment()" ng-model="button" ng-if="!isDisplay">Update</button>
      	<button class="btn btn-default btn_comment" ng-click="cancel()" ng-model="button" ng-if="!isDisplay">Cancel</button>
      	<span ng-show="isValid" class="error">{{errorMessage}}</span>
  	</div>
</form>
<div class="success" ng-if="isSuccess">Thank you for your comment. We'll show it soon.</div>
<hr>
<div class="listComment">
	<div ng-repeat="comment in comments">
	  	<uib-alert>
			<div class="media">
		  		<div class="media-left">
			    	<a href="#">
			      		<img class="media-object" ng-src="{{comment.user | filterAvarta}}" alt="Avatar">
			    	</a>
			  	</div>
			  	<div class="media-body">
				    <div class="name">{{comment.user | filterName}}</div>
				    <div class="rate">
				    	<uib-rating ng-model="comment.rating" max="5" readonly="true"></uib-rating>
				    </div>
				    <p class="comment">{{comment.body}}</p>
				    <div class="time">
				    	{{comment.updated_at | date: "dd MMMM yyyy 'at' hh':'mm"}}
				    </div>
			  	</div>
			  	<div class="media-right" >
			  		<button uib-popover-template="templateUrl" popover-trigger="focus" ng-if="comment.belongs_to_current_user">
			  			<i class="fa fa-pencil" ></i>
			  		</button>
			  	</div>
			</div>
	  	</uib-alert>
	</div>
</div>
<div class="more" ng-click="getmoreComments()" ng-if="allComments > visibleComments">
	<span class="viewMore">View more comments</span>
	<span class="showNumber">{{visibleComments}} of {{allComments}}</span>
</div>
<script type="text/ng-template" id="option.html">    
    <div ng-click="editComment($index)" class="option" scroll-to="comment"
    duration="800">Edit...</div>
    <div ng-click="deleteComment($index)" class="option">Delete...</div>
</script>