<div class="size_dishdetail" ng-init="getData()"
smooth-scroll
duration="500"
easing="easeInOutQuint"
offset="120">
  <div class="dish">
    <img ng-src="{{image}}" alt="Dish" class="image"> 
    <div class="dish_detail">
      <div class="separation">
        
      </div>
      <div class="introduction" id="step23">
        <div class="title">{{name | deleteBlank}}</div>
        <div class="date">Available on {{date | date: "EEEE',' MMM dd"}}</div>
        <div class="content">
          <div ng-show="!bool" class="enter">
          {{description | deleteBlank | minimizeText:300}}
          </div>
          <div ng-if="bool" class="fade enter">
          {{description | deleteBlank}}
          </div>
          <div ng-show="description.length > 300" >
            <a ng-click="bool=true" ng-show="!bool">More <i class="fa fa-caret-down"></i></a>
            <a ng-click="bool=false" ng-show="bool">Hide <i class="fa fa-caret-up"></i></a>
          </div>
          <br>
        </div>
      </div>
      <div class="add" >
        <amountof-Serving type="type" money="money"></amountof-Serving>
        <like-Action type="type" product="product" date="date"></like-Action>
      </div>
      <div class="cooking btn-group">
        <label class="btn active" ng-model="radioModel" uib-btn-radio="'Ingredient'" ng-click="Collapse(1)">
          Ingredients
        </label>
        <label class="btn" ng-model="radioModel" uib-btn-radio="'Calory'" ng-click="Collapse(2)">
          Nutrition
        </label>
      </div>
      <div class="material" >
        <div class="ingredient" uib-collapse="isIngredient">
          <div class="title_material">What we send</div>
          <div class="material_icon" ng-repeat= "ingredient in ingredients">
            <img ng-src="{{ingredient.images[0].normal_url}}" alt="{{ingredient.name}}" data-toggle="tooltip" data-placement="bottom" title="{{ingredient.name}}">
          </div>    
        </div>
        <div class="nutrition" uib-collapse="isNutrition">
          <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Nutrition</div>
            <!-- Table -->
            <table class="table">
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Quantity</th>
              </tr>
              <tr ng-repeat="nutrition in nutritions">
                <td>{{$index + 1}}</td>
                <td>{{nutrition.name}}</td>
                <td>{{nutrition.quantity}} {{nutrition.unit}}</td>
              </tr>
            </table>
          </div>
          <!-- <canvas id="base" class="chart-base" chart-type="type"
            chart-data="data" chart-labels="labels" chart-legend="true">
          </canvas> 
          <a ng-click="toggle()">Other View</a> -->
        </div>
      </div>
      
    </div>
  </div>
  <other-Food filter="filter"></other-Food>
  <div class="box">
    <uib-tabset>
      <uib-tab heading="Cooking Instruction">
        <br>
        <div class="content" ng-bind-html="cooking">
          <!-- <div ng-show="!isDisplay" class="enter">
            {{cooking | deleteBlank | minimizeText:300}}
          </div>
          <div ng-if="isDisplay" class="fade enter">
            {{cooking | deleteBlank }}
          </div>
          <div ng-show="cooking.length > 300" >
              <a ng-click="isDisplay=true" ng-show="!isDisplay">More <i class="fa fa-caret-down"></i></a>
              <a ng-click="isDisplay=false" ng-show="isDisplay">Hide <i class="fa fa-caret-up"></i></a>
          </div> -->
        </div>
      </uib-tab>
      <uib-tab heading="Comment">
        <br>
        <comment type="type" data="comments" ng-if="isAppend"></comment>
      </uib-tab>
    </uib-tabset>
  </div>
</div>     
<spinner ng-show="isLoading"></spinner>
