<!-- for dish on the menu page -->
<div class="bt_like" ng-if="type.page == 'onthemenu' && type.type == 'dish'" ng-init="init()" >
    <i class="fa fa-heart like " ng-class="{'liked' : product.current_user_like}" ng-click="likeFood(product)"></i>
  	<span> {{product.likes}}</span>
    <div class="add" id="step4" >
    	<img src="../images/add-icon.png" class="img_add" ng-click="addFood(product,0)" ng-if="isOutOfDate()||!isAdded(product)" ng-show="isOutOfDate()&&!isAdded(product)">
      <!-- ng-class="{'add-opacity':isAdded(product)}" -->
      <img src="../images/add-icon.png" class="img_add" id="disable" ng-if="!isOutOfDate()" uib-popover="Outed date" popover-trigger="mouseenter" ng-show="!isOutOfDate()&&!isAdded(product)" >
      <img src="../images/add-icon.png" class="img_add" id="disable" ng-if="isAdded(product)" uib-popover="Added to bag" popover-trigger="mouseenter" ng-show="isAdded(product)" >
    </div>
    <div class="show_bag" ng-show="showMessage">
      <span class="notification" ui-sref="app.bag">Check your bag</span>
    </div>
</div>
<!-- for dish on the dish detail page -->
<div class="bag_group" ng-if="type.page == 'dish' && type.type == 'dish'" ng-init="init()">
  	<button class="bt_bag" ng-click="addFood(product,1)" ng-if="isOutOfDate()" id="step25">
  		<img src="../images/dishdetail/bag-icon.png">
  		<span>Add to Bag</span> 
  	</button>
    <button class="bt_bag" id="disable" ng-if="!isOutOfDate()" uib-popover="The dish is out dated" popover-trigger="mouseenter">
      <img src="../images/dishdetail/bag-icon.png">
      <span ng-if="!isOutOfDate()">Out dated</span>
    </button>
  	<button class="bt_like" ng-click="likeFood(product)">
      <i class="fa fa-heart like" ng-class="{'liked' : product.current_user_like}"></i>
  		<span>{{product.likes}}</span>
  	</button>
</div>
<!-- for box on the box detail page -->
<div class="bag_group" ng-if="type.type == 'box' && type.page == 'box'" ng-init="init()">
    <button class="bt_bag" ng-click="addBox(product)" ng-if="isOutOfDate()"  id="step25">
      <img src="../images/dishdetail/bag-icon.png">
      <span>Add to Bag</span> 
    </button>
    </a>
    <button class="bt_bag" id="disable" ng-if="!isOutOfDate()">
      <img src="../images/dishdetail/bag-icon.png">
      <span>Out dated</span> 
    </button>
    <button class="bt_like" ng-click="likeFood(product)">
      <i class="fa fa-heart like" ng-class="{'liked' : product.current_user_like}"></i>
      <span>{{product.likes}}</span>
    </button>
</div>
<!-- for box on the menu page -->
<button class="bt_like" ng-if="type.type == 'box' && type.page == 'onthemenu'" ng-click="likeFood(product)">
  <i class="fa fa-heart like" ng-class="{'liked' : product.current_user_like}"></i>
  <span>{{product.likes}}</span>
</button>
<!-- for box on the menu page -->
<div class="bt_like" ng-if="type.type == 'dish' && type.page == 'detail' || type.type == 'box' && type.page == 'detail'">
  <i class="fa fa-heart like" ng-class="{'liked' : product.current_user_like}" ng-click="likeFood(product)"></i>
  <span>{{product.likes}}</span>
</div>
