<div class="box" ng-init="init()">
    <div class="title_boxes">You may like our boxes</div>
    <div class="floating-box" ng-repeat="box in boxes" ng-if="isShow(otherbox.id,box.date,filter)">
        <div ng-click="ChangeState('daily_box',box.date)">
        <div class="img_box ">
          <div class="separation" ng-repeat="product in box.products"
        style="background-image: url({{product.images[0].product_url}});">
          </div>
        </div>
          <div class="title_box">{{box.date | date : 'EEEE'  }} Box</div>
        </div>
        <div class="money">
          <span>{{box.products | filterBoxMoney | filterMoney}} VND</span>
        </div>
        <like-Action type="only_like_box" product="otherbox"></like-Action>
    </div>
   	<div class="title_boxes" id="other_boxes">You may like other dishes</div>
   	<div class="floating-box" ng-repeat="dish in dishes.products" 
      	ng-if="$index <= 6 && dish.id != filter.id_dish"> 
        <div ui-sref="app.onthemenu.dish({id : dish.id,date: showingdate })">
         	 <img ng-src="{{dish.images[0].product_url}}" class="img_box">
          	<img ng-src="{{dish.dish_type.images[0].normal_url}}" class="img_type"  >
          	<div class="title_box" popover-title="{{Popover.title}}" uib-popover="{{dish.name}}" 		popover-trigger="mouseenter">
           		{{dish.name | minimizeText:55}}
          	</div>
        </div>
        <div class="money">
          <span>{{dish.dish_price | filterMoney}} VND</span>
        </div>
        <like-Action type="only_like_dish" product="dish"></like-Action>
  	</div>
</div>