<!-- custom form login -->
<div class="main-login"
smooth-scroll
duration="500"
easing="easeInQuint"
offset="120"
ng-init="init()">
<div class="row">
<!--  -->
	<div class="col-md-3">
		<div>
			<img class="icon_login" src="../images/icon_img1.png" width="35" height="35">
			<span class="icon_content">Freshfood</span>
			<p class="header-logsign"><a ui-sref="app.login.register" class="title-signup"><b>Sign up</b></a>
			<a class="title-login" ui-sref="app.login">Login</a> </p>
			
		</div>
	</div>
	<div class="col-md-3" id="register-form">
		<h1 class="font-login">Sign up to Freshfood</h1>
	<form name="signupform"  role="form">
        <div class="form-group" ng-class="{ 'has-error': signupform.email.$dirty && signupform.email.$error.required }">
            <label for="email" class="fontlogin">Email</label>
            <input type="email" name="email" id="email" class="form-control" ng-model="email" required />
            <span ng-show="signupform.email.$dirty && signupform.email.$error.email" class="error">Email is invalid</span>
            <span ng-show="signupform.email.$dirty && signupform.email.$error.required" class="error">Email is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': signupform.password.$dirty && signupform.password.$error.required }">
            <label for="password" class="fontlogin">Password</label>
            <input type="password" name="password" id="password" class="form-control" ng-model="password" required ng-minlength="6"/>
            <span ng-show="signupform.password.$dirty && signupform.password.$error.required" class="error">Password is required</span>
            <span ng-show="signupform.password.$dirty && signupform.password.$error.minlength" class="error">Password must be biger than 6 characters</span>
        </div>
         <div class="form-group" ng-class="{ 'has-error': signupform.repassword.$dirty && signupform.repassword.$error.required }">
            <label for="repassword" class="fontlogin">Retype Password</label>
            <input type="password" name="repassword" id="password" class="form-control" ng-model="repassword" required pw-check="password"/>
            <span ng-show="signupform.repassword.$dirty && signupform.repassword.$error.required" class="error">Password is required</span>
             <span class="error" ng-show="signupform.repassword.$error.pwmatch" ng-hide="signupform.repassword.$error.required">
    		Passwords don't match</span>
        </div>
        <div class="form-actions">
			<button type="submit" ng-disabled="signupform.$invalid" class="btn-login" ng-click="signup()">Sign up</button>
			<span class="error">{{errorsignup}}</span>
		</div>
    </form>
		<div class="horizontal-signup"></div>
		<div class="no-account">
			<div class="fontlogin">
				<p>Have account</p>
				<a ng-href="#/main/login"><p>Login for free</p></a>
			</div>
			<div class="fontlogin">
				<p>Forgot your password</p>
				<a ng-href="#/main/login/forgotpassword"><p>Reset it here</p></a>
			</div>
		</div>
	</div>
</div>
	
</div>
<script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>