<div class="body-wish" ng-init="init()"
smooth-scroll
duration="500"
easing="easeInQuint"
offset="50">
	<div class="size wishlist">
		<center>
			<div id="title-of-wishlist">
				<p class="title-wishlist">My Shopping Bag</p>
			</div>
		</center>
		<!-- custom order form -->
			<div class="ordernow-form" ng-class="{'high':checked}">
			<div>
				<p class="font-head">Sumary</p>
				<input type="checkbox" class="check" ng-model="checked"><span class="font-check">Have a promote code</span>	
			</div>
			<div class="promote-code-div" align="right" uib-collapse="!checked">
			<div class="promote-code-input">
				<input type="text" ng-model="promote_code" class="tb-promote-code">	
			</div>
			<div align="right">
				<button class="btn btn-default">Apply</button>		
			</div>
			</div>
			<div class="shipping-content">
				<p class="font-body">Shipping</p>
				<p class="font-rightbody">Always free</p>
			</div>
			<div class="order-content">
				<p class="font-body">Order amount</p>
				<p class="totalmoney">{{totalbag|currency:"":0}} VND</p>
				<div class="btn-order-div">
				<button class="btn-order" ng-click="orderNow()" ng-disabled="isShow" id="step7" ng-show="!isShow">Order Now</button>
				<button class="btn-order" uib-popover="You need to add product to the bag" popover-trigger="mouseenter" ng-show="isShow" id="step7">Order Now</button>		
				</div>
				<a class="link-ordernow" ui-sref="app.onthemenu">Continue shopping</a>
			</div>
			</div>
			<!-- shopping bag -->
		<div class="main-wishlist" ng-hide="results.length<1" ng-repeat="deliverydate in listdate">
		<p class="titlehead-bag">Delivery on <span style="color:orange">{{deliverydate | date:'EEE, MMM d'}}</span>
		</p>
		<table>
			<tr class="title">
				<td class="title-list title-product">Product</td>
				<td class="title-list title-unitprice">Unit price</td>
				<td class="title-list title-size">Size</td>
				<td class="title-list title-price">Price</td>
				<td></td>
			</tr>
			<tr class="wishproduct" ng-repeat="dish in bagdishes| filterByDate:deliverydate as results" >
				<td class="head-product" id="step6">
					<a class="title-a" ui-sref="app.onthemenu.dish({id : dish.product.id,date: getTime(dish.date)})">
						<img ng-src="{{dish.product.images[0].product_url}}" class="img-product" >
						<p class="name-product">{{dish.product.name | minimizeText:20}}</p>
					</a>
				</td>
				<td class="unitprice">{{dish.product.dish_price |currency:"":0}} {{dish.product.dish_currency}}</td>
				<td class="size" ng-init="selectedSize=dish.size">
					<select class="size-people" ng-options="obj.value as obj.size for obj in sizes" ng-model="selectedSize" ng-change="changeSize(dish.product.id,selectedSize,deliverydate)"></select>
				</td>
				<td class="price">
					{{getPrice(dish.product.id,deliverydate)|currency:"":0}} {{dish.product.dish_currency}}
				</td>
				<td>
					<img src="./images/delete-dish.png" class="img-delete" ng-click="deleteProduct(dish.product.id,deliverydate)">
				</td>
			</tr>
		</table>
		</div>
	</div>
		<!-- custom content of article -->
			<div class="article">
			<div class="size">
				<div class="first-item">
				<center>
					<img src="./images/bag-user/user_1.png" class="user-comment">
					<div class="head-article">
						<span class="head-icon"></span><span class="head-title">I can't ask for more...I'm hooked!</span>
					</div>
					<div>
						<p class="body-content">
							The monkey-rope is found in all whalers; but it was only in the Pequod that the monkey and his holder were ever tied together.
						</p>
					</div>	
				</center>
				</div>
				<div class="second-item">
				<center>
					<img src="./images/bag-user/user_3.png" class="user-comment">
					<div class="head-article">
						<span class="head-icon"></span><span class="head-title">I can't ask for more...I'm hooked!</span>
					</div>	
					<div>
						<p class="body-content">
							The monkey-rope is found in all whalers; but it was only in the Pequod that the monkey and his holder were ever tied together.
						</p>
					</div>		
				</center>
				</div>	
				<div class="third-item">
				<center>
					<div class="head-article">
						<span class="head-icon"></span><span class="head-title">I can't ask for more...I'm hooked!</span>
					</div>	
					<div>
						<p class="body-content">
							The monkey-rope is found in all whalers; but it was only in the Pequod that the monkey and his holder were ever tied together.
						</p>
					</div>	
					<img src="./images/bag-user/user_2.png" class="user-comment">
				</center>
				</div>
			</div>	
			</div>
</div>
