<div ng-init="getData()" class="size" 
smooth-scroll
duration="500"
easing="easeInQuint"
offset="50">
  <div class="specific_day">
    <div class="week dropdown">
      <div class="select_week dropdown-toggle" data-toggle="dropdown">
      <img src="../images/onthemenu/icon_calendar.png">
        <span class="title_week">{{week}}</span> <span class="caret"></span>
      </div>
      <ul class="dropdown-menu" role="menu">
        <li ng-repeat="week in weeks">
          <a ng-click="setWeek($index)" ng-hide="week.index == index">{{week.name}}</a>
        </li>
      </ul>
    </div>
    <div class="date">
      <ul class="nav nav-pills">
        <li ng-repeat="day in days">
          <a ng-class="{'active': specificDay == day.id}" ng-click="setToday(day.id);">
            {{day.name}}
          </a>
        </li>
      </ul>
    </div> 
  </div>
  <div class="header_onthemenu">
    <div class="workingDay">
      <hr class="left">
      <div class="duration" >From {{Monday | date: "MMM dd "}} to {{Saturday | date: "MMM dd"}}</div>
      <hr class="right">
    </div>
    <div class="title_choose_box" >
      Choose your meal by box
    </div>
    <div class="box_frame">
      <div class="box" >
          <div class="picture_box" ui-sref="app.onthemenu.box({type:'weekly_box',date:weeklydate})" >
            <div class="image" ng-repeat="dish in weeklybox.delivery[0].products"
            style="background-image: url({{dish.images[0].product_url}});">
              <img class="img_type" ng-src="{{dish.dish_type.images[0].normal_url}}">
            </div>
          </div>
          <div class="description">
            <div class="title">{{weeklybox.name}}</div>
            <div class="price">from <span>{{weeklymoney | filterMoney}} VND</span> <br>
            per person/ meal, shipping</div>
            <div class="view">
              <button class="bt_bag" id="step2"
              ui-sref="app.onthemenu.box({type:'weekly_box',date:weeklydate})"> 
                <span>View Box</span> 
              </button>
              <like-Action type="boxtype" product="weeklybox"></like-Action>
            </div>
          </div>
      </div>
      <div class="box" id="box">
          <div class="picture_box" ui-sref="app.onthemenu.box({type:'daily_box',date:showingdate})">
            <!-- <img ng-src="{{dailybox.images[0].large_url}}" class="image_specific"> -->
            <div class="image" ng-repeat="dish in dishes"
            style="background-image: url({{dish.images[0].product_url}});">
              <img class="img_type" ng-src="{{dish.dish_type.images[0].normal_url}}">
            </div>
          </div>
          <div class="description" >
            <div class="title">{{dailybox.name}}</div>
            <div class="price">from <span>{{dailymoney | filterMoney}} VND</span> <br>
            per person/ meal, shipping</div>
            <div class="view">
              <button class="bt_bag" 
              ui-sref="app.onthemenu.box({type:'daily_box',date:showingdate})">
                <span>View Box</span> 
              </button>
              <like-Action type="boxtype" product="dailybox" date="selectedDate"></like-Action>
            </div>
          </div>
      </div>
    </div>
   
    <div class="or">
      <hr>
        <div class="title" id="showdish">or</div>
      <hr>
    </div>
     <div class="title_choose_box" >
      Choose your favorite dish for your meal
    </div>
    <div class="type_dish">
      <ul class="pager">
        <li>
          <a ng-class="{'active': selectedIndex == 0}" ng-click="setIndex(0);" scroll-to="showdish">
            All Dishes
          </a>
        </li>
        <li ng-repeat="type in types.dish_types" ng-if="types.count > 0 && type.is_active" >
          <a ng-class="{'active': selectedIndex == type.id}" ng-click="setIndex(type.id);" scroll-to="showdish">
            {{type.name}}
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer_onthemenu" >
      <div class="floating-box" ng-repeat="product in products | filterByType:selectedIndex:selectedDate:types.dish_types" id="step3">
        <div ui-sref="app.onthemenu.dish({id : product.id,date: showingdate })">
          <img class="img_box" ng-src="{{product.images[0].large_url}}">
          <img class="img_type"  ng-src="{{product.dish_type.images[0].normal_url}}">
          <div class="title_box" popover-title="{{Popover.title}}" uib-popover="{{product.name}}" popover-trigger="mouseenter">
            {{product.name | minimizeText:55}}
          </div>
        </div>
        
        <div class="money">
            <span>{{product.dish_price | filterMoney}} VND</span>
        </div>
        <like-Action type="dishtype" product="product" date="selectedDate"></like-Action>
      </div>
  </div>
</div>
<spinner ng-show="isLoading"></spinner>
