<div class="about"
smooth-scroll
duration="500"
easing="easeInOutQuint"
offset="120">
	<div class="first">
		<div class="title">
			Awesome peoples come from Code Engine Studio Vietnam
		</div>
	</div>
	<div class="second">
		<div class="title" id="ourboss">
			Our Boss
		</div>
		<div class="arrow">
			<div class="left" ng-click="moveBSection(0)">
				<i class="fa fa-angle-left" aria-hidden="true"></i>
			</div>
			<div class="right" ng-click="moveBSection(1)">
				<i class="fa fa-angle-right" aria-hidden="true"></i>
			</div>
		</div>
		<div class="content" ng-style="style" scroll-to="ourboss">
			<article class="member" ng-repeat="boss in bosses" ng-class="isBoss == $index ? 'active' : 'deactive'" >
				<div class="infor" ng-click="ShowBoss($index)">
					<div class="images">
						<img ng-src="{{boss.avatar}}" alt="Avatar">
					</div>
					<div class="personal" ng-class="isBoss == $index ? 'active_personal' : ''">
						<div class="name">{{boss.name}}</div>
						<div class="position">{{boss.position}}</div>
					</div>
				</div>
				<div class="introduction" ng-class="isBoss == $index ? '' : 'deactive'">
					{{boss.instroduction}}
				</div>
			</article>
		</div>
	</div>
	<div class="second">
		<div class="title" id="ourteam">
			Our Team
		</div>
		<div class="arrow">
			<div class="left" ng-click="moveDSection(0)">
				<i class="fa fa-angle-left" aria-hidden="true"></i>
			</div>
			<div class="right" ng-click="moveDSection(2)">
				<i class="fa fa-angle-right" aria-hidden="true"></i>
			</div>
		</div>
		<div class="content" ng-style="styleDeveloper" scroll-to="ourteam">
			<article class="member" ng-repeat="developer in developers" ng-class="isDeveloper == $index ? 'active' : 'deactive'" >
				<div class="infor" ng-click="ShowDeveloper($index)">
					<div class="images">
						<img ng-src="{{developer.avatar}}" alt="Avatar">
					</div>
					<div class="personal" ng-class="isDeveloper == $index ? 'active_personal' : ''">
						<div class="name">{{developer.name}}</div>
						<div class="position">{{developer.position}}</div>
					</div>
				</div>
				<div class="introduction" ng-class="isDeveloper == $index ? '' : 'deactive'">
					{{developer.instroduction}}
				</div>
			</article>
		</div>
	</div>	
</div>
