<!-- create confirm order page -->
<div class="confirm-order-page size" ng-init="init()"
smooth-scroll
duration="500"
easing="easeInOutQuint"
offset="120"
>

<div>
<!-- header of confirm order page -->
	<div class="header-confirm-order-page">
	<center>
		<h1 class="title-of-header">-Confirm Your Order-</h1>
		<p class="content-of-header">Delivery is free and convenient. Ingredients are carefully packaged in a refrigerated box so food stays fresh event if you're not home when we deliver.</p>
		</center>
	</div>
	<!-- information of account -->
	<div class="all-infor-of-confirm-infor">
		<div class="all-infor row" id="step15" align="center">
			<div class="col-md-4" id="account-infor">
				<div class="title-infor">Your account</div>
					<div class="content-of-account-infor">
						<div class="content-div">
							<p class="title-head">Name:</p>
							<p class="content">{{confirmorderinfor.username}}</p>
						</div>
						<div class="content-div">
							<p class="title-head">Phone number:</p>
							<p class="content">{{confirmorderinfor.phone}}</p>
						</div>
						<div class="content-div">
							<p class="title-head">Email</p>
							<p class="content">{{confirmorderinfor.email}}</p>
						</div>
					</div>
				<div align="right" id="link">
					<a ng-click="backBeforePage()">Change personal info</a>
				</div>
			</div>
			<div class="col-md-4" id="delivery-infor">
				<div class="title-infor">
					Delivery infor
				</div>
					<div class="content-of-deliver-infor">
						<div class="content-div">
							<p class="title-head">Address:</p>
							<p class="content">{{confirmorderinfor.address}}</p>	
						</div>
						<div class="content-div">
							<p class="title-head">District:</p>
							<p class="content">{{confirmorderinfor.district}}</p>	
						</div>
						<div class="content-div">
							<p class="title-head">City:</p>
							<p class="content">Da Nang</p>	
						</div>
						<div class="content-div">
							<p class="title-head">Time delivery:</p>
							<p class="content">{{confirmorderinfor.timeDeliver}}</p>	
						</div>
					</div>
					<div align="right" id="link">
						<a ng-click="backBeforePage()">Change delivery info</a>
					</div>
			</div>
			<div class="col-md-4" id="food-preference-infor">
				<div class="title-infor">Food preferences</div>
					<div class="content-of-food-preferences">
						<div class="content-div">
							<p class="title-head">How many people in your family?</p>
							<p class="content">{{confirmorderinfor.people}} people</p>	
						</div>
						<div class="content-div">
							<p class="title-head">The food you like:</p>
							<p class="content">{{confirmorderinfor.like}}</p>	
						</div>
						<div class="content-div">
							<p class="title-head">The food you don't like:</p>
							<p class="content">{{confirmorderinfor.dislike}}</p>
						</div>
						<div class="content-div">
							<p class="title-head">Anything we should know about your eating habits?</p>
							<!-- {{confirmorderinfor.feeling}} -->
							<p>{{confirmorderinfor.feeling}}</p>
						</div>
					</div>
				<div align="right" id="link">
					<a ng-click="backBeforePage()">Change food preferences</a>
				</div>
			</div>
			<div class="col-md-4" id="payment-infor">
				<div class="title-infor">Payment method</div>
					<div class="content-of-payment-method">
						<div class="content-div">
							<p class="title-head">You'll pay by:</p>
							<p class="content">{{confirmorderinfor.payBy}}</p>
						</div>
					</div>
					<div align="right" id="link">
						<a ng-click="backBeforePage()">Change payment method</a>
					</div>
			</div>	
		</div>
	</div>
</div>
<!-- all orders -->
<div class="your-order-form">
	<div class="header-of-order-form">
	<center>
		<h1 class="title-of-header">Your Order</h1>	
	</center>
	</div>
	<div class="product-of-order-form" ng-repeat="datedeliver in listdate">
		<div class="delivery-date">
		<i class="fa fa-car"></i>
		<span>Delivery on <b>{{datedeliver| date:'EEEE, MMM d yyyy'}}</b></span>
		</div>
		<div class="product-order">
			<table>
				<tr class="title">
					<td class="title-product">Product</td>
					<td class="title-unit-price">Unit price</td>
					<td class="title-people">People</td>
					<td class="title-price">Price</td>
				</tr>
				<tr ng-repeat="dish in products| filterByDate:datedeliver" class="content" id="step16">
						<td class="dish-infor">
							<img ng-src="{{dish.product.images[0].product_url}}" class="dish-img">
							<div class="dish-name">
								<p><b>{{dish.product.name}}</b></p	>		
							</div>
						</td>
						<td class="dish-unit-price">{{dish.product.dish_price|currency:"":0}} VND</td>
						<td class="dish-size">{{dish.size}} people</td>
						<td class="dish-price">{{dish.price|currency:"":0}} VND</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="price-infor" align="right">
		<div class="price" id="step17">
			<div class="shipping-free-div">
				<p class="shipping-free-left">Shipping free</p>
				<p class="shipping-free-right">Shipping free</p>
			</div>
			<div class="sub-total-div">
				<p class="sub-total-left">Subtotal</p>
				<p class="sub-total-right">{{total|currency:"":0}} VND</p>
			</div>
			<div class="grand-total-div">
				<p class="grand-total-left">Grand Total</p>
				<p class="grand-total-right" style="color:orange">{{total|currency:"":0}} VND</p>
			</div>
		</div>
		<div class="btn-place" align="right">
			<button class="btn-place-order" ng-click="confirm()" id="step18">Place Order</button>	
			<button class="btn-cancel" ng-click="cancel()" id="step19">Cancel</button>
		</div>
	</div>
</div>
</div>