<!-- custom enter infor before order page -->
<div class="size enter-infor-page" id="enter-infor-page" ng-controller="EnterinforCtrl" ng-init="init()">
<!-- custom title head of enter infor page -->
	<div class="enter-infor-head">
	<center>
		<h1 class="enter-infor-head-title">-Enter Your Information-</h1>
		<p class="enter-infor-head-content">Delivery is free and convenient. Ingredients are carefully packaged in a refrigerated box so food stays fresh even if you're not home when we deliver.</p>
	</center>
	</div>
		<!-- dishes in order form -->
		<div class="enter-infor-product">
			<div class="enter-infor-product-border">
				<!-- list product sort by delivery date -->
				<div class="enter-infor-dishes" ng-hide="result.length<0" ng-repeat="datedeliver in listdate|orderBy:datedeliver">
				<div>
					<p ng-hide="result.length<1">{{datedeliver| date:'EEE, MMM d yyyy'}}</p>
					<div ng-repeat="dish in orderdishes| filterByDate:datedeliver as result" class="dish-order">
						<img ng-src="{{dish.product.images[0].product_url}}" class="dish-img">
						<div class="dish-infor">
							<p class="dish-name">{{dish.product.name}}</p>
							<p> for {{dish.size}} people<br>
							{{dish.price|currency:"":0}} VND
							</p>
						</div>	
					</div>
				</div>

				</div>
				<!-- title of free shipping -->
				<div class="enter-infor-free-shipping">
					<p>Shipping</p>
					<p class="free-content">Free</p>
				</div>
				<!-- sub total -->
				<div class="enter-infor-subtotal">
					<p>Subtotal</p>
					<p class="subtotal-content">{{total|currency:"":0}} VND</p>
				</div>
				<!-- total -->
				<div class="enter-infor-total">
					<p>Total</p>
					<p class="total-content">{{total|currency:"":0}} VND</p>
				</div>	
			</div>
		</div>
	<!-- enter infor detail form -->
	<form name="enterinfor-form">
	<!-- custom body of enter infor page -->
	<div class="enter-infor-form">
	<!-- enter infor detail of user -->
		<div class="enter-infor-detail">
		<!-- infor of shipping address -->
			<div class="enter-infor-shipping" >
				<div class="title-enter-infor" id="step8">
					<div>
						<span>Your shipping address</span>
					</div>
				</div>
				<div class="all-infor-shipping all-infor"  ng-show="showInforShipping" ng-if="checkStep(0)">
					<div class="select-address">
							<select class="select-enter-infor address-select" ng-model="deliverinfor.selectaddress" ng-options="obj.id as obj.title for obj in user_address" ng-change="changeAddress()"></select>
							<button class="btn-basic btn-add-delivery" data-toggle="modal" data-target="#myModal" ><i class="fa fa-plus"></i></button>
							<button class="btn-basic btn-add-delivery" data-toggle="modal" data-target="#editModal"><i class="fa fa-pencil"></i></button>
						</div>
					<div>
					<p for="Your Name">First Name</p>
					<input type="text" class="tb-ship-enter-infor tb-basic-enter-infor" ng-model="deliverinfor.firstname" placeholder="First Name" ng-focus="isEdit" disabled>
					</div>
					<div>
					<p for="Your Name">Last Name</p>
					<input type="text" class="tb-ship-enter-infor tb-basic-enter-infor" ng-model="deliverinfor.lastname" placeholder="Last Name" ng-focus="isEdit" disabled>
					</div>
					<div>
						<p for="Your PhoneNumber">Phone Number*</p>
						<input type="text" class="tb-ship-enter-infor tb-basic-enter-infor" ng-model="deliverinfor.phone" placeholder="Your Phone Number" ng-disabled="isEdit">
					</div>
					<div>
						<p for="Your Delivery Address">Delivery Address*</p>
						<input type="text" class="tb-ship-enter-infor tb-basic-enter-infor" ng-model="deliverinfor.address" placeholder="Your Delivery Address" ng-disabled="isEdit">
					</div>
					<div>
						<p for="District">District*</p>
						<select class="select-enter-infor" ng-model="deliverinfor.district" ng-options="obj.id as obj.name for obj in districts" ng-disabled="isEdit"></select>
					</div>
					<div>
						<p for="City">City*</p>
						<select class="select-enter-infor">
							<option value="1">Da Nang</option>
						</select>
					</div>
					<div>
						<button class="btn-basic btn-submit" uib-popover="You need to add delivery address!" popover-trigger="mouseenter" popover-placement="right" ng-show="isNull">Submit</button>
						<button class="btn-basic btn-submit" ng-click="createOrder()" ng-show="!isNull"><i class="fa fa-spinner fa-pulse" ng-show="loading"></i>Submit</button>
					</div>		
				</div>			
			</div>
			<!-- time delivery -->
			<div class="time-infor-shipping" id="step9">
				<div class="title-infor-time-shipping title-enter-infor">
					<span>Time delivery Information</span>
				</div>
				<div class="all-infor-time-shipping all-infor" ng-show="showTimeDeliver" ng-if="checkStep(1)">
					<div class="option-time-shipping">
						<!-- <input type="radio" value="0" name="option" ng-model="deliverinfor.check" ng-change="isChecked()"> Default option
						<input type="radio" value="1" name="option" ng-model="deliverinfor.check" ng-change="isChecked()"> Other option -->
						<input id="question1" name="question" type="radio" class="with-font" value="0" ng-model="deliverinfor.check" ng-change="isChecked()" />
    					<label for="question1">Default Option </label>
    					<input id="question2" name="question" type="radio" class="with-font" value="1" ng-model="deliverinfor.check" ng-change="isChecked()"/>
    					<label for="question2">Other Option </label>
					</div>
					<div class="choose-time-option">
						<div ng-show="isDefault">	
							<p for="Prefer time">Default delivery time</p>
							<select class="select-enter-infor" ng-options="obj.id as obj.name for obj in hours" ng-model="deliverinfor.time" ng-change="changeDefaultTime()" id="step9a"></select>
						</div>
						<div ng-show="isOtherOption">
							<div class="all-dish-time-option" ng-repeat="datedeliver in listdate|orderBy:datedeliver">
							<div ng-repeat="time in times|orderBy:'id'">	
								<p ng-hide="result1.length<1"><b><span style="color:orange">{{time.name}},</span> {{datedeliver| date:'EEE, MMM d yyyy'}}</b></p>
									<div ng-repeat="dish in dishes| filterByDate:datedeliver | filterByHour:time as result1" class="dish-in-time-option" id="step9b">
										<div class="dish-allinfor-time-option">
											<img ng-src="{{dish.product.images[0].product_url}}" class="dish-img-in-time-option">
											<div class="dish-infor-time-option">
												<p class="dish-name-time-option"><b>{{dish.product.name}}</b></p>
												<p ng-init="baseSize=dish.size"> for {{baseSize}} people<br>
												{{dish.price|currency:"":0}} VND
												</p>
											</div>
										</div>
										<div class="select-time-option">
											<div class="split-left">
												<!-- <button class="split-button">Split</button> -->
											</div>
											<div class="split-right" uib-popover="Move dish to time delivery you want" popover-trigger="mouseenter" id="step9b">
												<div ng-init="number=dish.size">
													<input type="number" ng-model="number" max="{{dish.size}}" min="1"  name="number" class="tb-basic-enter-infor input-number">
												</div>
												<div ng-init="selectedHour=dish.hour.id">
													<select class="select-enter-infor select-time-deliver" ng-options="obj.id as obj.name for obj in hours" ng-model="selectedHour" id="step9c"></select>		
												</div>
												<div>
													<button ng-click="changeSplit(dish.product.id,datedeliver,time.id,number,selectedHour)" class="btn-basic" id="step9d"><i class="fa fa-check" aria-hidden="true"></i></button>
												</div>
											</div>
										</div>	
									</div>
								</div>
							</div>
						</div>
					</div>
					<div>
						<button class="btn-basic btn-submit" ng-click="createTimeOrder()"><i class="fa fa-spinner fa-pulse" ng-show="nextloading"></i>Submit</button>
					</div>
				</div>
			</div>
			<!-- infor of food preferences -->
			<div class="enter-infor-food-preference" ng-show="showFoodPreference" ng-if="checkStep(2)" id="step11"> 
				<div class="title-infor-food-preference title-enter-infor">
							<p>Food preferences(Optional)</p>
				</div>	
				<div class="all-infor-preference all-infor">
						<div class="amount-serving-infor-food-preference">
							<p>How many people in your family?</p>
							<select class="select-enter-infor amount-serving" ng-model="deliverinfor.people" ng-options="obj.value as obj.amount for obj in peoples"></select>
						</div>
						<div class="anthing-else-infor-food-preference">
							<p>Tell us what food you like (Select all that apply</p>
							<div>
								<input type="text" class="tb-ship-enter-infor tb-basic-enter-infor" ng-model="deliverinfor.foodlike" placeholder="Your enjoying food" ng-change="getFoodLike()">	
							</div>
							<div class="results" ng-show="isAddedLike">
								<div ng-repeat="ingre in ingredients" class="item">
									<a ng-click="setFoodLike(ingre.id)">
									<div class="img-ingre">
										<img ng-src="{{ingre.images[0].mini_url}}" class="img">
									</div>
									<div class="name-ingre">
										<span>{{ingre.name}}</span>
									</div>
									</a>
								</div>
							</div>
							<div ng-show="isChooseLike" class="food-like">
								<div ng-repeat="obj in list.like" class="food">
										<img ng-src="{{obj.image}}" style="border-radius:50%">
										<a ng-click="deleteLIkeIngredient(obj.id)" class="food-like-a"><img src="./images/delete-dish.png"class="img-delete" ></a>
								</div>
							</div>
							<p>Anything you don't like?</p>
							<div>	
								<input type="text" class="tb-ship-enter-infor tb-basic-enter-infor" ng-model="deliverinfor.fooddislike" placeholder="Your unenjoying food" ng-change="getFoodDisLike()">
							</div>
							<div class="results" ng-show="isAddedDisLike">
								<div ng-repeat="ingre in ingredients" class="item">
								<a ng-click="setFoodDisLike(ingre.id)">
									<div class="img-ingre">
										<img ng-src="{{ingre.images[0].mini_url}}" class="img">
									</div>
									<div class="name-ingre">
										<span>{{ingre.name}}</span>
									</div>
								</a>
								</div>
							</div>
							<div ng-show="isChooseDisLike" class="food-like">
									<div ng-repeat="obj in list.dislike" class="food">
											<img ng-src="{{obj.image}}" style="border-radius:50%">	
											<a ng-click="deleteDisLikeIngredient(obj.id)" class="food-like-a"><img src="./images/delete-dish.png" class="img-delete"></a>
									</div>
							</div>
								
							<p>Anything else we should know about your eating habits?</p>
							<textarea class="textarea-food-preference tb-basic-enter-infor" placeholder="Write something" ng-model="deliverinfor.feeling"></textarea>
						</div>
						<div>
							<button class="btn-basic btn-submit" ng-click="addFoodPreference()">Submit</button>
						</div>		
				</div>
			</div>

			<!-- infor of type of payment -->
			<div class="enter-infor-payment-method" id="step10">
				<div class="title-infor-payment-method title-enter-infor">
					<p>Payment Method</p>
				</div>
				<div class="payment-infor" ng-show="showPaymentMethod" ng-if="checkStep(3)"> 
					<div class="content-payment-method">
						<p class="title-content-payment-method">Save when paying with prepaid card!</p>
							<ul>
								<li class="save-payment-method">
									<div class="tick-bullet"></div>
									<p class="extra-content">Get an extra <b>bonus 50.000 VND</b> on your first purchage</p>
								</li>
								<li class="save-payment-method">
									<div class="tick-bullet"></div>
									<p class="extra-content">Get an extra <b>bonus 50.000 VND</b> on your first purchage</p>
								</li>
								<li class="save-payment-method">
									<div class="tick-bullet"></div>
									<p class="extra-content">Get an extra <b>bonus 50.000 VND</b> on your first purchage</p>
								</li>
							</ul>
					</div>
					<div class="select-payment-method">
						<p>Choose Your Payment Method</p>
						<ul>
							<li class="typeof-pay" ng-class="{'active':isCurrentPayMethod(0)}" ng-click="setCurrentPayMethod(0)">
								<svg class="svg-cash" viewBox="0 0 512 512">
                                        <path class="svg-cash-hand" d="M106.908,147h56.33h96.607c22.139,0,31.855-0.384,37.188-0.055c5.463,0.334,10.715,2.463,17.723,7.55 c7.719,5.749,21.205,9.042,32.086,20.779c10.906,11.666,32.221,35.637,37.277,42.137c5.01,6.46,32.637,72.549-38.697,77.367 c-71.357,4.78-125.639-8.428-137.912-8.914c-12.289-0.485-31.773-5.975-51.424-10.815c-38.977-9.601-36.828-17.492-57.422-19.182 c-20.619-1.691-29.092-3.55-29.092-3.55L79.035,147H106.908z"></path>
                                        <path class="svg-cash-money" d="M426.537,100.903c0,0-49.463,56.124-93.143,92.677c-67.695,56.555-160.115,96.963-160.115,96.963 s36.949,80.367,46.809,121.462c53.283-30.399,150.305-93.938,189.299-124.44c35.197-27.506,95.736-99.566,95.736-99.566 L426.537,100.903z"></path>
                                        <path class="svg-cash-money-inner" d="M297.721,266.825c0,22.905,18.574,41.479,41.48,41.479 c22.908,0,41.482-18.574,41.482-41.479c0-22.919-18.574-41.481-41.482-41.481C316.295,225.344,297.721,243.906,297.721,266.825"></path>
                                        <path class="svg-cash-money-inner" d="M427.875,171.335c7.904,10.497,21.02,15.349,29.307,10.849 c8.346-4.563,8.65-16.735,0.715-27.284c-7.924-10.507-21.049-15.327-29.318-10.825 C420.305,148.616,419.969,160.839,427.875,171.335"></path>
                                        <path class="svg-cash-money-inner" d="M218.041,334.839c6.117,11.018,19.02,17.316,28.619,14.096 c9.697-3.181,12.477-14.663,6.301-25.642c-6.143-11.059-19.066-17.317-28.656-14.179 C214.619,312.355,211.881,323.83,218.041,334.839"></path>
                                        <path class="svg-cash-hand" d="M258.408,177.271c0,0,11.541,20.897,27.688,23.333c16.107,2.376,47.537,13.668,55.719,14.892 c8.143,1.148,27.1,5.382,27.1,21.029c0,8.212-5.717,34.513-27.863,34.513c-24.717,0-52.084-17.135-60.707-20.498 c-8.588-3.383-34.088-12.718-45.455-9.574c-11.262,3.09-35.111,2.374-50.895,0.941c-15.918-1.473-46.842-9.115-57.725-17.059 c0,0-18.08-9.965,20.4-28.777C185.225,177.282,242.934,162.21,258.408,177.271"></path>
                                        <path class="svg-cash-thumb" d="M258.408,177.271c0,0,11.541,20.897,27.688,23.333 c16.107,2.376,47.537,13.668,55.719,14.892c8.143,1.148,27.1,5.382,27.1,21.029c0,8.212-5.717,34.513-27.863,34.513 c-25.951,0-52.084-17.135-60.707-20.498c-8.588-3.383-34.088-12.718-45.455-9.574c-11.262,3.09-35.111,2.374-50.895,0.941 c-15.918-1.473-46.842-9.115-57.725-17.059c0,0-18.08-9.965,20.4-28.777C185.225,177.282,242.934,162.21,258.408,177.271z"></path>
                                        <path class="svg-cash-hand" d="M265.518,168.38l-16.447,17.848c0,0-48.854,11.748-74.717,19.733c-25.797,7.985-40.836,11.747-40.836,11.747 s-8.441,16.883-14.053,19.195c-5.65,2.386-20.699-8.41-10.391-31.398c10.391-23.032,20.254-46.032,77.559-47.435 c57.232-1.419,73.191-7.571,78.396,0.425C270.217,166.511,265.518,168.38,265.518,168.38"></path>
                                        <path class="svg-cash-shirt-inner" d="M57.346,142c-29.242,42-29.242,135-29.242,135H90V142H57.346z"></path>
                                        <path class="svg-cash-shirt-outer" d="M7,122v165.564c16,8.649,63,10.37,63,10.37V121.644c0,0-45,0.484-63,0"></path>
                                </svg>			
							</li>
							<li class="typeof-pay" ng-click="setCurrentPayMethod(1)" ng-class="{'active':isCurrentPayMethod(1)}">
								<div>
									<img src="./images/icon_img.png" class="money_bag">
									<div class="prepaid">Prepaid</div>
								</div>
							</li>
							<li class="typeof-pay" ng-class="{'active':isCurrentPayMethod(2)}" ng-click="setCurrentPayMethod(2)">
								<img src="./images/icons/paypal.png">			
							</li>
							<li class="typeof-pay" ng-click="setCurrentPayMethod(3)" ng-class="{'active':isCurrentPayMethod(3)}">
								<img src="./images/icons/bitcoin.png" class="bitcoin">
							</li>
						</ul>
					</div>
					<div class="notification-money" ng-if="isCurrentPayMethod(0)">
						Pay when you receive your orders	
					</div>
					<div class="notification-money" ng-if="isCurrentPayMethod(1) && total > balance">
						<p>Pay by your prepaid card.<br>
						Your total budget: {{balance | filterMoney}} VND<br>
						If you don't have enough money to pay by this method. Let's change your payment method or</p>
						<a ui-sref="app.prepaid"><button class="btn-basic">Refill my Prepaid Card</button></a>
					</div>
					<div class="notification-money" ng-if="isCurrentPayMethod(1) && total <= balance">
						Pay by prepaid card
					</div>
					<div class="notification-money" ng-if="isCurrentPayMethod(2)">
						Pay by paypal	
					</div>		
					<div class="notification-money" ng-if="isCurrentPayMethod(3)">
						Pay by bitcoin	
					</div>	
				</div>
			</div>
		</div>
		<div class="btn-enter-infor" align="right"  ng-show="showPaymentMethod">
			<button class="btn-basic btn-checkout" ng-click="checkOut()" ng-disabled="isCurrentPayMethod(1) && total > balance"><i class="fa fa-spinner fa-pulse" ng-show="loading"></i>Checkout</button>
		</div>	
	</div>
</form>
	<!-- modal -->
		<div class="modal fade" id="myModal" role="dialog">
		    <div class="modal-dialog">
		    <form name="newaddressform">
		    	<!-- Modal content-->
		      <div class="modal-content">
		        <div class="modal-header">
		          <button type="button" class="close" data-dismiss="modal">&times;</button>
		          <h4 class="modal-title">Add New Address</h4>
		        </div>
		        <div class="modal-body">
		        	<div>
		        	<div>
		        		<input type="text" class="tb-basic-enter-infor" name="firstname" placeholder="First name" ng-minlength="2" required ng-model="deliverinfor.firstname"/>
						<span class="error-newaddress-enter-infor" ng-show="newaddressform.firstname.$dirty && newaddressform.firstname.$error.required" class="error">Firstname is required</span>
						<span class="error-newaddress-enter-infor" ng-show="newaddressform.firstname.$dirty && newaddressform.firstname.$error.minlength" class="error">Firstname is more than 2 characters</span>
		        	</div>
		        	<div>
		        		<input type="text" class="tb-basic-enter-infor" name="lastnamedeliver" placeholder="Last name" ng-minlength="2" required ng-model="deliverinfor.lastname"/>
						<span class="error-newaddress-enter-infor" ng-show="newaddressform.lastnamedeliver.$dirty && newaddressform.lastnamedeliver.$error.required" class="error">Lastname is required</span>
						<span class="error-newaddress-enter-infor" ng-show="newaddressform.lastnamedeliver.$dirty && newaddressform.lastnamedeliver.$error.minlength" class="error">Lastname is more than 2 characters</span>
		        	</div>
		        	<div>
		        			<input type="text" class="tb-basic-enter-infor" placeholder="Your Phone Number" name="newphone" ng-model="deliverinfor.newphone" ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/" required>
		        			<span class="error-newaddress-enter-infor" class="error-newaddress-enter-infor" ng-show="newaddressform.newphone.$dirty && newaddressform.newphone.$error.required">Your phone is required</span>	
		        			<span class="error-newaddress-enter-infor" class="error-newaddress-enter-infor" ng-show="newaddressform.newphone.$dirty && newaddressform.newphone.$error.pattern">Your phone is invalid</span>	
		        		</div>
		        		<div>
		        			<input type="text" class="tb-basic-enter-infor" placeholder="Your Address" name="newaddress" ng-model="deliverinfor.newaddress" required>
		        			<span class="error-newaddress-enter-infor" ng-show="newaddressform.newaddress.$dirty && newaddressform.newaddress.$error.required">Your address is required</span>
		        		</div>
		        		<div>
		        			<select class="select-enter-infor" ng-options="obj.id as obj.name for obj in districts" ng-model="deliverinfor.newdistrict"></select>
		        		</div>
		        		<div>
		        			<select class="select-enter-infor">
		        			<option value="1">Da Nang</option></select>
		        		</div>
		        	</div>
		        </div>
		        <div class="modal-footer">
		        	<span class="success-newaddress" ng-show="isSuccess">{{error_newaddress}}</span>
		        	<span class="error-newaddress" ng-show="isError">{{error_newaddress}}</span>
		        	<button class="btn-basic btn-address" ng-disabled="newaddressform.$invalid" ng-click="overwriteAddress()">Submit</button>
		          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		        </div>
		      </div>
		    </form>   
		    </div>
		  </div>
		  <div class="modal fade" id="editModal" role="dialog">
		    <div class="modal-dialog">
		    <form name="editaddressform">
		    	<!-- Modal content-->
		      <div class="modal-content">
		        <div class="modal-header">
		          <button type="button" class="close" data-dismiss="modal">&times;</button>
		          <h4 class="modal-title">Edit Address</h4>
		        </div>
		        <div class="modal-body">
		        	<div>
		        	<div>
		        		<input type="text" class="tb-basic-enter-infor" name="firstname" placeholder="First name" ng-minlength="2" required ng-model="deliverinfor.firstname"/>
						<span class="error-newaddress-enter-infor" ng-show="editaddressform.firstname.$dirty && editaddressform.firstname.$error.required" class="error">Firstname is required</span>
						<span class="error-newaddress-enter-infor" ng-show="editaddressform.firstname.$dirty && editaddressform.firstname.$error.minlength" class="error">Firstname is more than 2 characters</span>
		        	</div>
		        	<div>
		        		<input type="text" class="tb-basic-enter-infor" name="lastnamedeliver" placeholder="Last name" ng-minlength="2" required ng-model="deliverinfor.lastname"/>
						<span  class="error-newaddress-enter-infor" ng-show="editaddressform.lastnamedeliver.$dirty && editaddressform.lastnamedeliver.$error.required" class="error">Lastname is required</span>
						<span class="error-newaddress-enter-infor" ng-show="editaddressform.lastnamedeliver.$dirty && editaddressform.lastnamedeliver.$error.minlength" class="error">Lastname is more than 2 characters</span>
		        	</div>
		        	<div>
		        			<input type="text" class="tb-basic-enter-infor" placeholder="Your Phone Number" name="newphone" ng-model="deliverinfor.phone" ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/" required>
		        			<span class="error-newaddress-enter-infor" class="error-newaddress-enter-infor" ng-show="editaddressform.newphone.$dirty && editaddressform.newphone.$error.required">Your phone is required</span>	
		        			<span class="error-newaddress-enter-infor" class="error-newaddress-enter-infor" ng-show="editaddressform.newphone.$dirty && editaddressform.newphone.$error.pattern">Your phone is invalid</span>	
		        		</div>
		        		<div>
		        			<input type="text" class="tb-basic-enter-infor" placeholder="Your Address" name="newaddress" ng-model="deliverinfor.address" required>
		        			<span class="error-newaddress-enter-infor" ng-show="editaddressform.newaddress.$dirty && editaddressform.newaddress.$error.required">Your address is required</span>
		        		</div>
		        		<div>
		        			<select class="select-enter-infor" ng-options="obj.id as obj.name for obj in districts" ng-model="deliverinfor.district"></select>
		        		</div>
		        		<div>
		        			<select class="select-enter-infor"><option value="1">Da Nang</option></select>
		        		</div>
		        	</div>
		        </div>
		        <div class="modal-footer">
		        	<span class="success-newaddress" ng-show="isDeliverSuccess">{{error_editaddress}}</span>
		        	<span class="error-newaddress" ng-show="isDeliverError">{{error_editaddress}}</span>
		        	<button class="btn-basic btn-address" ng-disabled="editaddressform.$invalid" ng-click="editAddress()">Submit</button>
		          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		        </div>
		      </div>
		    </form>   
		    </div>
		  </div>
</div>