<div class="size_prepaid" ng-init="init()"
smooth-scroll
duration="500"
easing="easeInOutQuint"
offset="120">
	<div class="header-prepaid">
		<div class="title">
			Save when paying with prepaid card!
		</div>
		<div class="pay-benefit">
			<div class="pay-benefit-item">
				<div class="tick-bullet">
					
				</div>
				<div class="pay-benefit-item-detail">
					Get an extra <span>bonus 50,000 VND</span> on your first purchage
				</div>
			</div>
			<div class="pay-benefit-item">
				<div class="tick-bullet">
					
				</div>
				<div class="pay-benefit-item-detail">
					Get an extra <span>bonus 80,000 VND</span> on your first purchage
				</div>
			</div>
			<div class="pay-benefit-item">
				<div class="tick-bullet">
					
				</div>
				<div class="pay-benefit-item-detail">
					Get an extra <span>bonus 100,000 VND</span> on your first purchage
				</div>
			</div>
		</div>
	</div>
	<div class="plans-prepaid">
		<div class="title">Choose Your Amount</div>
		<div class="plans" id="plans">
			<div class="plan" ng-repeat="amount in amounts" 
			ng-click="selectAmount($index)"  ng-class="{highlight : $index == number}">
				<div class="title">
					{{amount.name}}
				</div>
				<p class="price">
					{{amount.price | filterMoney}}
					<span class="currency"> VND</span>
				</p>
				<ul class="plan-features">
					<li class="plan-feature">
						{{amount.bonus | filterMoney}}
						<span class="plan-feature-name"> VND</span>
					</li>
					<li class="plan-feature">
						Free
						<span class="plan-feature-name">Shipping</span>
					</li>
				</ul>
			</div>
		</div>
		<hr>
	</div>
	<div class="select-payment-method">
		<p class="title_payment" >Select Your Payment Method</p>
		<ul class="ul_payment" id="payment">
			<li class="typeof-pay" ng-click="setCurrentPayMethod(0)" ng-class="{'active': currentPayMethod == 0}" >
				<img src="./images/icons/paypal.png">
			</li>
			<li class="typeof-pay" ng-click="setCurrentPayMethod(2)" ng-class="{'active': currentPayMethod == 2}" >
				<img src="./images/icons/bitcoin.png" class="bitcoin">
			</li>
			<!-- <li class="typeof-pay" ng-class="{'active': currentPayMethod == 1}" ng-click="setCurrentPayMethod(1)">
				By ATM
				<svg class="svg-cash" viewBox="0 0 512 512">
                    <path class="svg-cash-hand" d="M106.908,147h56.33h96.607c22.139,0,31.855-0.384,37.188-0.055c5.463,0.334,10.715,2.463,17.723,7.55 c7.719,5.749,21.205,9.042,32.086,20.779c10.906,11.666,32.221,35.637,37.277,42.137c5.01,6.46,32.637,72.549-38.697,77.367 c-71.357,4.78-125.639-8.428-137.912-8.914c-12.289-0.485-31.773-5.975-51.424-10.815c-38.977-9.601-36.828-17.492-57.422-19.182 c-20.619-1.691-29.092-3.55-29.092-3.55L79.035,147H106.908z"></path>
                    <path class="svg-cash-money" d="M426.537,100.903c0,0-49.463,56.124-93.143,92.677c-67.695,56.555-160.115,96.963-160.115,96.963 s36.949,80.367,46.809,121.462c53.283-30.399,150.305-93.938,189.299-124.44c35.197-27.506,95.736-99.566,95.736-99.566 L426.537,100.903z"></path>
                    <path class="svg-cash-money-inner" d="M297.721,266.825c0,22.905,18.574,41.479,41.48,41.479 c22.908,0,41.482-18.574,41.482-41.479c0-22.919-18.574-41.481-41.482-41.481C316.295,225.344,297.721,243.906,297.721,266.825"></path>
                    <path class="svg-cash-money-inner" d="M427.875,171.335c7.904,10.497,21.02,15.349,29.307,10.849 c8.346-4.563,8.65-16.735,0.715-27.284c-7.924-10.507-21.049-15.327-29.318-10.825 C420.305,148.616,419.969,160.839,427.875,171.335"></path>
                    <path class="svg-cash-money-inner" d="M218.041,334.839c6.117,11.018,19.02,17.316,28.619,14.096 c9.697-3.181,12.477-14.663,6.301-25.642c-6.143-11.059-19.066-17.317-28.656-14.179 C214.619,312.355,211.881,323.83,218.041,334.839"></path>
                    <path class="svg-cash-hand" d="M258.408,177.271c0,0,11.541,20.897,27.688,23.333c16.107,2.376,47.537,13.668,55.719,14.892 c8.143,1.148,27.1,5.382,27.1,21.029c0,8.212-5.717,34.513-27.863,34.513c-24.717,0-52.084-17.135-60.707-20.498 c-8.588-3.383-34.088-12.718-45.455-9.574c-11.262,3.09-35.111,2.374-50.895,0.941c-15.918-1.473-46.842-9.115-57.725-17.059 c0,0-18.08-9.965,20.4-28.777C185.225,177.282,242.934,162.21,258.408,177.271"></path>
                    <path class="svg-cash-thumb" d="M258.408,177.271c0,0,11.541,20.897,27.688,23.333 c16.107,2.376,47.537,13.668,55.719,14.892c8.143,1.148,27.1,5.382,27.1,21.029c0,8.212-5.717,34.513-27.863,34.513 c-25.951,0-52.084-17.135-60.707-20.498c-8.588-3.383-34.088-12.718-45.455-9.574c-11.262,3.09-35.111,2.374-50.895,0.941 c-15.918-1.473-46.842-9.115-57.725-17.059c0,0-18.08-9.965,20.4-28.777C185.225,177.282,242.934,162.21,258.408,177.271z"></path>
                    <path class="svg-cash-hand" d="M265.518,168.38l-16.447,17.848c0,0-48.854,11.748-74.717,19.733c-25.797,7.985-40.836,11.747-40.836,11.747 s-8.441,16.883-14.053,19.195c-5.65,2.386-20.699-8.41-10.391-31.398c10.391-23.032,20.254-46.032,77.559-47.435 c57.232-1.419,73.191-7.571,78.396,0.425C270.217,166.511,265.518,168.38,265.518,168.38"></path>
                    <path class="svg-cash-shirt-inner" d="M57.346,142c-29.242,42-29.242,135-29.242,135H90V142H57.346z"></path>
                    <path class="svg-cash-shirt-outer" d="M7,122v165.564c16,8.649,63,10.37,63,10.37V121.644c0,0-45,0.484-63,0"></path>
	            </svg>			
			</li> -->
		</ul>
	</div>
	<hr>
	<!-- <div class="atm" ng-show="isCurrentPayMethod(1)">
		<h5>Select service and Online Payment with Domestic Debit Card</h5>
		<ul class="atm-item">
			<li class="item" ng-repeat="atm in atms"
				ng-click="selectAtm($index)"  ng-class="{on : isCurrentATM($index)}">
				<img ng-src="{{atm.image}}" title="{{atm.name}}">
			</li>
			
		</ul>
	</div> -->
	<div class="payment-form">
		<button class="btn-submit" type="submit" ng-click="addMoney(currentPayMethod)">Submit</button>
	</div>
	
</div>