<div class="revieworder size" ng-init="init()"
smooth-scroll
duration="500"
easing="easeInOutQuint"
offset="120">
	<div class="first">
		<div class="title">
			-Thank You-
		</div>
		<div class="bonus">
			Your foods will be delivering soon
		</div>
	</div>
	<div class="second" id="step20">
		<div class="panel panel-default">
            <!-- Default panel contents -->
        	<div class="panel-heading heading">
        		<div class="title">
        			Your orders
        		</div>
        	</div>
        	<!-- Table -->
	        <table class="table table-striped">
	          <tr>
	            <td>Receiver</td>
	            <td>{{user.first_name}} {{user.last_name}}</td>
	          </tr>
	          <tr>
	            <td>Phone</td>
	            <td>{{user.phonenumber}}</td>
	          </tr>
	          <tr>
	            <td>Address</td>
	            <td>{{user.address}}, {{user.district}}</td>
	          </tr>
	          <tr>
	            <td>Items ({{dishes.length}})</td>
	            <td>
	            	<div ng-repeat="dish in dishes">
	            		<span class="product">{{dish.product.name}} : </span>
	            		<div class="money">
	            			{{dish.product.dish_price | filterMoney}} x {{dish.size}} = {{dish.price | filterMoney }} VND
	            		</div>
	            	</div>
            	</td>
	          </tr>
	          <tr>
	            <td>Total</td>
	            <td>
	            	{{total|filterMoney}} VND / {{amount}} people
            	</td>
	          </tr>
	          <tr>
	            <td>Delivery Time</td>
	            <td>
	            	<div ng-repeat="product in user.products">
	            		<span class="product">
	            			{{product.product.name}} : 
	            		</span>
		            	<div class="money">
		            		<div>Date : {{product.date | date : "dd/MM"}}</div>
		            		<div>Time : {{product.hour.name}}</div>
		            	</div>
	            	</div>
	            	
            	</td>
	          </tr>
	          <tr>
	            <td>Payment</td>
	            <td>{{user.payBy}}</td>
	          </tr>
	          
	        </table>
      	</div>

		<div class="return">
			<down-Load id="step21"></down-Load>
			<button type="button" class="btn btn-default shopping" ng-click="returnShopping()" id="step22">
				<i class="fa fa-hand-o-left"></i>
				Return shopping
			</button>
		</div>
	</div>
</div>