<!-- custom footer html -->
<div class="footer">
	<center>
		<div class="head-foot">
			<p class="title-footer">Keep in touch to receive our delicious recipes by FreshFood</p>	
		</div>
		<div class="form-footer">
			<div>
				<form name="sendSubscribeForm">
				<div class="form-group" id="email">
					<input class="form-control" type="email" placeholder="Your email" name="emailSend" ng-model="emailSend" id="input-footer" required/>
	            </div>
	            <div class="form-actions" id="button">
	            	<button class="btn btn-footer" ng-disabled="sendSubscribeForm.$invalid" ng-click="Send()" data-loading-text="Sending...">{{textSubscribe}}</button>
	            </div>
				</form>
			</div>
				<div uib-collapse="isCollapsed" class="er-subscribe" style="width:500px" ng-show="isSuccess">
					<div class="well well-lg">{{errorsubemail}}</div>
				</div>
				<div uib-collapse="isCollapsed" class="error-mess er-subscribe" style="width:500px" ng-show="isError">
					<div class="well well-lg">{{errorsubemail}}</div>
				</div>	
		</div>
		<div class="nav-footer">
			<a href="" class="nav-item">HOW IT WORK  |</a>
			<a href="" class="nav-item">  DELIVERY ZONE  |</a>
			<a href="" class="nav-item">  OUR MISSION  |</a>
			<a href="" class="nav-item">  CAREERS  |</a>
			<a href="" class="nav-item">  FAQS |</a>
		 	<a 
		 	facebook-feed-share 
		 	class="facebookShare" 
		 	data-url='{{url}}' 
		 	data-shares='shares', 
		 	data-description="{{description}}"
		 	data-name="{{title}}"
		 	data-picture ="{{image}}">
		 	{{ shares }}
		 	</a>
		</div>
	</center>
</div>
