<div class="size"
  ng-intro-options="IntroOptions" 
  ng-intro-method="CallMe"
  ng-intro-oncomplete="CompletedEvent" 
  ng-intro-onexit="ExitEvent"
  ng-intro-onchange="ChangeEvent" 
  ng-intro-onbeforechange="BeforeChangeEvent"
  ng-intro-autostart="false">
  <div class="header">
    <div class="title_header">
      <a ui-sref="app">
        <img alt="Brand" src="../images/icon_img.png" width="30px" height="30px">
      </a>
      <a ui-sref="app" class="title">
        <span>Freshfood</span>
      </a>
    </div>
    <ul>
      <li id="step1">
        <a ui-sref="app.onthemenu">
        On The Menu
        </a>
      </li>
      <li>
        <a ng-click="Instruction()" ng-class="{instruction: isActive}">
          Instruction
        </a>
      </li>
      <li >
        <a ui-sref="app.about">
          About Us
        </a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a class="search">
          <div class="form-group has-feedback">
            <input type="text" class="form-control" ng-model="searchText" 
            placeholder="Search your foods" ng-change="search()" ng-blur="hide()">
            <span class="glyphicon glyphicon-search form-control-feedback"></span>
          </div>
        </a>
        <div class="search" id="results" ng-show="searchText.length != 0" 
        ng-class="products.length >= 6 ? 'scroll' : ''">
          <ul>
            <li ng-repeat="product in products" ng-mousedown='startToShowItem()' ng-mouseup='show(product.id,product.available_on)'>
              <div class="media">
                <div class="media-left">
                  <a>
                    <img class="media-object" ng-src="{{product.images[0].small_url}}" alt="Image">
                  </a>
                </div>
                <div class="media-body">
                  <p class="media-heading">{{product.name | minimizeText:23}}</p>
                  <span>{{product.dish_type.name}}</span>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <a ui-sref="app.login" ng-hide="isLogined" >
        Login
        </a>
      </li>
      <li id="register">
        <a ui-sref="app.login.register" ng-hide="isLogined">
        Sign up
        </a>
      </li>
      <li class="account_li" ng-hide="!isLogined">
        <div class="dropdown">
          <a class="account_a">
              <img ng-src="{{user_name_account | filterAvarta}}" width="28px" height="28px">
              <div class="name">Hi,{{user_name_account | filterName | minimizeText:10}}</div>
              <div class="money">{{user_name_account.balance | filterMoney}} VND</div>
          </a>
          <div class="dropdown-content">
            <a ui-sref="app.editprofile">Account</a>
            <a ui-sref="app.wishlist">Favorite list</a>
            <a ng-click="Logout()">Logout</a>
          </div>
        </div>
      </li> 
      <li class="bag-li" id="step5">
        <div class="bag-dropdown">
          <a ui-sref="app.bag">
            <img src="./images/bag_icon.png" class="bag-img">
            <div class="bag-number">
            <span class="bag-font">{{getAmountOfBag()}}</span>
            </div>
            <span class="bag-name">Bag</span>
          </a>
         <!--  <div class="dropdown-bagcontent">
            <center>
              <a ui-sref="app.bag">
                <button class="bag-btn"><b>View Bag/Checkout</b></button>
              </a>
            </center>
          </div> -->
        </div>
      </li>
      
    </ul>
    
  </div>
</div>
