<!-- custome user home page -->

<!-- custom slideshow form-->
<div ng-controller="UserHomePageCtrl" class="user-home" ng-init="init()">
	<!-- custom main header slideshow -->
<div id="myCarouselMain" class="carousel slide carousel-fade" data-ride="carousel">
   <div class="carousel-inner" role="listbox">
<div class="part1 item" ng-class="{active:!$index}" ng-repeat="slide in slides"  style="background-image:url('{{slide.src}}')">
<div class="in-mainheader">
  <center>
  <h1 class="font-title1">{{slide.title1}}</h1>  
  <h4 class="font-title2">{{slide.title2}}</h4>
  <div>
    <button class="btn-white">
       <p class="font-btnup">Learn more</p>
      <p class="font-btndown">Discover how we work</p>
    </button> 
    <a ng-href="#/main/onthemenu">
      <button class="btn-violet" ng-click="setLink()">
      <p class="font-btnup">See our menu</p>
      <p class="font-btndown">Discover how we work</p>
    </button>
    </a>
  </div>
</center>
</div>
</div>
</div>
</div>
<!-- custom li title of slide show -->
<div class="title-mainslidewshow">
  <ul>
    <li ng-repeat="slide in slides" data-target="#myCarouselMain" data-slide-to="{{$index}}" class="link">
    <a>
    <img ng-src="{{slide.icon}}">
    <center>
      <p class="font-slideicon">{{slide.title1}}</p>
    </center>
    </a> 
    </li>
  </ul>
</div>
<!-- custom part 2 -->
<div class="part2">
<div class="row">
<center>
		<div>
			<h1 class="font-title1" style="color:#8b77bc">Let do us your legworks</h1>
			<h4 class="font-title2legwork">We'll send all gredients you need</h4>
		</div>
	<div class="col-md-4">
		<p class="font-titlelegwork"><b>WHAT WE DO</b></p>
		<img src="./images/legwork/LegWork-Wedo.png" height="400px">
	</div>
	<div class="col-md-4">
		<img src="./images/legwork/dish-cut-1.png" height="400px">
	</div>
	<div class="col-md-4">
		<p class="font-titlelegwork"><b>WHAT YOU DO</b></p>
		<img src="./images/legwork/LegWork-Youdo.png" height="400px">
	</div>
	</center>
</div>
</div>
<center>
<h1 class="font-title1" style="color:#8b77bc">We know your taste</h1>
  <p class="font-title2legwork">We provide the recipes depend on your favorite. We know what do you like how is your tase</p>
	<div class="container">
  <br>
  <div class="list-menu">
  <ul class="ul-menu">
    <li class="menudish">
      <a ng-click="selectCategory('Main Dish')" style="font-size:20px" ng-class="{'active':ismainCategory('Main Dish')}">Main dish</a>
    </li>
    <li class="menudish">
      <a ng-click="selectCategory('Soup')" style="font-size:20px" ng-class="{'active':issoupCategory('Main Dish')}">Soup</a>
    </li>
    <li class="menudish">
       <a ng-click="selectCategory('Vegetable')" style="font-size:20px" ng-class="{'active':isvetCategory('Main Dish')}">Vegetable</a> 
    </li>
  </ul>
  </div>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item" ng-repeat="dish in dishes|filter:categoryFilterFn" ng-class="{active:!$index}" ng-click="setdishID(dish.id)">
        <div class="item-image" style="background-image:url('{{dish.image}}')">
           <div class="carousel-caption" >
          <img ng-src="{{dish.icon}}" width="40" height="40" style="float:left;margin-left:150px;">
          <h3 class="dish-title1">{{dish.title1}}</h3>
          <p class="dish-title2">{{dish.title2}}</p>
        </div>
      </div>
      </div>
   <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev" class="link">
     <!--  <img ng-repeat="dish in dishes" ng-show="pre" src="{{dish.image}}" class="dish-pre"> -->
    <!--  <img src="./images/soup/dish-9.jpg" ng-show="showImagefirst()"> -->
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next" class="link">
     <!--  <img ng-repeat="dish in dishes" ng-show="next" src="{{dish.image}}" class="dish-next"> -->
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    </div>
  </div>
</div>
</center>
<!-- custom button -->
<div class="row button-row">
	<div class="col-md-4"></div>
	<div class="col-md-2">
		<button class="btn-white">
			<p class="font-btnup">All recipes</p>
			<p class="font-btndown">See our delicious recipes</p>
		</button>
	</div>
	<div class="col-md-2">
  <a ng-href="#/main/onthemenu">
    <button class="btn-violet">
      <p class="font-btnup">Today Menu</p>
      <p class="font-btndown">See what to eat today</p>
    </button>
  </a>
	</div>
	<div class="col-md-4"></div>
</div>
<!-- custom part 3 -->
<div class="part3">
	<div class="content">
		<p class="font-title1">Delivery All Over In Da Nang</p>
		<p class="font-title1">24 Hours Per Week</p>
		<h4 class="font-part3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</h4>
		<button class="btn-violet" style="margin-left:0px">
				<p class="font-btnup">See our menu</p>
				<p class="font-btndown">Get started today</p>
		</button>
	</div>
</div>
<!-- custom our promise -->
<div class="row">
<center>
	<h1 class="font-title1" style="color:#8b77bc">Our promise</h1>
	<div class="col-md-1"></div>
	<div class="col-md-3 article-col">
		<img src="{{supplier[0].image}}" height="200" class="article">
		<div class="title">
		<h3 class="font-titlehead">{{supplier[0].head}}</h3>
<p class="font-titlebody">{{supplier[0].content}}</p>
<a href="" class="link-more">View more</a>

		</div>
	</div>
	<div class="col-md-3 article-col">
	<div class="title">
		<h3 class="font-titlehead">{{supplier[1].head}}</h3>
<p class="font-titlebody">{{supplier[1].content}}</p>
<a href="" class="link-more">View more</a>

	</div>
		<img src="{{supplier[1].image}}" height="200" class="article">
	</div>
	<div class="col-md-3 article-col">
		<img src="{{supplier[2].image}}" height="200" class="article">
		<div class="title">
		<h3 class="font-titlehead">{{supplier[2].head}}</h3>
<p class="font-titlebody">{{supplier[2].content}}</p>
<a href="" class="link-more">View more</a>

	</div>
	</div>
	<div class="col-md-2"></div>
	</center>
</div>

<!-- custom customer image -->
<div>
	<!-- custom image -->
	<div class="image_customer">
  <div class="part1" ng-repeat="quote in quotes" ng-hide="!isCurrentQuoteIndex($index)" style="background-image:url('{{quote.bigImage}}')" ng-class="{'moveup':isCurrentQuoteIndex($index)}">
    <center>
      <p class="font-btnup quote-content">{{quote.content}}</p>
      <p class="quote-address"><b>{{quote.name}} </b>AT {{quote.address}}</p>
    </center>
  </div>
	<!-- custom avatar image -->
	<div class="avatarlist">
    <ul class="avatarul">
      <li class="avatarli" ng-repeat="quote in quotes">
         <img class="avatar" ng-class="{'on':isCurrentQuoteIndex($index)}" ng-click="setCurrentQuoteIndex($index)" ng-src="{{quote.avatar}}">
         <center>
            <p class="quote-name" ng-show="isCurrentQuoteIndex($index)">{{quote.name}}</p>
         </center>
      </li>
    </ul>
  </div>
        <center>
    <div class="con">
      <h1 class="font-title1" style="color:#8b77bc">We're waiting to work with you</h1>
      <a ng-href="#/main/onthemenu">
        <button class="btn-violet" style="width:22em">
        <p class="font-btnup">See our menu</p>
        <p class="font-btndown">See our delicious recipes</p>
      </button>
      </a>
     </div>
  </center>
</div>
</div>

  <div class="notification" ng-show="isAddedMoney">
    <div class="addMoney">
      <div class="title">
        Congratulation !!!
      </div>
      <div class="content_notification">
        <img src="./images/icons/moneybag.png" class="image">
        <div class="sentence">
          You added {{money | filterMoney}} VND to your account
        </div>
      </div>
      <div class="confirm">
        <button class="btn btn-default okay" ng-click="isAddedMoney = false">Okay</button>
      </div>
    </div>
  </div>
</div>