<!-- custom forgot password page -->
<div class="forgotpassword">
	<!--  -->
	<div class="title-forgot">
		<h2>Forgot password</h2>
	</div>
	<!--  -->
	<div class="sendemail-forgot">
		<p>Forgot your password? Enter the email address of your account to reset your password, otherwise you can <a ng-href="#/main/login">try again</a></p>
		<form name="formforgot">
			<div class="form-group">
				<input type="email" placeholder="Enter your email" name="email-forgot" class="form-control" ng-model="emailforgot" id="email-forgot" required/>
				<span ng-show="formforgot.email-forgot.$dirty && formforgot.email-forgot.$error.email" class="error">Email is invalid</span>
            	<span ng-show="formforgot.email-forgot.$dirty && formforgot.email-forgot.$error.required" class="error">Email is required</span>
			</div>
			<div class="form-actions">
				<button class="btn-reset" ng-disabled="formforgot.$invalid ||loading" ng-click="Reset()" data-loading-text="Loading...">{{textreset}}</button>
			</div>
			<div class="error">{{error_forgot}}</div>
			<div class="success-message">{{success_forgot}}</div>
		</form>
	</div>
</div>