<!-- custom form login -->
<div class="main-login" 
smooth-scroll
duration="500"
easing="easeInQuint"
offset="120"
ng-init="init()"
>
<div class="row">
<!--  -->
	<div class="col-md-3">
		<div>
			<img class="icon_login" src="../images/icon_img1.png" width="35" height="35">
			<span class="icon_content">Freshfood</span>
			<p class="header-logsign"><a ui-sref="app.login.register" class="title-signup">Sign up</a>
			<a class="title-login"><b>Login</b></a> </p>
			
		</div>
	</div>
	<div class="col-md-3" id="login-form">
		<h1 class="font-login">Login to Freshfood</h1>
	<form name="form" role="form" >
        <div class="form-group" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">
            <label for="email" class="fontlogin">Email</label>
            <input type="email" name="email" id="email" class="form-control" ng-model="email" required />
            <span ng-show="form.email.$dirty && form.email.$error.email" class="error">Email is invalid</span>
            <span ng-show="form.email.$dirty && form.email.$error.required" class="error">Email is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
            <label for="password" class="fontlogin">Password</label>
            <input type="password" name="password" id="password" class="form-control" ng-model="password" required ng-minlength="6"/>
            <span ng-show="form.password.$dirty && form.password.$error.required" class="error">Password is required</span>
            <span ng-show="form.password.$dirty && form.password.$error.minlength" class="error">Password must be more than 6 characters</span>
        </div>
        <div class="form-group rememberCheck">
        	<input type="checkbox" name="rememberMe" ng-model="rememberMe"/><span>   Remember my email on this computer</span>
        </div>
        <div class="form-actions">
			<button type="submit" ng-disabled="form.$invalid" class="btn-login"  ng-click="login()">Login</button>
			<span class="error">{{errorlogin}}</span>
		</div>
    </form>
		<div class="horizontal"></div>
		<div class="no-account-login">
			<div class="fontlogin">
				<p>Don't have account</p>
				<a ng-href="#/main/login/register"><p>Sign up for free</p></a>
			</div>
			<div class="fontlogin">
				<p>Forgot your password</p>
				<a ng-href="#/main/login/forgotpassword"><p>Reset it here</p></a>
			</div>
		</div>

	</div>
</div>
	
</div>
<script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>