<!-- custom resetpassword form -->
<div class="reset_password">
	<h2 class="title-reset">Reset Password</h2>
<div class="form-resetpassword">
<form name="resetpassword">
        <div class="form-group" ng-class="{ 'has-error': resetpassword.password.$dirty && resetpassword.password.$error.required }">
            <label for="password" class="font">Password</label>
            <input type="password" name="passwordreset" id="password" class="form-control" ng-model="passwordreset" required min-length="6"/>
            <span ng-show="resetpassword.passwordreset.$dirty && resetpassword.passwordreset.$error.required" class="error">Password is required</span>
            <span ng-show="resetpassword.passwordreset.$dirty && resetpassword.passwordreset.$error.minlength" class="error">Password must be biger than 6 characters</span>
        </div>
         <div class="form-group" ng-class="{ 'has-error': resetpassword.repassword.$dirty && resetpassword.repassword.$error.required }">
            <label for="repassword" class="font">Retype Password</label>
            <input type="password" name="repasswordreset" id="password" class="form-control" ng-model="repasswordreset" required pw-check="password"/>
            <span ng-show="resetpassword.repasswordreset.$dirty && resetpassword.repasswordreset.$error.required" class="error">Password is required</span>
             <span class="error" ng-show="resetpassword.repasswordreset.$error.pwmatch" ng-hide="resetpassword.repasswordreset.$error.required">
            Passwords don't match</span>
        </div>
        <div class="form-actions">
            <button ng-disabled="resetpassword.$invalid" class="btn-change" ng-click="Reset()">Reset</button>
            <span class="error">
                {{reseterror}}
            </span>
        </div>
</div>
</form>
</div>

</div>